/* 
Theme Name: Clear
Theme URI: http://www.diovo.com/links/clear/
Description: <a href="http://www.diovo.com/links/clear/" title="Clear">Clear</a> is a free wordpress theme, released by <a href="http://www.diovo.com" title="Diovo" target="_blank">Diovo</a>. Clear is the perfect theme for great authors. It is clean, clear and beautiful. It is minimalistic one-cloumn theme with the widgets all arranged at the bottom. Clear was designed to make your content stand out and make everything else get out of the way. Check it out and you will fall in love with it.
Version: 1.2.5
Author: Niyaz PK
Author URI: http://www.diovo.com/about/
Tags: white, one-column, fixed-width, light
Last updated: 8:09 PM 4/22/2010

The CSS, XHTML and design is released under GPL: http://www.opensource.org/licenses/gpl-license.php
*/

/* Elements */
* 
{
	margin:0;
	padding:0;
}


/* =Fonts
-------------------------------------------------------------- */

@font-face {
	font-family:'DINProBold';
	src:url('http://tenscores.com/css/fonts/dinprobold.eot');
	src:url('http://tenscores.com/css/fonts/dinprobold.eot?#iefix') format('embedded-opentype'),
		url('http://tenscores.com/css/fonts/dinprobold.woff') format('woff'),
		url('http://tenscores.com/css/fonts/dinprobold.ttf') format('truetype'),
		url('http://tenscores.com/css/fonts/dinprobold.svg#dinprobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINProLight';
	src:url('http://tenscores.com/css/fonts/dinprolight.eot');
	src:url('http://tenscores.com/css/fonts/dinprolight.eot?#iefix') format('embedded-opentype'),
		url('http://tenscores.com/css/fonts/dinprolight.woff') format('woff'),
		url('http://tenscores.com/css/fonts/dinprolight.ttf') format('truetype'),
		url('http://tenscores.com/css/fonts/dinprolight.svg#dinprolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINProMedium';
	src:url('http://tenscores.com/css/fonts/dinpromedium.eot');
	src:url('http://tenscores.com/css/fonts/dinpromedium.eot?#iefix') format('embedded-opentype'),
		url('http://tenscores.com/css/fonts/dinpromedium.woff') format('woff'),
		url('http://tenscores.com/css/fonts/dinpromedium.ttf') format('truetype'),
		url('http://tenscores.com/css/fonts/dinpromedium.svg#dinpromedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ----------------------------------------------------- */


body {
	margin: 0;
	padding: 0;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size: 10px; /* IE5 Win */
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	font-size: 10px; /* easy scaling */
  	font-size: 0.76em;
	color: #000;
	background-color:#fff;
	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-weight:normal;
	color: #1f4f98;	
}

p, blockquote, ul, ol {
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0.5em;
}
p 
{
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size: 14px;
	margin-bottom: 0.9em;
        
}


pre {
	font-size:1.5em;
}

a:link, a:visited {
color: #0088cc;

}
a:hover,a:active 
text-decoration: none;
{

}
img.left 
{
	float:left;
	margin:0 1em 1em 0;
}
img.right 
{
	float:right;
	margin:0 0 1em 1em;
}
a img 
{
	border:0;
}
blockquote 
{
	margin:1em;
	padding:5px 1em;
	color:#000;
	background:#eee;
}
fieldset 
{
	border:none;
}

dl {
	margin:1em 0px;
}
dt 
{
	font-weight:bold;
}
dd 
{
	margin:0.5em 1em;
	padding:0;
}
code
{
	font-size: 1em;	
}


sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size:0.6em;	
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}





/* Header */

#header {
	width: 723px;
	height: 50px;
	margin: 30px auto 0 auto;
	/* background:url(img/bg_header.png) no-repeat top center; */
}

/* Logo */

#logo {
	float: left;
	padding: 0px 0 0 100px;
}

#logo #h1{
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size: 4em;
	
}
#logo #h2 {
	font-size: 1em;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	color:#aaa;
	padding:5px 10px 10px 10px;
}

#logo #h1 a {
	text-decoration: none;
	color:#999;
	border:0;
}
#logo #h1 a:hover, #logo #h1 a:visited, #logo #h1 a:link
{
	border:0;
}

#logoimage {
	height: 70px;
	width:120px;
	margin:35px 0 0 0;
	padding-left:10px;
	background:url(img/logo.gif) no-repeat;
	cursor:hand;
}


#bookmarker img
{
	margin: 10px 0;
	width: 16px;
	height: 16px;
}

/* Menu */
#menu {
	width: 723px;
	margin:0 auto;
	padding-top:40px;
	min-height:75px;
	line-height:20px;
	background:url(img/bg.png) repeat-y center;
	background-color:yellow;	
	overflow:auto;

}

#menu ul {
	margin:0;
	padding:0px 110px 0px 0;
	list-style: none;
	text-align:right;
	float:right;
	font-variant:small-caps;
	display: inline;
}

#menu li {
	display: inline;
}

#menu a 
{
	padding:3px 0px 3px 10px ;
	text-decoration: none;
	font-size: 1em;
	border:0;
	color:#999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#menu a:hover, 
#menu a:active,
#menu li.current_page_item a:link,
#menu li.current_page_item a:visited,
#menu li.current_page_item a:hover,
#menu li.current_page_item a:active
{
	color:#999;
	border:0;
}

.header-strip {
	background-color:#f5f5f5;
	height:5px;
	margin:10px 110px;
	clear:both;
	
}

/* Main */

#main {
	width: 975px;
	margin: auto;
	

}

#main h2 {
	padding: 20px 0 10px 0;
	font-size: 1.5em;		
	line-height:1.2em;
	font-weight: bold;
}

#main h1 {
	padding: 4px 0 4px 0;
	font-size: 2.2em;		
	line-height:1.2em;
	font-weight: bold;
	color:#1f4f98;
	text-align:left;
}

#main .title {
	text-align:left;
}

#main .post-title {
	font-size: 1.5em;
	font-weight: normal;
}

#main h3 {
	padding: 4px 0 4px 0;
	font-size:22px;		
	line-height:1.2em;
	font-weight: bold;
}
#main h2 a 
{
	border:0;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size:36px;
	line-height:1.2em;
	font-weight:normal;
	color:#1f4f98;
	text-align:center;
}

#main h1 a 
{
	border:0;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size:36px;
	line-height:1.2em;
	font-weight:bold;
	color:#000;
	text-align:left;
}

#content ul {
	margin: 0.5em 0;
	padding: 0 0 0 2em;
	list-style-type:none;
	text-align: justify;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;

}
#content ul li 
{
	margin:0.75em 0;
	padding:0;
	list-style-image:url(img/bullets.gif);
	line-height:130%;
	font-size:13px;	
}
#main ol 
{
	margin:0;
	padding:0 0 0 3px;
}
#main ol li 
{
    margin:0;
    padding:3px;
    padding-bottom:10px;
    font-size:16px;
}
#main .post 
{
	background-color:#fff;
}
#main .entry 
{
    clear:both;
    padding: 10px 5px;
	padding-bottom: 30px;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
}

#main .entry p
{
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.4em;
    font-size:18px;
    margin: 0 0 20px;
}


.post .date {
	float: right;
	margin:5px 0 0 5px;
	padding:0 10px;
	text-align:center;
	font-size: 0.8em;
	border:#ccc 1px solid;
	font-weight:bold;
	color:#556677;
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
}
.post .date span 
{
	display:block;
}
.post .date .day 
{
	font-size:1.6em;
}
.post .meta {
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 0.9em;
	color:#999;
	text-align:left;
        display:none;
}
.post .comments 
{
	font-size:1em;
	font-weight:bold;
	border-bottom:#ccc 1px dotted;
	color:#999;
	margin-left:5px;
	padding-left:20px;
	background:url(img/icon_comments.gif) no-repeat left center;
display: none;
}
.post .comments a 
{
	border-bottom:0px;
	color:#aaa;
        display: none;
}
.commentmetadata a{
	border:0;
	color:#777;
}
.cmtinfo .avatar {
	vertical-align:middle;
	padding-right:7px;
}

#main .feed 
{
	background:url(img/icon_feed.gif) no-repeat left 3px;
	padding-left:17px; 
}
ul.authorposts
{
	margin:0;
	padding:0 2em;
}
ul.authorposts li
{
	margin:0;
	padding:5px;	
}
ul.authorposts li em 
{
	float:right;
	font-style:normal;
}
/* Content */

#content {
	float: right;
	width: 560px;
	margin:30px 0 30px 30px;
	padding:10px 20px 10px 20px;
	background-color:#fff;
}
/* Column Two */

.footer-sidebar {
	float: left;
	position: top;
	width:280px;
	margin-left:30px;
	margin-top:30px;
	border-right:solid 1px #f9f9f9;
	background-color:#fff;
	text-align:right;
}

#sidebar1 {
	float: left;
	width: 230px;		
	padding: 5px 20px;
	font-size:12px;
	line-height: 1.5em;
	margin:5px;
	margin-right:-1px;
	border-right:#eee 0px solid;
	background-color: white;
	
}
/* Column Three */

#sidebar2 {
	float: left;
	width: 210px;		
	padding: 5px 20px;
	font-size:0.9em;		
	margin:5px;
	margin-left:0px;
	border-left:#ee 1px solid;
}
#main .sidecol 
{
	padding-left:20px;
}
#main .sidecol ul 
{
	margin:0;
	padding:0;
}
#main .sidecol li
{
	margin:0;
	padding:0;
	list-style:none;
	background:none;
	margin-bottom:2em;
}
#main .sidecol h2
{
	
	font-weight: bold;
	padding: 3px ;
	font-size:1em;
	background-color:#f5f5f5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
}
#main .sidecol p, #main .sidecol form
{
	padding:10px;
	margin:0;
}
#main .sidecol ul ul
{
	margin:10px 0 0 0;
	padding:0;
}
#main .sidecol ul ul ul
{
	margin:0px 0 0 10px;
	padding:0;
}
#main .sidecol li li 
{
	
	margin:0.5em 0;
	padding:0;
	
}

#main .sidecol a:link, #main .sidecol a:visited {
	border:0;
}
div#categories{width:100%;max-width:810px;margin:0 auto;margin-top:10px;display:none;}
div#categories select{width:100%;}

/* Responsiveness - by Shahaan 
-----------------------------------------------*/

@media screen and (max-width:800px){
.customer-blog-tip{width:92%;}
body{min-width:100%;}
#main{width:100%;}
#categories, .archive-meta{width:100%;}
.hentry{width:80%;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{width:98%;}
img.cover{right:0;}
#header{width:100% !important;height:auto !important; margin:0 !important;}
.well, div#categories{width:80% !important;}
#content{width:88% !important;margin:0 !important;}
.footer-sidebar{display:none !important;}
div#categories{display:block !important;}
}
@media screen and (max-width:750px){
.hentry{width:80%;padding:30px;}.entry-content p, .entry-content img{max-width:100%;}
#categories, .archive-meta{width:92%;}
.post-subscribe{width:79%;left:0;bottom:0;}
.post-subscribe iframe{width:100%;}
}
@media screen and (max-width:600px){
.hentry{width:80%;padding:20px;}
#disqus_thread{width:100% !important;}
.post-subscribe iframe{width:100%;}
div#categories select{display:block;width:100%;}
div#categories ul.nav-cat{display:none;}
#categories, .archive-meta{width:87%;}
}
@media screen and (max-width:550px){
a.more-link{width:79%;}
#content .faq{margin-left:15px;}
.well-stretched{width:58%;right:0;}
.entry-content p, .entry-content div{max-width:100%}
}
@media screen and (max-width:480px){
.post-subscribe{width:76%;left:0;bottom:0;}
}
@media screen and (max-width:320px){
#categories, .archive-meta{width:94%;}
.post-subscribe{width:57%;left:0;bottom:0;}
.post-subscribe div{width:100% !important;}
.post-subscribe iframe{width:100%;}
}
@media (min-width: 1201px){
  .container{width:100% !important;}
}
@media (max-width: 1200px){
  .container{width:100% !important;}
}
@media (max-width: 1024px){
  .container{width:965px !important;}
  .navbar-inner{padding:0 !important;}
}
@media (min-width: 800px) and (max-width: 979px){
  body{max-width:100% !important;min-width: 100% !important;}
  .container{width:100% !important;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{margin-top:10px;}
#main{width:100% !important;}
#header{width:100% !important;height:auto !important; margin:0 !important;}
.well{width:80% !important;}
#content{width:88% !important;margin:0 !important;}
div#categories{display:block !important;}
.footer-sidebar{display:none !important;}
}
@media (max-width: 767px){
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin-left:0 !important;margin-right:0 !important;}
.navbar .nav{float:left !important;}
}


/* ------------ End Responsiveness -------------------- */

/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	text-decoration:none;
	}
#wp-calendar #today 
{
	border:#999 1px solid;
}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */
/* Comments */

#btnSearch, #searchsubmit{
	background-color:#ddd; 
	border: 1px solid; 
	border-color: #999; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	height:22px;
	font-size:1em;
	padding:0px 3px;
}

#searchsubmit {
	font-size:0.6em;
	visibility:hidden;
}

#submit {
	background-color:#ddd; 
	border: 1px solid; 
	border-color: #999; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	height:22px;
	font-size:1em;
	padding:0px 3px;
} 

input.textbox, input#s
{
	border:#ccc 1px solid;
	background:#f9f9f9;
	font:1em Georgia, Serif;
	padding:5px;
	width:135px;
	height:10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

input#s{
	width:160px;
}


textarea{
	width: 95%;
	padding:5px;
	height: 15em;
	border: 1px solid #ccc;	
	background:#f9f9f9;
	font:1em Georgia, Serif;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
input.textbox:focus, textarea:focus
{
	background:#fff;
	border:#999 1px solid;
}
#commentform 
{
	margin:0;
	padding:10px;
	background:#fff;
}
#main .commentlist {
	margin: 0;
	padding: 0;
}
#main .commentlist li 
{
	list-style:none;
	margin: 0;
	padding: 1em;			
	border-bottom:#ddd 1px solid;
	font-size:1em;
}

#main .commentlist li p
{
        font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	line-height: 1.5em;
	font-size:14px;
}

#main .commentlist li .cmtinfo 
{
	padding:5px;
	margin-bottom: 5px;
	position:relative;	
}
#main .commentlist li .cmtinfo em 
{
	margin:0;
	padding:0 1em;
	font-weight:normal;			
	font-style:normal;
float:right;
	font-size:0.7em;
	color:#999;

}
#main .commentlist li cite 
{
	font-style:normal;
	font-weight:bold;
	font-size:1.1em;
}
#main .commentlist li.alt
{
	background:#f9f9f9;	
}
#main .commentlist li.authorcomment
{

	background:#fdffd4;
}
#main .nocomments
{
	font-size:0.9em;
	color:#999;
	text-align:center;
}

/* Footer */

#footer {
	margin: 0 auto 30px auto;
	width:723px;
	height:80px;
	border:#eee 0px solid;
	/* background:url(img/bg_footer.png) no-repeat bottom center; */
        display:none;
}

#footer p {
	margin:0;
	padding: 20px 100px 0 95px;
	font-size: 0.9em;
	color: #999;	
}
#footer p span 
{
	float:right;
}
#footer a:link, #footer a:visited {
	color: #999;
	border:0;
}
#footer a:hover, #footer a:active,#footer p strong {
	color: #999;
	text-decoration:none;
	border:0;
}
#header, #main, #sidebar, #footer, .widget 
{
	overflow:hidden;
}
.amzshcs
{
	text-align:center;
}
.amzshcs-item
{
	padding:5px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.tags{
	color:#999;
	font-size:0.8em;
}
.tags a{
	color:#999;
	border:0;
}


.commandment {color:#990000; font-size:18px; text-transform: uppercase;}
.section {color:#999999; font-size:18px; text-transform: normal;}
.overboard {color:#333333; font-size: 18px;}

/* p {text-align:justify;} */

p {font-family:justify;}

.footnote1 {font-size:10px; line-height: 1.5em;}

/* ul.toc a:visited {color:#999999;} */

ul.toc a {font-weight:normal;}
ul.toc a:hover {color:#E1B602;}

ul.toc {list-style-type: none;}

#content ul .ad {list-style: none;}

.next {padding: 10px; border-top:1px solid #6b90da; border-bottom:1px solid #6b90da; background:#ebeff9; margin:40px 0 10px 0; text-align:right; font-size: 16px;}

.ad {background:#e6e6e6; width:200px; margin: 10px 0 3px 0;}
.headline {color:#2200c1; text-decoration:underline; line-height:1.5em; margin:0;}
.line {line-height: 1.5em; margin: 0;}
.domain {color:green;}
.adnote {background:#42911d; text-align:center; color:#fff; width:200px; margin-bottom: 20px;}

#newtop { background: #000;}

.toptext { color:#fff; font-family: Georgia, Tahoma, Verdana, Arial, Serif; margin:0; padding:0; font-style:italic;}

.wp-caption-text {text-align:center; font-size: 10px;  font-weight:bold; margin-top:5px;}

#bookAction { border:1px solid #EC9F00; background:#ECEE00; padding:10px; -moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; }

.btn {
  margin: 20px 0;
}

#sidebar2 {display:none;}

.navbar {font-family: dinpro, "Helvetica Neue", Sans-serif;}

#main h1 a:hover { text-decoration: none; }

#tutorial li#awesomeness {
	color: #555555;
	text-decoration: none;
	background-color: #f9f9f9;
}

span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
   font-weight: normal;
}