/*

Theme Name: Sueva
Theme URI: http://themeinprogress.com/sueva/
Description: Sueva is a responsive clean and corporate Tumblelog  Wordpress Theme. The theme support all modern browsers like Firefox, Chrome, Safari, Opera and Internet Explorer 8, 9 and 10 and uses the most modern technologies like Html5 and Css3.
Author: Theme in Progress.
Author URI: http://themeinprogress.com
Version: 1.3.8
Tags: html5,css3,responsive,minimal,tumblelog,red,green,yellow,pink,orange,cyan,blue,sidebar,two columns
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html

*/

html { 
	min-height:101%;
}
body { 
	background:url(images/background/patterns/pattern12.jpg) repeat #f3f3f3;
}

/* ====================== START TYPOGRAPHY ====================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
body,
p,
li,
address,
dd,
blockquote { 
	color:#545252;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ul,
ol { 
	margin:0.8em 0 0.3em;
}   
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title { 
	font-family:'Oswald',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Oswald',Verdana, Geneva, sans-serif; 
}
   
code {
	display:block;
	white-space:normal !important;
}

/* ====================== END TYPOGRAPHY ====================== */

/* ====================== START ELEMENTS ====================== */

a { 
	color:#333;
	outline: none; 
	border:none;
	font-weight:normal; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}
a:hover {
	color:#d14a2b;
	border-bottom:dotted 1px;
}
a.post-edit-link {  
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
	font-size:14px;
}
a.post-edit-link:hover {  
	color:#333;
}
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

::selection {
	background: #ff6644;
	color:#fff; 
	}
::-moz-selection {
	background: #ff6644;
	color:#fff; 
}

.select-menu {
	display:none;
	visibility:hidden;
}

span.messaggeok {
	font-weight:bold;
}
span.error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

.button {
	background:#ff6644;
	padding:10px;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:45px auto -10px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: 'Droid Sans', sans-serif;
	font-size:14px;
	width:95px;
	text-align:center;
	float:none;
	position:relative;
	display: block;
}
.button:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none;
	border-bottom:none;
}
.btn {
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
}
.btn.right a {
	color:#616161;
}

ul.icons {
	margin-left:0;
}

.dropcap:first-letter {
	float:left;
	font-size:46px;
	line-height:46px; 
	margin:5px 10px 5px 0;
}

/* ====================== END ELEMENTS ====================== */

/* ====================== START SECTIONS ====================== */

.header { 
	position:relative;
	text-align:center;
	margin:0;
	padding:0;
}
#footer { 
	color:#fff;	
	position:relative; 
	background:url(images/background/patterns/debut_dark.png) repeat #333;
	border-top:solid 4px #ff6644;
}

#footer ul, 
#sidebar ul { 
	list-style:none;
	font-weight: normal;
	color:#fafafa;
	margin:0;
}
#footer a { 
	line-height:1.9em;
	-webkit-transition: all .3s ease;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
	font-size:14px;
}
#footer a:hover { 
	color:#d14a2b;
}

#footer p,
#footer a {
	color:#fff;
}

#sidebar {
	margin-bottom:50px;
}

#sidebar .sidebar-box {
	padding:0 20px;
}
.span8.left-sidebar {
	float:right;
}
.span8.right-sidebar {
	float:left;
}

#blog,
#blog .pin-article,
#blog #sidebar {
	margin-bottom:25px;
}

#sidebar h4.title { 
	padding: 0;
	margin: 0 0 20px 0;
	position:relative;
	text-align:left
}

#footer h4.title { 
	margin: 0;
	padding: 20px 0;
}

#footer .textwidget { 
	font-size:12px;
	line-height:1.8em;
}

#footer select, 
#footer textarea,
#footer input[type="text"],
#footer input[type="password"],
#footer input[type="datetime"], 
#footer input[type="datetime-local"], 
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="email"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer .uneditable-input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}

#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	color:#fff;
}

#footer .copyright {
	padding: 10px 0;
	margin-top:10px;
	line-height:15px;
}
#footer .widget {
	border-bottom: solid 1px #ff6644;
	margin-right:-20px;
	padding: 0 0 10px 0;
}
/* LOGO */

#logo { 
	position:relative; 
	display:block;
	padding:60px 0 30px 0; 
	line-height:1.8em; 
}
#logo a { 
	font-family:'Allura',Verdana, Geneva, sans-serif; 
	font-size:70px; 
	color:#616161; 
	text-decoration:none; 
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 
#logo a:hover { 
	text-decoration:none;
	color:#ff6644;
	border-bottom:none;
}
#logo a span{
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	display:block;
	text-align:center;
} 
#logo a img{
	margin-top:-10px;
} 


/* ====================== END SECTIONS ====================== */

/* ====================== START NAV ====================== */

/* MAIN NAV */

nav#mainmenu { 
	margin:0 0 30px 0; 
	padding:0; 
	text-align:center; 
	position:relative; 
	width:100%;
}
nav#mainmenu ul { 
	list-style:none; 
	margin:0; 
	display:inline-block;
}
nav#mainmenu ul li {
	float:left; 
	position:relative; 
	display:block;
	text-align:right;
}
nav#mainmenu ul li a   { 
	text-decoration:none; 
	display:block; 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
	font-size:16px; 
	z-index:1; 
	margin:15px; 
	color:#616161; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	text-transform:uppercase;
}
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color:#ff6644;
}

nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	border-bottom:dotted 1px;
}


nav#mainmenu .sf-sub-indicator { 
	padding:0 0 0 10px; 
	float:right; 
	font-size:10px;
}
/* END MAIN NAV */

/* SUBMENU */

nav#mainmenu ul ul:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #333;
	top: -11px;
	left: 15px;
	z-index: 1000;
}

nav#mainmenu ul ul { 
	display:none; 
	position: absolute; 
	top:49px; 
	left:15px; 
	background:#fff; 
	z-index:1000;
	width:100%;
	min-width:190px;
	z-index:1000;
	border-top:solid 3px #333;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
 
nav#mainmenu ul ul li { 
	position:relative; 
	margin:0;
	line-height:1em;
	text-transform:none;
	width:100%;
	min-width:190px;
}
nav#mainmenu ul ul li a{ 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	border-top:solid 1px #ddd;
	border-bottom:none;
	padding:18px 15px;
	margin:0;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	text-transform:inherit; 
	text-shadow:inherit; 
	color:#333; 
	font-size:14px;
}

nav#mainmenu ul ul li a:hover, 
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current-menu-ancestor > a { 
	border-top:solid 1px #333;
	border-bottom:none;
	background:#333; 
	color:#fff; 
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

nav#mainmenu ul ul li ul { 
	top:-3px; 
	left:192px; 
	border-top:solid 3px #c4c4c4;
}

nav#mainmenu ul ul li ul:before {
	display:none;
}

/* END SUBMENU */

/* WIDGETMENU */

nav#widgetmenu ul{ 
	position:relative; 
	margin:0; 
	border-top:solid 1px #ddd;  
	border-bottom:solid 1px #fff;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd; 
}
nav#widgetmenu li { 
	position:relative; 
	cursor:pointer; 
}
nav#widgetmenu li a{ 
	font-size:14px;
	display:block; 
	background:#f3f3f3;
	padding:8px; 
	color:#333;
	border-bottom:solid 1px #ddd;  
	border-top:solid 1px #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
}
nav#widgetmenu ul.sub-menu { 
	display:none; 
	margin:0; 
	z-index:9999;
	background:#f3f3f3; 
	border:none;
}
nav#widgetmenu li li a{ 
	text-decoration:none; 
	text-align:left; 
	padding:8px 8px 8px 20px;
}
nav#widgetmenu li li li a{ 
	text-decoration:none; 
	text-align:left; 
	padding:8px 8px 8px 40px;
}
nav#widgetmenu li a:hover,
nav#widgetmenu li:hover > a ,
nav#widgetmenu li.current-menu-item > a, 
nav#widgetmenu li.current-menu-ancestor > a { 
	background:#eee;
}

.tinynav,
.select-menu {
	display:none;
	visibility:hidden;
}

/* END WIDGETMENU */

/* ====================== END NAV ====================== */

/* ====================== START CONTENT ====================== */

.pin-article { 
	background:#fff; 
	margin-bottom:50px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.pin-article article.article { 
	padding:45px;
}
.pin-article.span4 article.article { 
	padding:25px;
}

.row.masonry,
.row.portfolio-grid,
.pin-article.span4,
.pin-article.span6 { 
	margin-bottom:25px;
}
.pin-article .attachment p { 
	text-align:center;
}
.pin-article .attachment .entry-info { 
	width:120px;
}
.pin-article .attachment .entry-info span { 
	margin:auto;
}


.pin-article .link { 
	text-align:center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	color:#fff;
	background:#333;
}
.pin-article article.article.link { 
	padding:0; 
}

.pin-article .link a:hover  { 
	background:url('images/icons/link.png') no-repeat center 20px #ff6644; 
}
.pin-article .link a { 
	background:url('images/icons/link.png') no-repeat center 20px; 
	font-size:18px;
	color:#fff;
	padding:85px 0 40px 0;
	display:block;
	border-bottom:none;
	font-family: "Droid Sans", Times, serif;
}
.pin-article .aside {
	background:url(images/background/paper.jpg) repeat;
	position:relative;
}
.pin-article .aside p {
	font-family: "Droid Sans", Times, serif;
}
.pin-article .aside:after {
	content: '';
	display: block;
	position: absolute;
	width: 59px;
	height: 52px;
	top: 0;
	left: 0;
	margin-top: -16px;
	margin-left: -15px;
	background:url(images/icons/scotch-left.png) no-repeat;
}

.pin-article .aside:before {
	content: '';
	display: block;
	position: absolute;
	width: 59px;
	height: 52px;
	top: 0;
	right: 0%;
	margin-top: -16px;
	margin-right: -15px;
	background:url(images/icons/scotch-right.png) no-repeat;
}

.pin-article .aside p,
.pin-article .category h1,
.pin-article .portfolio h1,
.pin-article .search h1{ 
	margin:0;
}

.pin-article .category,
.pin-article .category h1, 
.pin-article .portfolio,
.pin-article .portfolio h1,
.pin-article .search,
.pin-article .search h1 { 
	background:#333;
	color:#f1f1f1;
	font-size:21px;
	text-align:center;
	font-weight:100
}
.pin-article .category h1 a {
	color:#fff;
}
.pin-article .quote { 
	background:#333; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

.pin-article .quote blockquote { 
	border-left:0;
	background:url('images/icons/cite.png') no-repeat top center; 
	padding:65px 0 0 0;
	margin:0;
}

.pin-article .quote blockquote p { 
	color:#fff;
	text-align:center;
	font-style:normal;
	font-size:22px;
	padding:0 0 12px 0;
}
.span4.pin-article .quote blockquote p {
	font-size: 18px;
}
.pin-article .quote p { 
	color:#fff;
	text-align:center;
	font-size:16px
}


.pin-article .quote:hover { 
	background:#ff6644;
}


.pin-article .wp-post-image {
	z-index:999;
}

.pin-container, 
.video-container,
.maps-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
}
.video-thumb,
.maps-thumb {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video-thumb iframe, 
.video-thumb object, 
.video-thumb embed,
.maps-thumb iframe, 
.maps-thumb object, 
.maps-thumb embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}
.soundcloud {
	margin:0 0 40px 0;
}
.span4 .soundcloud {
	margin:0 0 20px 0;
}
.soundcloud iframe, 
.soundcloud object, 
.soundcloud embed {
	width: 100%;
	height:166px;
	border:none;
}
.pin-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	bottom: 0px;
	left: 50%;
	margin-left:-10px;
	z-index:1000;
}

.pin-article .title {
	font-style: normal;
	font-weight: normal;
	margin:0 0 15px 0;
	line-height:1.2em;
	text-align:center;
	position:relative;
	color:#616161;
	
}

.pin-article .title a {
	color:#616161;
}

.pin-article.span4 .line {
	margin:30px 0 20px 0;
}

.pin-article .separator:after {
	background:url(images/separator.png) repeat;
	width:100%;
	height:5px;
	content: '';
	display: inline-block;
	margin:0;
}

.pin-article .container-fluid {
	padding:0;
	margin: 0 0 45px 0;
}
.pin-article .container-fluid:last-child {
	padding:0;
	margin: 0;
}

.article-header {
	font-family: 'Droid Sans', sans-serif;
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}

/* PORTFOLIO */

.skills {
	position:relative;
	padding:0;
	width:200px;
	font-size:14px;
	margin-bottom:50px;
	
}
.skills .views{
	background:#333;
	padding:13px 15px;
	color:#fff;
	position:relative;
	font-family:'Droid Sans';
}
.skills .views i {
	float:right;
	font-size:12px;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
	line-height:21px;
}
.skills .views i.open {
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}
.skills .views.active,
.skills .views:hover {
	background:#48c2ae;
	cursor:pointer;
}
.filter {
	display:none;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 1000;
	width: 100%;
	z-index: 1000;
	background:#333;
	border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
}
.filter li a{
	padding:10px 15px;
	color:#fff;
	border:none;
	display:block;
	font-family:'Droid Sans';
}
.filter li {
	color:#fff;
	cursor:pointer
}
.filter li a {
	color:#fff;
}
.filter li:hover,
.filter li.active{
	background:#48c2ae;
	border:none;
}
.portfolio-grid {
	position:relative;
}
.filterable-grid {
	list-style:none; 
	margin:0; 
	padding:0;
	display:block !important;
}
.filterable-grid li  {
	position:relative;
	margin-bottom:25px;
}
.filterable-grid .wp-post-image {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.filterable-grid .wp-post-image:hover {
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}

.filterable-grid  h4.title {
	background: #fff;
	color: #000;
	padding: 0 15px;
	position: relative;
	text-transform:uppercase;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:18px;
}
.filterable-grid .overlay {
	opacity: 0; 
	filter: alpha(opacity=0);
	background: #333;
	height: 100%;
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	width: 100%;
	line-height: 1.1em;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-align:center
}
.filterable-grid li .overlay a.zoom {
	background: url(images/icons/zoom.png) no-repeat center ;
	width: 100%;
	height: 100%;
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
	border:none;
	padding:0;
	display:block
}
ul.filterable-grid li article.works {
	padding:4px ; 
	background:#fff ;
	border:solid 1px #ddd ;
	position:relative ;
	display:block ;
}

/* END PORTFOLIO */

/* START COMMENT   */

.commentlist { 
	list-style:none;
	line-height:1px; 
	margin:0;
}

.commentlist ul { 
	list-style:none; 
	padding:0; 
	margin:0;
}
.comment-container { 
	margin:0 0 45px 0; 
	padding:25px 15px; 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-size:12px; 
	position: relative; 
	background:#fff;
	border:solid 1px #ddd;
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}
.comment-text {
	position:relative; 
	margin-left:110px;
	border-left:solid 1px #ddd;
	padding:0 0 0 15px
}

.comment-container .comment-date { 
	padding:10px 0;
}
.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author .author { 
	font-family: "Droid Sans", Times, serif; 
	font-size:18px; 
	display:block; 
	font-weight:bold;
}

.children li {
	margin-left:110px;
}
.comment-notes { 
	font-size:12px; 
	margin:-30px 0 25px 0;
}

h3#reply-title, h3.comments { 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0 0 5px 45px;
	height:45px;
	line-height:45px;
	background:url('images/icons/comment.png') no-repeat center left; 
	margin:45px 0;
}

h3#reply-title small, 
.logged-in-as { 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	margin:-20px 0 40px 0;
	font-weight:bold
}

/* END COMMENT  */

/* START CONTACT FORM SHORTCODE / COMMENT FORM */

.contact-form input[type=text], .contact-form textarea {
	padding: 15px 2%;
	background:#fafafa;
	width: 96%; 
	margin:0 0 35px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:none;
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
}

.contact-form input[type=submit] {
	background:#ff6644;
	padding:10px;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:35px auto -20px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: 'Droid Sans', sans-serif;
	font-size:14px;
	text-align:center;
	float:none;
	width:95px;
	position:relative;
	display: block;
	border:none;
	text-shadow:none;
	text-transform:uppercase
}

.contact-form input[type=submit]:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none
}

form#searchform #searchsubmit {
	display: inline-block;
	width: 37%;
	margin:0;
	padding: 5px 2%;
}

#searchform .input-search {
	display: inline-block;
	width: 96%;
	margin:0;
	padding: 5px 2%;
}
#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.logged-in-as a, 
#comments a {
	color:#616161;
}

/* END CONTACT FORM SHORTCODE / COMMENT FORM */

/* START DEFAULT ELEMENTS */

article blockquote { 
	border-left: 4px solid #ff6644; 
	padding:0 35px; 
	position:relative; 
	margin-left:0px;
}

article blockquote p { 
	text-align:left; 
	line-height:1.6em; 	
	font-family: "Droid Sans", Times, serif; 
	font-size:15px;
}
.entry-info ul { 
	display:inline; 
	list-style:none;
}
.entry-info li { 
	display:inline;
}
.entry-info a { 
	display:inline;
	color:#616161;
}
.tags { 
	background:#fff;
	padding:0 15px;
}
.tags a { 
	font-weight:normal;
}
#sidebar .line { 
	margin:20px 0;
}
#masonry .span4 .line {
	border:none;
}
.post-date {
	color:#fff; 
	text-align:left;
}
.day { 
	font-size:14px; 
	line-height:1.1em;
}
.archive { 
	margin:0;
}

.span4 .line {
	width:auto;
	background:none;
	margin:inherit;
}

.span6 .line:before ,
.span4 .line:before {
	display:none;
}

.span4 .line .tags {
	padding:0;
}

.span4 .entry-info {
	padding:0;
}

.span4 .entry-info span {
	display:block;
	width:inherit;
	padding:inherit;
	margin:5px auto;
}

.span4 .entry-info i  {
	line-height: 23px;
	position:absolute;
	left:0;
	margin:0;
	padding:0
}


/* END DEFAULT ELEMENTS */

/* START SOCIAL BUTTON */

.social-button { 
	float:left; 
	height:20px; 
	margin-top:40px; 
	width:auto;
}
.facebook-box {
	width:102px;
}
.facebook-box.en {
	width:82px;
}
.google-plus { 
	width:65px;
}
.twitter-box { 
	width:85px;
}
.pinterest { 
	width:85px;
}

/* END SOCIAL BUTTON */

/* START DEFAULT STYLE */


.entry-tags { 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
	font-size:13px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}
.entry-tags span { 
	font-weight:normal;
}
.line {
	position:relative;
	z-index: 998;
	display:block;
	margin:30px 0 40px 0;
	text-align:center;
	min-height:11px
}
.line:before {
	content: '';
	position: absolute;
	width: 100%;
	left:0;
	height: 1px;
	background: url(images/background/dotted.png) repeat;
	z-index:-1;
	top:11px
}

footer.line {
	margin:40px 0 0 0;
}

.entry-info {
	padding:0 10px; 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
	background:#fff;
	display:inline;
	position:relative;
	font-size:12px
}

.entry-info i {
	color: #717171;
	margin: 0 10px;
	font-size:14px;
	line-height:21px
}

.entry-info span:first-of-type i {
	margin-left:0;
}

/* END DEFAULT STYLE */

/* START IMAGE STYLE */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:558px !important; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:98%;
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}
.gallery {
	margin:15px auto;
}
.gallery .gallery-item {
	float:left;
	margin:0 0 15px 0;
	text-align:center;
	width:33%;
}
.gallery-columns-2 .gallery-item {
	width:50%;
}
.gallery-columns-4 .gallery-item {
	width:25%;
}
.gallery-columns-2 .attachment-medium {
	max-width:92%;
	height:auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width:84%;
	height:auto;
}
.gallery .gallery-caption {
	color:#888;
	font-size:12px;
	margin:0 0 12px;
}
.gallery dl {
	margin:0;
}
.gallery img {
	border:1px solid #ddd; 
	background:#fff; 
	padding:4px;
}
.gallery br+br {
	display:none;
}
.gallery a {
	border-bottom:none;
}
.attachment img{
	display:block;
	margin:0 auto;
}    
p.list-tags {
	line-height:25px;
	margin-top:20px;
	border-top:1px solid #dcdbdb;
	padding:10px 0 10px 36px;
	background:url('images/icons/article.png') left 15px no-repeat;
}
article .overlay-image { 
	position:relative; 
	overflow:hidden;
}
.overlay-image .overlay{ 
	opacity: 0; 
	filter: alpha(opacity=0);
	border:none;
}
.overlay-image .zoom { 
	background: #000 url(images/icons/zoom.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .link { 
	background: #000 url(images/icons/link.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none;
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .video { 
	background: #000 url(images/icons/video.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .wp-post-image { 
	border:solid 1px #ddd;
	padding:4px;
	max-width:100%;
	max-height:100%;
}
.overlay-image .wp-post-image:hover { 
	-moz-transform:	none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}
.wp-post-image { 
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
	width:auto;
	height:auto;
}
.wp-post-image:hover { 
	-moz-transform: rotate(1deg) scale(1.2);
	-webkit-transform: rotate(1deg) scale(1.2);
	-o-transform: rotate(1deg) scale(1.2);
	transform: rotate(1deg) scale(1.2);
}



/* END IMAGE STYLE */

/* ====================== END CONTENT ====================== */

/* ====================== START WIDGET ====================== */

.widget-box {
	padding:20px 0;
}

/* START WIDGET CATEGORY */

#footer ul.widget-category { 
	position:relative; 
	margin:0; 
	border-top:solid 1px #ddd;  
	border-bottom:solid 1px #fff;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
#footer ul.widget-category li { 
	display:block; 
	background:#f3f3f3;
	padding:8px; 
	border-bottom:solid 1px #ddd;  
	border-top:solid 1px #fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	position:relative; 
	cursor:pointer; 
	color:#4d4d4d; 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif;
}
#footer ul.widget-category li a, ul.widget-category li.cat-item{ 
	font-size:14px; 
	display:block; 
	color:#333;
}
#footer ul.widget-category li.cat-item a{ 
	display:inline; 
}
#footer ul.widget-category li:hover { 
	color:#d14a2b; 
	background:#eee;
}
#footer ul.widget-category li a:hover{ 
	color:#d14a2b;
}

/* END WIDGET CATEGORY */

/* START CALENDAR */

#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a { 
	background:#ccc; 
	color:#434343;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
}
#wp-calendar a:hover { 
	border:none;
}
#wp-calendar { 
	background: #f3f3f3; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14x; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14x; 
	color:#333;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14x; 
	color:#000;
	text-decoration:underline
}
#wp-calendar td#prev a, #wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}
#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #fafafa;
}

/* END CALENDAR */

/* TWITTER WIDGET */

ul#twitter_update_list  { 
	list-style:none;
}
ul#twitter_update_list li { 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
	margin:0 0 10px 0;
}

/* END TWITTER WIDGET */

/* START TAG CLOUD */

#sidebar .tagcloud a, 
#footer .tagcloud a { 
	display: inline-block; 
	padding: 4px 8px; 
	text-align: center; 
	font-family: 'Droid Sans',Verdana, Geneva, sans-serif; 
	font-size:12px !important; 
	color:#ddd; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	background:#ff6644;
	color:#fff;
	border:none;
	margin:0 0 4px 0;
}
#sidebar .tagcloud a:hover, 
#footer .tagcloud a:hover { 
	color: #fff; 
	background: #d14a2b;
}
#sidebar .tagcloud a { 
	font-size:14px !important; 
}

/* END TAG CLOUD */

/* ====================== END WIDGET ====================== */


/* ====================== START TABS ====================== */

.tabs { 
	position:relative;
	background:#f3f3f3;
	border: 1px solid #ccc;
	margin:0 0 15px 0; 
}
.tabs-container { 
	position:relative; 
	border-top:solid 1px #fff; 
	margin:0; 
	padding:15px;
}
.tabs-container h3{ 
	font-size:14px; 
	font-weight:bold;
}
.tabs-container p { 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	line-height:1.4em; 
}
.tabs ul {
	list-style:none;
	margin:0;
}
.tabs li {
	float:left;
}
.tabs li a {  
	background:#f3f3f3; 
	color:#666; 
	text-decoration:none; 
	padding:10px; 
	display:block; 
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease; 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	float:left; 
	border-right:solid 1px #ddd; 
	border-left:solid 1px #fff; 
	border-bottom:none; 
	font-size:14px;
	color:#333;
	font-weight:bold;
	outline: none;
}
.tabs li a:hover, 
.tabs li.ui-tabs-active a, 
.tabs li.ui-state-active a{ 
	background:#eee; 
	display:block;
	border-left:solid 1px #eee;
	border-right:solid 1px #ddd;
	color:#000;
}

/* ====================== END TABS ====================== */

/* ====================== START TOOGLE ====================== */

.toggle { 
	display: none; 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	line-height:1.4em; 
	padding:20px; 
	background:#f3f3f3; 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

.toggle_container { 
	border:solid 1px #ddd;
	margin:0 0 15px 0; 
}
.toggle_container h5.element { 
	cursor:pointer; 
	background:url(images/icons/toggle.png) no-repeat #f3f3f3 98% center; 
	padding:10px; 
	font-size:14px; 
	margin:0; 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd; 
	font-family:'Droid Sans',Verdana, Geneva, sans-serif; 
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	text-transform:none;
	color:#333;
}
.toggle_container h5.element:first-child {
	border-top:none;
} 
.toggle_container > h5.element:last-of-type { 
	border-bottom:none;
}
.toggle_container h5.element:hover { 
	color:#000; 
	background:url(images/icons/toggle.png) no-repeat #eee 98% center;
}
.toggle_container h5.inactive { 
	background:url(images/icons/toggle-hover.png) no-repeat #eee 98% center; 
	color:#000;
}
.toggle_container h5.inactive:hover { 
	background:url(images/icons/toggle-hover.png) no-repeat #eee 98% center; 
	color:#000;
}

/* ====================== END TOOGLE ====================== */

/* SOCIAL ICONS */

.socials { 
	float:right;
}
.socials a { 
	display:inline-block; 
	margin: 0 0 0 5px; 
	height:24px;
	width:24px;
	text-indent:-9999px; 
	filter: none !important;
}
.socials a:hover { 
	opacity: 0.7; 
	filter: alpha(opacity=70);
	border-bottom:none;
}
.tipsy { 
	padding: 5px; 
	font-size: 10px; 
	font-family:Verdana, Geneva, sans-serif; 
	opacity: 0.8; 
	filter: alpha(opacity=80); 
	background-repeat: no-repeat;  
	background-image: url(images/icons/tipsy.gif);
}

a.facebook { 
	background:url('images/icons/social/facebook.png') no-repeat;
}
a.flickr { 
	background:url('images/icons/social/flickr.png') no-repeat;
}
a.google  { 
	background:url('images/icons/social/google.png') no-repeat;
}
a.linkedin  { 
	background:url('images/icons/social/linkedin.png') no-repeat;
}
a.myspace  { 
	background:url('images/icons/social/myspace.png') no-repeat;
}
a.pinterest {  
	background:url('images/icons/social/pinterest.png') no-repeat;
}
a.rss { 
	background:url('images/icons/social/rss.png') no-repeat;
}
a.skype  { 
	background:url('images/icons/social/skype.png') no-repeat;
}
a.tumblr  { 
	background:url('images/icons/social/tumblr.png') no-repeat;
}
a.xing  { 
	background:url('images/icons/social/xing.png') no-repeat;
}
a.twitter { 
	background:url('images/icons/social/twitter.png') no-repeat;
}
a.vimeo  { 
	background:url('images/icons/social/vimeo.png') no-repeat;
}
a.youtube  { 
	background:url('images/icons/social/youtube.png') no-repeat;
}
a.email  { 
	background:url('images/icons/social/email.png') no-repeat;
}

.tipsy-inner { 
	padding: 5px 8px 4px 8px; 
	background-color: black; 
	color: white; 
	max-width: 200px; 
	text-align: center;
}
.tipsy-inner { 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	border-radius:3px;
}
.tipsy-north { 
	background-position: 
	top center;
}
.tipsy-south { 
	background-position: bottom center; 
	margin-top:-4px;
}
.tipsy-east { 
	background-position: right center;
}
.tipsy-west { 
	background-position: left center;
}

/* END SOCIAL ICONS */

/* PAGINATION */

.post-pagination {
	margin:45px 0 0 0;
}

.post-pagination a[rel="prev"] {
	float:left;
	text-align:left;
}

.post-pagination a[rel="next"] {
	float:right;
	text-align:right;
}

.wp-pagenavi,
.wip-pagination { 
	text-align: center; 
	position:relative;
	margin-bottom:50px;
}

.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current, 
.wip-pagination span { 
	display:inline-block;
	padding:10px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:21px;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-family:'Droid Sans',Verdana, Geneva, sans-serif;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	background:#fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease
}

.wip-pagination a span  {
	background:#fff;
	color:#333;
}

.wp-pagenavi a:hover, 
.wip-pagination span,
.wip-pagination a span:hover,
.wp-pagenavi span.current {
	color:#fff;
	background:#ff6644;
	text-decoration:none;
	border-bottom:none;
}

@media screen and (min-width : 0px) and (max-width : 768px)  {	

	#sidebar .sidebar-box {
		padding:0;
	}
	
	nav#mainmenu {
		height:inherit;
		margin-bottom:25px;
	}
	
	nav#mainmenu ul {
		visibility:hidden;
		display:none;
	}
	
	.tinynav {
		display: block;
		visibility:visible;
		width: 100% !important;
		margin:auto;
		height: auto;
		padding: 8px 10px;
		background: #fafafa;
		color: #333;
		font-family: "Droid Sans", Times, serif; 
	}
	
	#sidebar, 
	.wp-pagenavi,
	.pin-article { 
		margin-bottom:25px;
	}
	
	#blog #sidebar { 
		margin-bottom:0;
	}
	
	body.archive .wp-pagenavi {
		margin-top:0;
	}
	
	#footer { 
		margin-top:25px;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.pin-article article.article { 
		padding:20px;
	}
	#footer .copyright {
		margin:0;
		line-height:15px;
		padding:0;
	}
	.socials {
		float:none;
	}
	.socials a {
		margin:0 0 10px 0;
	}
	.widget-box {
		padding:20px;
	}
	.row.copyright .span5, .row.copyright .span7{
		padding:10px 20px;
		text-align:center;
	}
	.line {
		border:none;
		background:none;
		margin:inherit;
		padding:0;
	}
	.line:before {
		background:none;
	}
	.entry-info {
		width:auto;
		background:none;
	}
	
	.entry-info span {
		display:block;
		text-align:center;
		width:inherit;
		padding:inherit;
		margin:5px auto;
	}
	
	.entry-info i  {
		line-height: 23px;
		position:absolute;
		left:0;
		margin:0;
		padding:0
	}
	
	.header select.select-menu {
		width:100%;
		margin-bottom:40px;
	}
	
	/* COMMENTS */
	
	.children li {
		margin-left:0;
	}
	.comment-avatar img {
		margin-right:15px;
	}
	.comment-text {
		margin:0;
		float:none;
		border:none;
		padding:0;
	}
	h3#reply-title, h3.comments {
		font-size:18px;
	}
	.gallery .gallery-item{
		width:100%;
		float:none;
		display:block;
		margin:0 0 5px 0;
	}
	
	.gallery p{
		margin:0;
		display:none;
		visibility:hidden;
	}
	#footer .widget {
		margin-right: inherit;
	}
	.span8.left-sidebar,
	.span8.right-sidebar  {
		float:inherit;
	}
	
	#sidebar h3.title {
		font-size:22px;
		margin:0 0 15px 0;
	}
	.row.masonry {
		margin-bottom:0;
	}
	.skills {
		margin-bottom:25px;
		width:100%
	}
	
	.wip-pagination {
		padding-bottom:20px;
	}

}
@media screen and (min-width : 0px) and (max-width : 320px) {	

div.overlay-image.xsmall .overlay, 
div.overlay-image.xsmall .wp-post-image { width:140px; height:140px }
div.overlay-image.small .overlay, 
div.overlay-image.small .wp-post-image,
div.overlay-image.medium .overlay, 
div.overlay-image.medium .wp-post-image,
div.overlay-image.large .overlay, 
div.overlay-image.large .wp-post-image { width:140px; height:100px }

}

@media screen and (min-width : 321px) and (max-width : 479px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image,
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:211px; height:150px }

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	
	
	.pin-article .title {
		font-size:22px;
	}
	.pin-article .quote blockquote p {
		font-size: 16px;
	}

}

@media screen and (min-width : 481px) and (max-width : 600px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image{ width:240px; height:171px }
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:300px; height:213px }

}