@charset "UTF-8";
/* CSS Document */

body, html {padding:0; margin:0; height:100%;}

body {background:url(images/contest-bg.png) repeat; }

@font-face {
    font-family: 'Bebas';
    src: url('fonts/bebas.eot');
    src: url('fonts/bebas.eot?#iefix') format('embedded-opentype'),
                 url('fonts/bebas.woff') format('woff'),
                 url('fonts/bebas.ttf') format('truetype'),
                 url('fonts/bebas.svg#DinPro') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
	font-family: 'DinPro';
    src: url('fonts/dinpromedium.eot');
    src: url('fonts/dinpromedium.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/dinpromedium.woff') format('woff'), 
		 url('fonts/dinpromedium.ttf') format('truetype'), 
		 url('fonts/dinpromedium.svg#DinPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

#centeredBox {
       position:absolute;
       left:50%;
       top:10%;
       width: 375px;
       margin:-75px 0 0 -185px;
	   
}

#centeredBox #logo { 
		width: 130px; 
		margin: 130px auto 90px auto ;
	
		}


#container {
	width: 375px; 
	border:1px solid rgb(128,128,128);

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	}

#form {margin: 15px;}

ul {list-style-type:none; margin:0; padding:0;}

li input.text {
 	width: 303px;
	height:38px; 
	font-size:18px;
	margin: 5px 0; 
	border:1px solid rgb(128,128,128); 
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	padding:0 0 0 40px;
}

li input.user {
    background:#f8f8f8 url(../images/user.png) 12px no-repeat;
}

li input.email {
    background:#f8f8f8 url(../images/email_bg.png) -5px -2px no-repeat;
}

li input.password {
    background:#f8f8f8 url(../images/password_bg.png) -1px -2px no-repeat;
}

li input.user:hover {background:#fff url(../images/user.png) 12px no-repeat; }

li input.email:hover {
    
}

span.error {color:green; font-family:arial;}

li input.submit {margin-top:3px;}

li input.submit:hover {opacity:0.6;}

#message {
    position:relative;
	font-size:12px;
	text-align:center;
	padding:10px;
	margin:20px 0;
	background:rgb(196,234,206);
	border:1px solid rgb(102,177,50);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-family:arial;
}

#lost {
    position:relative;
        font-size:12px;
	text-align:center;
        padding:10px;
        margin:20px 0;
        background:f8f8f8;
	border:1px solid #ccc;
	color:#666;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
	font-family:arial;
}

.submit { 
    cursor:pointer;
    width:100%;
	font-size:18px; 
	height:38px;
	margin: 5px 0; 
	border:1px solid rgb(128,128,128); 
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	padding:0 20px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}


/********* Registration Page **************** */

#register_form form input.text {
    display:block;
    font-family:DinPro;
    font-weight:normal;
    padding: 0 10px;
    width: 303px;
    height:30px;
    font-size:16px;
    margin: 5px 0;
    border:1px solid rgb(128,128,128);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #e6e6e6; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#register_form {
    margin:30px;
}

#register_form form input.text:hover {
    background:#ffffff;
}

#register_form form label {
    font-family:DinPro;
    font-weight:normal;
}

#centeredBigBox{
       position:absolute;
       left:50%;
       top:20%;
       width: 375px;
       margin:-75px 0 50px -185px;
}

ul.error li {
    color:green;
    font-family:DinPro;
  
}

ul.error {
    list-style-type:none;
  
}