/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
 * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'DinPro';
    src: url('fonts/dinprolight.eot');
    src: url('fonts/dinprolight.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/dinprolight.woff') format('woff'), 
		 url('fonts/dinprolight.ttf') format('truetype'), 
		 url('fonts/dinprolight.svg#DinPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'DinPro';
    src: url('fonts/dinprobold.eot');
    src: url('fonts/dinprobold.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/dinprobold.woff') format('woff'), 
		 url('fonts/dinprobold.ttf') format('truetype'), 
		 url('fonts/dinprobold.svg#DinPro') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'DinPro';
    src: url('fonts/dinpromedium.eot');
    src: url('fonts/dinpromedium.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/dinpromedium.woff') format('woff'), 
		 url('fonts/dinpromedium.ttf') format('truetype'), 
		 url('fonts/dinpromedium.svg#DinPro') format('svg');
    font-weight: medium;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

body {
    font-family:DinPro, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    background: #FFF;
}

a {
    color: #606060;
    text-decoration: none;
	cursor:default;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

.wrapper {
    width: 1010px;
    margin: 0 auto;
}

/* ********************************************************************** */
/* ***************************** Top Bar CSS **************************** */
/* ********************************************************************** */
#top-bar {
    background: url(../images/to-bar-bg.png) 0 0 repeat-x;
    border-bottom: solid 1px #d6d6d6;
    height: 36px;
    padding: 10px 12px 0 24px;
}

#logo {
    display: block;
    width: 39px;
    height: 21px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -5000px;
    float: left;
    margin: 7px 140px 0 0;
}

#top-nav {
    float: left;
    margin-top: 5px;
    margin-bottom: -1px;
    height: 32px;
}

#top-nav a {
    display: block;
    float: left;
    border: solid 1px transparent;
    border-bottom: none;
    margin-right: 10px;
    line-height: 14px;
    font-weight: bold;
    color: #7a7a7a;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
	
}

#top-nav a span {
    display: block;
    padding: 10px 0 7px;
}

#top-nav a.score span {
    background: url(../images/star_active.png) no-repeat;
    background-position: 0px 9px;
    padding-left: 22px;
}

#top-nav a.regrouper span {
    background: url(../images/regrouper_icon4.png) no-repeat;
    background-position: 0px 9px;
    padding-left: 27px;
}

#top-nav a.regrouper span:hover {
    background: url(../images/regrouper_active.png) no-repeat;
    background-position: 0px 9px;
    padding-left: 27px;
}

#top-nav a.adsizzle span {
    background: url(../images/ad_icon.png) no-repeat;
    background-position: -2px 9px;
    padding-left: 25px;
}

#top-nav a.adsizzle span:hover {
    background: url(../images/ad_active.png) no-repeat;
    background-position: 0px 9px;
    padding-left: 25px;
}

#top-nav a.current, #top-nav a:hover {
    background: #FFF;
    border-color: #d6d6d6;
    color: #444444;
}

#top-nav a span {
    font-weight: bold;
}

#user-area {
    float: right;
}

#user-area .profilesBox {
    float: left;
    border: solid 1px #d6d6d6;
    background: #FFF;
    height: 25px;
    position: relative;
    width: 188px;
    margin-right: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#user-area select.profiles {
    float: left;
    
    height: 25px;
   
    
	padding: 4px;
    width: 188px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}


#user-area .profiles span {
    display: block;
    padding-left: 14px;
    background: url(../images/user-area-icons.png) 170px 1px no-repeat;
    cursor: pointer;
}

#user-area a.add {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    border: solid 1px #d6d6d6;
    background: url(../images/add-bg.png) 0 0 repeat-x;
    margin-right: 45px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#user-area a.add span {
    display: block;
    height: 25px;
    background: url(../images/user-area-icons.png) 9px -25px no-repeat;
}

#user-area .account {
    display: block;
    height: 25px;
    float: left;
    border: solid 1px #d6d6d6;
    background: url(../images/add-bg.png) 0 0 repeat-x;
    margin-right: 6px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#user-area .account span {
    display: block;
    height: 19px;
    background: url(../images/user-area-icons.png) 25px 1px no-repeat;
    padding: 3px 15px 3px 3px;
}

#user-area a.logout {
    display: block;
    width: 35px;
    height: 25px;
    float: left;
    border: solid 1px #d6d6d6;
    background: url(../images/add-bg.png) 0 0 repeat-x;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#user-area a.logout span {
    display: block;
    height: 25px;
    background: url(../images/user-area-icons.png) 10px -50px no-repeat;
}

/* ********************************************************************** */
/* **************************** Middle Bar CSS ************************** */
/* ********************************************************************** */
#middle-bar {
    background: url(../images/middle-bar-bg.png) 0 0 repeat-x;
    border-bottom: solid 1px #d6d6d6;
    padding: 11px 13px 11px 22px;
    height: 25px;
}

#logo2 {
    display: block;
    text-indent: -5000px;
    background: url(../images/logo2.png) no-repeat;
    width: 154px;
    height: 19px;
    margin: 3px 32px 0 20px;
    float: left;
}

#sub-menu {
    float: left;
}

#submenu a {
    display: block;
    float: left;
	padding:3px 7px 3px 3px;
    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #FFF;
    color: #929292;
	text-transform:uppercase;
	font-size:11px;
	padding-left:20px;
	font-weight:bold;
}

#submenu a.active {
	border: solid 1px #d6d6d6;
}

#submenu a.inactive {
	border: solid 0px #d6d6d6;
	
	font-weight: bold;
}

#submenu a.dashboard.active {
	background: url(../images/dashboard_icon.png) 3px 4px no-repeat;
}

#submenu a.tracker.inactive {
	background: url(../images/tracker_icon_inactive2.png) 3px 3px no-repeat;
}

#submenu a.tracker.inactive:hover {
	background: #ffffff url(../images/tracker_icon_active.png) 3px 3px no-repeat;
	border: solid 1px #d6d6d6;
	font-weight: bold !important;
    color: #222222;
}

#submenu a span {
    display: block;
}

#submenu a img {
    float:left;
	margin: 0 5px 0 0;
}


#submenu a.active {
    font-weight: bold;
    color: #222222;
}


#submenu a.active span {
    font-weight: bold;
}


#submenu em {
    display: block;
    background: url(../images/right-arow.png) 0 7px no-repeat;
    width: 5px;
    height: 25px;
    margin: 0 20px;
    float: left;
}

.search {
    float: right;
    height: 25px;
}

.search input {
    border: solid 1px #d6d6d6;
    background: #FFF url(../images/magnifier.png) 8px 3px no-repeat;
    height: 20px;
	margin-top:2px;
    width: 252px;
    line-height: 25px;
    font-size: 11px;
    color: #c0c0c0;
    padding-left: 30px;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    border-radius: 0 0 5px 5px;
    border: solid 1px #c0c0c0;
    border-top: none;
    background: #FFF;
    padding: 10px 0;
    box-shadow: 0 0 5px #c0c0c0;
    -moz-box-shadow: 0 0 5px #c0c0c0;
    -webkit-box-shadow: 0 0 5px #c0c0c0;
}

.ui-autocomplete li {
    margin: 0 10px;
    line-height: 25px;
    border-bottom: solid 1px #c0c0c0;
    cursor: pointer;
    color: #929292
}

.ui-autocomplete li:hover a {
    color: #222222
}

/* ********************************************************************** */
/* **************************** Content  CSS **************************** */
/* ********************************************************************** */
/* **************************** Left col **************************** */
#left-col {
    width: 205px;
    float: left;
}

#left-col h2 {
    line-height: 30px;
    padding: 0 6px 0 33px;
    font-size: 12px;
    font-weight: bold;
    color: #606060;
    background: url(../images/home-icon.png) 5px 7px no-repeat;
}

#left-col h2 a.add-campaign {
    background: url(../images/add-campaign.png) no-repeat;
    float: right;
    width: 13px;
    height: 13px;
    margin-top: 8px;
}

#left-menu {
    margin-right: -1px;
	
}

#left-menu h3 {
    border-top: solid 1px #d6d6d6;
    line-height: 21px;
    background: url(../images/campaign_bg_selected.png) 0 -200px no-repeat;
}

#left-menu h3 a {
    display: block;
    line-height: 21px;
    font-weight: bold;
    font-size: 11px;
    color: #606060;
    padding-left: 30px;
    background: url(../images/campaing-status-icons.png) no-repeat;
}

#left-menu h3 a:hover {
	background:#f1f1f1 url(../images/campaing-status-icons.png) no-repeat;
	color:#606060 !important;
	text-shadow:none !important;
	
}

#left-menu h3 a.active {
    background-position: 11px 0;
}

#left-menu h3 a.pause {
    background-position: 11px -21px;
}

#left-menu h3.ui-state-active {
    background-position: 0 0;
    border:0;
}

#left-menu h3.ui-state-active a {
    color: #FFF;
    text-shadow: 1px -1px 2px #415266;
}

.sub-campaigns {
    background: #222222;
}

.sub-campaigns li {
    border-top: solid 1px #444444;
}

.sub-campaigns li:hover {
    background: #333;
	/*background: url(../images/adgroup_bg_selected.png)  no-repeat;*/
}

.sub-campaigns ul li:first-child {
    border-top: none;
}

.sub-campaigns li a {
    display: block;
    line-height: 20px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 11px;
    background: url(../images/campaing-status-icons.png) no-repeat;
    color: #FFF;
}

.sub-campaigns li a.active {
    background-position: 32px 0
}

.sub-campaigns li a.paused {
    background-position: 32px -21px;
    color: #929292;
}

/* **************************** Right Content **************************** */
#right-content {
    border-left: solid 1px #d6d6d6;
    float: left;
    padding: 20px 15px 20px 25px;
    min-height: 500px;
	
}

#right-content-topWrap {
	margin:0 0 40px 0;
}

#breadcrumb {
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 12px;
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
    float: left;
}

#breadcrumb a {
    display: block;
    float: left;
    background: url(../images/breadcrumb-separator.png) right 0 no-repeat;
    height: 20px;
    margin-right: 10px;
    padding-right: 14px;
}

#breadcrumb span {
    display: block;
    line-height: 20px;
    background: url(../images/breadcrumb-icons.png) no-repeat;
}

#breadcrumb a.home {
    width: 20px;
}

#breadcrumb a.home span {
    background-position: 5px 0;
    width: 20px;
    height: 20px;
}

#breadcrumb em {
    display: block;
    float: left;
    background: url(../images/breadcrumb-icons.png) no-repeat;
    padding-left: 18px;
    color:3444444;
}

#breadcrumb em.campaign {
    background-position: 0 -20px;
}

#breadcrumb em strong {
    font-weight: bold;
    colo: #444444;
}

#compare {
    float: right;
}

#compare label {
    display: block;
    float: left;
    margin-left: 8px;
    line-height: 20px;
    font-size: 12px;
    color: #444444;
}

#compare input {
    float: left;
    border: solid 1px #d6d6d6;
    height: 20px;
    width: 95px;
    padding-left: 10px;
    line-height: 20px;
  	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-left: 10px;
    font-size: 11px;
}

/* **************************** Datepicker Theme - Smoothness **************************** */


.ui-widget-content { 
	border: 1px solid #d6d6d6; 
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
	color: #222222; 
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	margin-top:3px;
 }
 
.ui-datepicker .ui-widget-header {
	border: 1px solid #d6d6d6; 
	background: #f1f1f1 url(../images/box-title-bg.png) top repeat-x; 
	color: #222222; 
	font-weight: bold;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ui-datepicker .ui-widget-content a { color: #222222; }

.ui-datepicker .ui-widget-header a { color: #222222; }

.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-datepicker .ui-state-default a, .ui-datepicker .ui-state-default a:link, .ui-datepicker .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-datepicker .ui-state-hover a, .ui-datepicker .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-datepicker .ui-state-active a, .ui-datepicker .ui-state-active a:link, .ui-datepicker .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-datepicker .ui-widget :active { outline: none; }


.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; text-indent:-4000px; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

.ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/ui-icons_cd0a0a_256x240.png); }

.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }

/* **************************** Boxes **************************** */

.box {
	border:solid 1px #d6d6d6;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom:25px;
}

.box .title {
	border-bottom:solid 1px #d6d6d6;
	height:30px;
	background:url(../images/box-title-bg.png) repeat-x;
	padding-left:9px;
	z-index:-10;
}

.box .title h2 {
	background:url(../images/box-title-icons.png) no-repeat;
	padding: 7px 25px;
	font-size:12px;
	font-weight:medium;
	text-transform:uppercase;
	color:3444444;
}

.box .title h2 span {
	font-size:9px;
	color:#929292;
	font-weight:medium;
	margin-left:5px;
}

.box .title h2.bank {
	background-position:0 -2px;
}

.box .title h2.badge {
	background-position:0 -30px;
}

.box .title h2.rate {
	background-position:0 -62px;
}

.box .title h2.distributions {
	background-position:0 -92px;
}

.box .title h2.star {
	background-position:0 -122px;
}

.box .content {
	padding-left:10px;
}

#cpc-qs-ctr-wrap {
	width:100%;
	height:204px;
	clear:both;
}

.box.qs {
	height:204px;
	margin: 0 30% 0 30%;
}

.box.cpc {
	height:204px;
	float: left;
	width: 28%; 
}

.box.ctr {
	height:204px;
	float: right;
	width: 28%; 
}

.box.distributions {
	height:545px;
	float:left;
	width: 60%;
}

.box.priority {
	height:375px;
	float:right;
	width: 37%;
}

.box.activeHealth {
	height:250px;
	float:right;
	width: 37%;
}

.box.rising {
	height:250px;
	float:left;
	width: 60%;
}

.box.active-vs-paused {
	height:250px;
	float:right;
	width: 37%;
}


