@charset "UTF-8";
/* CSS Document */

body, html {
	margin:0; 
	padding:0;
	font-family: Century Gothic, Georgia, Tahoma, Verdana, Arial, Serif; 
	background:#fafafa;
	height: 100%;
	background:#ccc;

}

#newtop { 
	background: #000;
}

.toptext { 
	font-size:12px;
	color:#fff; 
	font-family: Century Gothic, Georgia, Tahoma, Verdana, Arial, Serif; 
	margin:0; 
	padding:0; 
}

#halvideo {
	background: #d2eeae url(images/bg.png) ;
	border-bottom: 1px solid #cbdeaa;
	padding: 30px 0 30px 0;
}

#tool {
	background:#fff;
}

#container1 {
	width:900px;
	margin: auto;	
}

#instructions {
	padding: 10px 0 10px;
	
}

.example {
	font-size:9px;
	color:#666666;
	margin:0 0 10px 0;
	padding:0;
}

.instructions-tx {
	margin:0;
	padding:0;
	font-size: 12px;
	text-align:center;
	font-family: Century Gothic, Georgia, Tahoma, Verdana, Arial, Serif; 

}


label {
	font-size:12px;
}

input {
	border: 2px solid #cbdeaa;
	height:22px;
	font-size:13px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#estbids {
	font-size: 12px;
	width:200px;

}

#estclicks {
	font-size: 12px;
	width:200px;

}
#estcosts {
	font-size: 12px;
	width:200px;

}
#mpcpa {
	font-size: 12px;
	width:200px;
}

#cri {
	font-size: 12px;
	width:200px;
}


#toolwrapper {
	width:900px;
	margin:auto;

}

.iValue {
	font-size:10px;
}


#footer     {background:url(images/shadow_top.png) top repeat-x; padding:30px; background-color:#ccc; }
#footer #foot-nav 	{ margin:auto; color:#000; font-family: Century Gothic, Helvetica, sans-serif; text-align: center; font-size: 10px;}
#footer a 			{color:#000; text-decoration: none;}
#footer a:hover 	{color:#EDC715; font-weight:bold;}