@charset "UTF-8";
/* CSS Document */

body, html {
	margin:0; 
	padding:0;
	font-family: Century Gothic, Georgia, Tahoma, Verdana, Arial, Serif; 
	height: 100%;

}



#newtop { 
	background: #fff;
	margin-top:10px;
}

.toptext { 
	font-size:12px;
	color:#000; 
	font-family: Century Gothic, Georgia, Tahoma, Verdana, Arial, Serif; 
	margin:0; 
	padding:0; 
}

#halvideo {
	background: #fff ;
}

#tool {
	background:#fff;
}

#container1 {
	width:900px;
	margin: 20px auto 20px auto;
	background:#ebeffe;
	padding: 30px 0 30px 0;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#instructions {
	font-size: 12px;
	width:900px;
	margin: 20px auto 20px auto;
	padding: 10px 0;
	background:#ebeffe;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
	
}

dd {margin-bottom:10px;}

.example {
	font-size:9px;
	color:#666666;
	margin:0 0 10px 0;
	padding:0;
}



label {
	font-size:12px;
}

input {
	border: 3px solid #bbccff;
	height:22px;
	font-size:13px;
	background:url(http://tenscores.com/images/text.png) repeat-x;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#estbids {
	font-size: 12px;
	width:200px;

}

#estclicks {
	font-size: 12px;
	width:200px;

}
#estcosts {
	font-size: 12px;
	width:200px;

}
#mpcpa {
	font-size: 12px;
	width:200px;
}

#cri {
	font-size: 12px;
	width:200px;
}


#toolwrapper {
	width:900px;
	margin:auto;

}

.iValue {
	font-size:10px;
}


#footer     {padding:30px; background-color:#fff; }
#footer #foot-nav 	{ margin:auto; color:#ccc; font-family: Century Gothic, Helvetica, sans-serif; text-align: center; font-size: 10px;}
#footer a 			{color:#ccc; text-decoration: none;}
#footer a:hover 	{color:#EDC715; }