@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: "LubalinCustom";
  src: url("ITC_Lubalin_Graph_LT_Demi.ttf") format("truetype"), url("ITC_Lubalin_Graph_LT_Demi.eot") format('eot');

}


body {
	margin:0;
	padding:0;
	color:rgb(130,148,163);
	font-family:Arial,Helvetica,sans-serif;
	background:rgb(186,211,229) url(images/bg2.png) center center no-repeat;

	}

h1,h2,h3,h4 {
	font-family:"LubalinCustom", "LubalinGraph LT", arial, sans-serif;
	
	}
	
#topWrapper {
	clear:both;
	}
	
#inWrap {
	width:680px;
	margin:auto;
	clear:both;
	}

#login {
	margin:40px;
	font-family:"LubalinCustom", "LubalinGraph LT", arial, sans-serif;
	font-size:16px;
	text-shadow: #fff 1px 1px 0;
	}
	
#login a {
	color:rgb(130,148,163);
	text-decoration:none;
	}
	
#login a:hover {
	text-decoration:underline;
	text-shadow: #fff 1px 1px 0;
	}
	
#login img {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
	}	

#ten {
	font-size:305px;
	font-weight:bold;
	width: 500px;
	margin:auto;
	font-family:"LubalinCustom", "LubalinGraph LT",arial, sans-serif;
	color:rgb(230,230,230);
	}

#ten img.opacity:hover {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
	}

#video {
	width:640px;
	margin: 0 auto 2px 20px;
	/*
	padding:7px;
	background:#333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #fff;
	*/
	}

#join {
	margin: 20px 0 30px 0;
	text-shadow: #fff 1px 1px 0;
	}
	
#join p {
	font-family:Georgia, "Times New Roman",Times, serif;
	font-style:italic;
	}

#join img.opacity:hover {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
	}
	
#join a {
	color:rgb(130,148,163);
	text-decoration:none;
	}
	
#join a:hover {
	text-decoration:underline;
	}
	
#play-video {
	position:relative;
	left:-5px;
	top:-50px;
	z-index:5;
	}

#footer {
	width:865px;
	margin: 110px auto;
	border-top: 1px rgb(130,148,163) dotted;
	padding:20px 0 0 0;
	}

#footer ul {
	list-style-type:none;
	font-size:13px;
	margin:0;
	padding:0;
	}
	
#footer a {
	color:rgb(130,148,163);
	text-decoration:none;
	}
	
#footer a:hover {
	text-decoration:underline;
	text-shadow: #fff 1px 1px 0;
	}
	
#footer a:visited {
	text-decoration:none;
	color:rgb(130,148,163);
	}
#footer a:visited:hover {
	text-decoration:underline;
	}
	
#footer img.opacity:hover {
	/*
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5; */
	-moz-box-shadow: 0 0 10px #fff;
   -webkit-box-shadow: 0 0 10px #fff;
   box-shadow: 0 0 10px #fff;
	}

li.title {
	text-shadow: #fff 1px 1px 0;
	font-family:"LubalinCustom", "LubalinGraph LT", arial, sans-serif;
	margin: 0 0 5px 0;
	}
	
.shadow {
   -moz-box-shadow:inset 0 0 10px #fff;
   -webkit-box-shadow:inset 0 0 10px #fff;
   box-shadow:inset 0 0 10px #fff;
	}
	
#beta {
	text-align:center;
	margin:120px 0 30px 0;
	}
	
#beta h1 {
	text-shadow: #f1f1f1 0px 2px 1px;
	}
	
form {
    width:420px;
	margin:auto;
	}
	
form input.text {
	border:1px solid rgb(130,148,163);
	width:310px;
	height:36px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:Georgia;
	font-style:italic;
	font-size:22px;
	color:rgb(130,148,163);
	padding-left:5px;
	}

form input.submit {
	background:rgb(130,148,163);
	width:100px;
	height:40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid rgb(130,148,163);
	font-family: "LubalinCustom", "LubalinGraph LT", arial, sans-serif;
	color:#FFFFFF;
	text-shadow: #000 1px 1px 0;
	font-size:18px;
	}

form input.submit:hover {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
	}
	
img.enter_email {
	position:relative;
	top:-15px;
	}
