body {
  background: #f0f4f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#455A64;
}
#brand, .site-navigation, .main-navigation  {
  display:none;
}

header .gravatar {
  float:none;
  margin:auto;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 10000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#primary {
  transform: translateY(-110px);
}

article.post {
  background: white;
  padding: 100px 10%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  /* border: 2px solid #cbd2d6; */
}

article .title {
  line-height: 1.4em;
  font-size: 4.5rem;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 30px 5% 100px;
}
article .title h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
}
article .post-meta {
  text-align: center;
  display:none;
}

article .meta {
  display:none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

article .the-content a {
  font-weight: normal;
  color:#337ab7;
}

.update-date {
  display:block;
  font-size: 11px;

}
.disqus-footer__wrapper {
    display: none;
}

article .the-content img {
	margin: 30px 0;
}
article .the-content .wp-block-image.wide {
	max-width: none !important;
	background: #fafafa;
    padding: 10%;
    width: 125%;
    position: relative;
    left: -12.5%;
    text-align: center;
	margin: 0 0 50px 0;
}
article .the-content .wp-block-image.wide img {
	margin: 0 !important;
	border: 0px solid #ecf0f1;
	border-radius: 6px;
	box-shadow: -1px 3px 15px -5px rgba(0,0,0,.6);
	width: auto !important;
}

ol, ul {
	color: #787878;
	margin: 0 0 1.5em 2em;
}

li {
    margin-top: 1.5em;
}

b, strong {
    font-weight: bold;
    color: black;
}
.bullet {
	display: flex;
	margin: 30px 0;
}
i.bullet-point {
	background: #ccc;
    padding: 10px;
    border-radius: 50%;
	height: min-content;
    margin: 0 20px 0 0;
}
.bullet-text {
}
i.bullet-point.new {
	color: #2ECC71;
    background: rgba(46, 204, 113, 10%);
}
i.bullet-point.duplicates {
	color: #FCD462;
    background: rgba(252, 212, 98, 10%);
}
i.bullet-point.negatives {
	color: #E74C3C;
    background: rgba(231, 76, 60, 10%);
}
i.bullet-point.bids {
	color: rgb(128, 203, 196);
    background: rgba(128, 203, 196,10%);
}
i.bullet-point.no-impressions {
	color: rgb(129, 212, 250);
    background: rgba(129, 212, 250, 10%);
}
i.bullet-point.no-clicks {
	color: rgb(110, 128, 203);
    background: rgba(110, 128, 203, 10%);
}
i.bullet-point.no-conversions {
	color: rgb(240, 98, 146);
    background: rgba(240, 98, 146, 10%);
}
i.bullet-point.no-profit {
	color: rgb(255, 138, 101);
    background: rgba(255, 138, 101, 10%);
}
@media only screen and (max-width: 600px) {
  ol, ul {
	margin: 0 0 1.5em 1em;
  }
}
