/*
Theme Name: Twenty Ten
Theme URI: http://wordpress.org/
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Version: 1.2
License: GNU General Public License
License URI: license.txt
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -320px 0 0;
	width: 100%;


}
#content {
        background: #fafafa !important;
        padding-top: 10px !important;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 300px;
	margin-right:0px;


}
h3, ul {margin:0; padding:0; }
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 600px;
        margin: 0 auto 20px auto;
        display:none;
}

.blog-join-box {
       margin: 0;
       height: 600px;
       background: #f9f9f9;
       border: 1px solid #d6d6d6;
       border-radius: 3px;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */

@font-face {
	font-family:'DINPro-Bold';
	src:url('http://tenscores.com/files/fonts/dinprobold.eot');
	src:url('http://tenscores.com/files/fonts/dinprobold.eot') format('embedded-opentype'),
		url('http://tenscores.com/files/fonts/dinprobold.woff') format('woff'),
		url('http://tenscores.com/files/fonts/dinprobold.ttf') format('truetype'),
		url('http://tenscores.com/files/fonts/dinprobold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINPro-Light';
	src:url('http://tenscores.com/files/fonts/dinprolight.eot');
	src:url('http://tenscores.com/files/fonts/dinprolight.eot') format('embedded-opentype'),
		url('http://tenscores.com/files/fonts/dinprolight.woff') format('woff'),
		url('http://tenscores.com/files/fonts/dinprolight.ttf') format('truetype'),
		url('http://tenscores.com/files/fonts/dinprolight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINPro-Medium';
	src:url('http://tenscores.com/files/fonts/dinpromedium.eot');
	src:url('http://tenscores.com/files/fonts/dinpromedium.eot') format('embedded-opentype'),
		url('http://tenscores.com/files/fonts/dinpromedium.woff') format('woff'),
		url('http://tenscores.com/files/fonts/dinpromedium.ttf') format('truetype'),
		url('http://tenscores.com/files/fonts/dinpromedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#wrapper {
	margin: 50px auto 30px auto;
	width: 975px;

}
#wrapper {
	padding: 0 0px;
  background: #fafafa;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
   background: #fafafa !important;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong,b {
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 1em 0 2em;
	font-family:Georgia;
	border-left: 5px solid #C74C4C;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
        color: #55ACEE;
}
a:visited {
        color:mediumorchid;
}
a:active,
a:hover {
	color: #55ACEE;
	text-decoration:none;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
	padding: 0 0 0 0;
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#main {
	width: 800px;
	clear:both;
	overflow:hidden;
	margin: 0 auto 0px auto;
        background: white;
	overflow: visible;

}
#content {
	margin-bottom: 0px;

}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 26px !important;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
  font-size: 18px;
	color: #333;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.3em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	/* padding: 20px 0 28px 0; */
	border:1px solid #e5e5e5;
        width: 500px;
        padding: 50px;
        margin: 0 auto 50px auto;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: white;
				z-index: 100;
    		position: relative;

}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: auto;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ecc92a;
}
#content .entry-title {
	color: #000;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 20px;
	text-align:center;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #6681A0;
}
.entry-meta {
	color: #000;
	font-size: 12px;
	font-family: Georgia;
	font-style:italic;
        margin-bottom:30px;
        display:none;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.entry-content p a:hover {
	text-decoration:underline;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: 6292FE;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ecc92a;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
        display: none;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ecc92a;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f9f9f9;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 1px;
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ecc92a;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display:none;
}
.paged #nav-above,
.single #nav-above {
	display: none;
}
#nav-below {
	margin: -18px auto 30px auto;
	padding: 15px 0;
	border-bottom: 0px dotted #ccc;
	width: 600px;
	text-transform: uppercase;
	font-family: Dinpro;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ecc92a;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ecc92a;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
        display: none;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;

}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ecc92a;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(http://www.tenscores.com/blog/wp-content/themes/twentyten/images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}


/* Custom Changes */

#recent-posts-2    { background:#FFFFFF; border:1px solid #ccc; padding:20px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#recent-posts-2 ul {list-style-type: none; margin:0; padding:0;}
#recent-posts-2 li {margin:10px 0 0 0; padding:0;}
.xoxo {margin:0; padding:0;}
#recent-posts-2 h3 {}
.georgia {font-family: Georgia; }
.mtitle {padding: 15px 0 10px 0; border-bottom:1px dotted #ccc; font-weight:bold; color:#0044bb; margin-top:60px !important;}

.centered-title { font-weight:bold; color:#0044bb; text-align: center; padding: 15px 0 10px 0; }

#blogFormWrapper {width:280px; margin: 10px 0 0 0;}
label { font-weight:bold;}
input.text {width:140px;}

a.more-link {
	color:#ccc;
	text-decoration:none;
	border-radius: 4px;
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size:16px;
  text-transform: uppercase;
	text-align: center;
	width:350px;
	margin: 30px auto -30px;
  padding: 15px 30px 16px;
	display: block;
	border: 2px solid #e5e5e5;
}


a.more-link:hover {
	color: white;
	background: #555;
	border: 2px solid #555;
	text-decoration: none !important;
}

.entry-title {text-align: left;}
.entry-meta {text-align:left;}

.greybox {background:#f1f1f1; padding: 15px; margin-bottom: 20px;}
.greybox ul {list-style-image: url("http://tenscores.com/images/book.png") }
.important ul {list-style-image: url("http://tenscores.com/images/!.png") }

.dsq-footer { display: none !important; }

ul#sharebar { background: transparent !important; margin-top:30px !important; }

ul#sharebar li { margin: 10px 0 !important; }

.entry-content ul li { margin-bottom: 20px; line-height: 26px; }

blockquote.rule { border-left: 5px solid #5AAF5A; }

div.story { background: #f9f9f9; margin: 30px 0; padding: 25px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

ul.ad { list-style-type: none; font-family: arial; font-size: 16px !important; color: black; margin: 0; }

ul.ad li { display: block; margin: -2px; padding: 0;  }

ul.ad li.headline { color: #0e1cb3; }

ul.ad li.display-url { color: #00802A ; }

div.alert { margin-top: 0 !important; }

h4.mtitle { background: url("http://tenscores.com/images/star.png") right  no-repeat; font-size: 18px; margin-bottom: 40px; }

.centered { text-align: center; }

.alert img.border { border:1px solid #fbeed5 !important; }

h2 small { font-size: 24.5px !important; }

.flare-vertical {
   top: 60px !important;
   margin-left: -400px !important;
   background: none !important;
   box-shadow: none !important;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
}

.edison-audio {
  position: relative;
  left: 30px;
  top: 30px;
}

#entry-author-info {
 display:none !important;
}

#disqus_thread {
overflow: hidden;
width: 600px !important;
margin: 50px auto !important;
}

#blog .navbar li#blog {
	color: #555555;
	text-decoration: none;
	background: #f9f9f9;
}

.navbar-inner {
    font-family: Dinpro, "Helvetica Neue", Arial, Sans-serif;
    box-shadow: none !important;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#social-links {
    width:600px;
    margin: auto;
}

.flare-horizontal {
    width:120px !important;
    margin-bottom:20px !important;
    margin:auto;
}

img.cover {
    position: relative;
    right: 50px;
    max-width: none;
}
img.max-right {
	position: relative;
	right: -50px;
}

.kill-fire-them {
    width: 500px;
    height: 746px;
    margin-bottom: 15px;
    background: url("http://www.tenscores.com/blog/wp-content/uploads/2013/08/Donald-Trump.jpg") no-repeat;
}


.post-subscribe {
  background: #000;
  padding:50px;
  width: 500px;
  position: relative;
  bottom: -50px;
  left: -50px;
  color: white;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.post-subscribe a { color: white; text-decoration: none;}

.btn-subscribe {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.well {
	background: #f9f9f9 !important;
}
.well-stretched {
	position: relative;
	width: 500px;
	right: 51px;
        padding: 50px !important;
        border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border: 1px solid #e5e5e5;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.alert-stretched {
	position: relative;
	width: 500px;
	right: 51px;
        padding: 50px !important;
        border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.alert {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.adwords-q-and-a {
	background:red !important;
	padding: 10px;
}

.sumo_twilighter_highlighted {
	background:none !important;
}

#content li {
 	line-height: 26px !important;
}

.customer-blog-tip {
  padding:30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f9f9f9;
  position: relative;
  right:18px;
  width: 470px;
  margin: 50px 0;
}

.customer-blog-tip img {
  border: solid 3px white;
  margin-left: 10px;
  border-radius: 55px;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
}
.customer-blog-tip span.sig {
  font-style: italic;
  display: block;
  margin-top: 5px;
  font-size: 16px;
}

.customer-blog-tip span.sig a {
  text-decoration: none;
}
h4 .tweet-this a {
   text-decoration: none !important;
   color: #55ACEE;
   font-weight: normal;
   padding-left: 22px;
   margin-left: 10px;
   background: url(http://www.tenscores.com/blog/wp-content/uploads/2014/04/twitter2.png) 0 4px no-repeat;
   font-style: italic;
}


h4 .tweet-this {
   display: inline;
}

#content li:hover h4 .tweet-this {
  display:inline;
}

#content .faq {
  margin-left: 0px;
}


#PDI_container8054384 .pds-box {
   border-radius: 3px !important;
   -moz-border-radius: 3px !important;
   border: 1px solid #e5e5e5 !important;
   position:relative;
   top: -10px;
   width: inherit !important;
   padding: 30px !important;

}

#PDI_container8054384 .pds-links {
   text-align: left !important;
}

#scrolltriggered {
   box-shadow: none !important;
   -webkit-box-shadow: none !important;
}

#scrolltriggered #closebox {
   top: -7px !important;
   background-color: white !important;
}

#scrolltriggered #inscroll ul li {
   font-family: Dinpro !important;
}

#scrolltriggered #inscroll h5 {
   font-family: Dinpro !important;
   color: black;
}

#scrolltriggered #inscroll p {
   font-size: 16px !important;
   line-height: 20px !important;
}

ol.toc {
   font-size: 13px !important;
}
ol.toc li {
  margin: 10px 0;
}

h1 del, h2 del { color:#990000; }
.alert-custom {padding: 20px !important;}

#categories, .archive-meta {
width: 600px;
margin: 0px auto;
border: 0px solid #e5e5e5;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
#categories ul.nav-cat {list-style-type: none; margin:0;}
#categories ul.nav-cat li {display: inline-block; margin: 0;}
#categories ul.nav-cat li a {
color: #999;
font-family: DinPro;
font-size: 13px;
padding: 3px 12px;

}

#categories ul.nav-cat li a:hover {color:#428bca;}

#categories ul.nav-cat li a i.icon-home { opacity: 0.5}

.page-title {display:none;}

.archive-meta {
	background: #555555;
	margin-bottom: 30px;
	padding: 20px 0;
}
.archive-meta  p {
	margin-bottom:0 !important;
	font-size: 14px !important;
	color: white !important;
	padding: 0 10px;
	text-align:center;
}
div#categories select{display:none}
.entry-summary p a {display: block; margin-top: 30px;}


/* Responsiveness - by Shahaan
-----------------------------------------------*/

@media screen and (max-width:800px){
.customer-blog-tip{width:92%;}
body{min-width:100%;}
#main{width:100%;}
#categories, .archive-meta{width:100%;}
.hentry{width:80%;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{width:98%;}
img.cover{right:0;}
}
@media screen and (max-width:750px){
.hentry{width:80%;padding:30px;}.entry-content p, .entry-content img{max-width:100%;}
#categories, .archive-meta{width:92%;}
.post-subscribe{width:79%;left:0;bottom:0;}
.post-subscribe iframe{width:100%;}
}
@media screen and (max-width:600px){
.hentry{width:80%;padding:20px;}
#disqus_thread{width:100% !important;}
.post-subscribe iframe{width:100%;}
div#categories select{display:block;width:100%;}
div#categories ul.nav-cat{display:none;}
#categories, .archive-meta{width:87%;}
}
@media screen and (max-width:550px){
a.more-link{width:79%;}
#content .faq{margin-left:15px;}
.well-stretched{width:58%;right:0;}
.entry-content p, .entry-content div{max-width:100%}
}
@media screen and (max-width:480px){
.post-subscribe{width:76%;left:0;bottom:0;}
}
@media screen and (max-width:320px){
#categories, .archive-meta{width:94%;}
.post-subscribe{width:57%;left:0;bottom:0;}
.post-subscribe div{width:100% !important;}
.post-subscribe iframe{width:100%;}
}
@media (min-width: 1201px){
  .container{width:100% !important;}
}
@media (max-width: 1200px){
  .container{width:100% !important;}
}
@media (max-width: 1024px){
  .container{width:965px !important;}
}
@media (max-width: 960px){
  .container{width:100% !important;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{margin-top:10px;}
}
@media (max-width: 767px){
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin-left:0 !important;margin-right:0 !important;}
.navbar .nav{float:left !important;}
}


/* ------------ End Responsiveness -------------------- */

ul.ad {
color: #545454;
border: 1px solid #ccc;
padding: 15px;
max-width: 350px;
background: #fcf8e3;
}

ul.ad li.ad-headline { color:#1a0dab; }

.abh_tab_content {  border-top: none !important; border-bottom:none !important; }

.abh_tab_content .abh_image img {
border-radius: 45px !important;
-moz-border-radius: 45px !important;
-webkit-border-radius: 45px !important;
margin-top: -6px;
}

.abh_tab_content .abh_text .abh_description {
font-size: 16px !important;
}

.abh_tab_content .abh_text h3 a { color: black; }

span.amp, h1 span.amp, .blog-identity h1 span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
   font-weight: normal;
}

.blog-identity {
font-family: DinPro;
text-align:center;
margin: 0px auto 60px auto;
}

.blog-identity h1 {
line-height: 1.5em;
color: black;
font-size: 34px;
font-weight: 400;
}

.blog-identity h2{
font-weight: lighter;
color: #999;
}

.widget-area {display:none;}

.right-side-note-wrapper {
	position: relative;
}
.right-sidenote {
	position: absolute;
	right: -270px;
	font-family: georgia;
	font-style: italic;
	color: #777;
	width:200px;
}

.left-sidenote {
	position: absolute;
	left: -270px;
	font-family: georgia;
	font-style: italic;
	color: #777;
	width:200px;
	text-align: right;
}

.fig-caption {
	text-align: center;
  display: block;
  font-size: 14px;
  color: #999;
	line-height: 1.5em;
	margin-bottom: 50px;
}

.flare-vertical {
	margin-top: 100px;
}

.navbar-fixed-top {
	position: static !important;
}

#bottom-form {
 	width: 250px;
  position: fixed;
  bottom: 0;
  right: 0px;
	z-index: 1000000000;

}
#bottom-form input {
	display: inline-block;
	vertical-align: top;
	font-family: dinpro;
 	font-weight: lighter;
  	text-transform: uppercase;
  	font-size: 10px;
}
#bottom-form input[type="text"] {
	padding: 4px 10px;
	background: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
#bottom-form input[type="submit"] {
	background:#222;
	color:#FFF;
	border:1px solid #222;
	transition: all 1s;
	-webkit-transition: all 1s;
}

#bottom-form:hover input[type="text"] {
	transform:translateY(-10px);
}
#bottom-form:hover input[type="submit"] {
	transform:translateY(-10px);
}

/** UpWork - Igor Benic **/

.home-title {
	font-size:2em;
	text-align:center;
}



#content .home-description {
	text-align:center;
	width:100%;
	margin: 0 auto;
	display: block;
 	font-size:18px;
	font-family: 'DINPro-Light', "Helvetica Neue", arial, helvetica, sans-serif;
	color:#999;
}

#content .home-description a:hover { text-decoration:underline;}

/* Added by Chris */

strong {
	color: black;
}

#content form {
	width: 500px;
  margin: 50px auto;
	box-shadow: 0 0 0 1px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
	border-radius: 5px;
	background: white;
}

#content form input#drip-email {
	border:none;
	border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
	padding:0 20px;
	line-height: 50px;
	height: 50px;
	width: 60%;
	box-shadow: none;
	margin: 0;
	box-sizing: border-box;
}

#content form input[type="submit"] {
	background-color:#fff;
	margin: 12px 0;
	color: #e84a39;
	width: 40%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
	line-height: 1.5;
	padding:0px 20px;
	border:none;
	border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	cursor: pointer;
  vertical-align: top;
	margin-left: -5px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
}
.navbar .navbar-inner {
	background-color: #fafafa;
	border: none;
}

/* End Chris */

.category-options {
	margin: 100px auto 0 auto;
	display:block;
	width: 90%;
}

@media screen and (min-width:480px){
	.home-title {
		font-size:4em;
	}

}

@media screen and (min-width:640px){

	#content .home-description {
	 width:480px;
	}
}

@media screen and (min-width:768px){
	.category-options {
		width:700px;
	}

	.category-options .category-option {
 		width: 50%;
 		float: left;
	}
}

@media screen and (min-width:991px){
	.home-title {
		font-size:4.5em;
	}

	#content .home-description {
	 	line-height: 1.5em;
		width:835px;
	 	font-size:21px;
	}

}



.category-options:before,
.category-options:after {
 	content:'';
 	display:table;
}

.category-options:after {
 	clear:both;
}


.category-option {
	text-align: center;
}
.category-option .category-option_image {
 	display:block;
 	text-align:center;
 	width: 100%;
 	height: 300px;
 	position: relative;
 	margin-bottom: 25px;
}

.category-option .category-option_image img {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display:block;
	margin: 0 auto;
}

.category-option .category-link {
	display:block;
	width: 316px;
	height: 70px;
	text-align:center;
	line-height:70px;
	text-transform:uppercase;
	color: #555;
	margin:0 auto;
	border-radius:5px;
	border: 2px solid #ccc;
	transition: all 0.4s ease;
}

.category-option h2 {
	font-size: 16px;
	text-align:center;
	text-transform: uppercase;
	margin:0 !important;
}

.category-option .category-link:hover {
	color: white;
	background: #555;
 	border: 2px solid #555;
}

.blog-home-footer {
	clear: both;
	margin-top:60px;
	width: 100%;
	padding: 20px 0px 20px 0px;
	background-color: #444;
	position: relative;
	min-height: 180px;
}

.blog-home-footer .container-slider  {

 	overflow: hidden;
 	height: 0;
	transition: height 0.4s ease;
}

.blog-home-footer .container-slider .slick-arrow {
	display: none !important;
}

.blog-home-footer .container-slider.active {
	height: 180px;
}

.blog-home-footer .container-slider.active .slick-arrow {
	display: block !important;
}

.blog-home-footer #wrapper,
.blog-home-footer #main {
	background: transparent;
	margin-top:0;
	margin-bottom:0;
}

.single-post-header {
	height: 30px;
	padding: 16px;
	text-align: right;
	position: fixed;
	right: 20px;
	top:20px;
}

@media screen and (min-width:980px) {
	.single-post-header {
	}
}

#content .category-option_description{
	text-align:center;
	max-width: 300px;
	display:block;
	margin:0 auto;
}

#content .category-option_description p {
	font-size:15px;
	color: #999;
	line-height: 1.3em;
	margin-bottom:15px;
}

#content .comment-number {
	text-align:center;
  color: #999;
	display:block;
  text-transform: uppercase;
  font-size: 12px;
}

#content .comment-number a {
	color: #999;
	font-size: 12px;
}

#content .comment-number > ul {
	padding:0;
	margin:0;
	list-style: circle;
}

#content .comment-number > ul > li {
	display:inline-block;
	margin-left:15px;
	position: relative;
}

#content .comment-number > ul  > li:first-child{
			margin-left:0px;
		}
#content .comment-number  > ul  > li:first-child:before{
	display:none;
}
#content .comment-number  > ul  > li:before{
	 content:'';
	 display:block;
	 background-color:#ccc;
	 width:5px;
	 height:5px;
	 border-radius: 50%;
	 left:-12px;
	 top:0;
	 bottom:0;
	 margin:auto;
	 position: absolute;
}


#content .comment-number.with-author-meta {
	margin-top: 5px;
}

.post-header-author-meta {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
    margin: 40px 0 0 0;
}


#content .comment-number .tenscores_upwork_share {
		  position: relative;
		  display:inline;
		  font-size:12px;
		  color:#999;
		  text-transform: uppercase;
		  padding:0.5em 0;
		}

		#content .comment-number .tenscores_upwork_share ul {
			position: absolute;
			background-color:white;
			margin:0;
			display:none;
			top:100%;
			left:-200px;
			padding:1em 0.25em;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
			margin-left:10px;
			list-style: none;
			width: 340px;
			text-align: center;
			z-index:999;

		}



		#content .comment-number .tenscores_upwork_share ul li {
			display:inline-block;
			margin:0 0.5em;
			animation:none;

		}



		#content .comment-number .tenscores_upwork_share ul li .tenscores_share_link {
			position: relative;
			padding-left:16px;
			color: white;
			text-decoration: none;
			padding:4px 8px 4px 24px;
			border-radius:2px;
			font-size: 12px;
			text-transform: none;
			transition: none !important;
		}

		#content .comment-number .tenscores_upwork_share ul li .tenscores_share_link svg {
			position: absolute;
			top:0px;
			bottom:0;
			margin: auto;
			left: 4px;
			fill: white;
		}

		#content .comment-number .tenscores_upwork_share ul li a.twitter {
			background-color:#55acee;
		}

		#content .comment-number .tenscores_upwork_share ul li a.facebook {
			background-color:#3b5998;
		}

		#content .comment-number .tenscores_upwork_share ul li a.linkedin {
			background-color:#2672ae;
		}

		#content .comment-number .tenscores_upwork_share ul li a.google {
			background-color:#db4437;
		}

		#content .comment-number .tenscores_upwork_share ul li a.linkedin svg {
			left: 6px;
			top:-2px;
		}

		#content .comment-number .tenscores_upwork_share ul li .tenscores_share_count {
			display:block;
			border: 1px solid #ccc;
		    border-radius: 3px;
		    color: #333;
		}

.post-header-author-meta img.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){
	#content .comment-number .tenscores_upwork_share ul {

		top:-36px;
		left:100%;

	}
}

.subscribe-button {
	position: relative;
	background-color: #444444;
	color: white !important;
	display: block;
	margin: 60px auto 50px auto;
	width: 310px;
	height: 40px;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 2px 5px #333;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;

}

.subscribe-button:after {
	position: absolute;
	width:90px;
	content:'';
	height:2px;
	background-color: #444;
	top: 130px;
	left:131px;
}

.subscribe-button:visited,
.subscribe-button:active,
.subscribe-button:focus {
	color: white;
}

.subscribe-button small {
	display: block;
	font-style: italic;
	color: #bcbebf;
	text-transform: none;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0px;
}

a.subscribe_button {
	display: block;
	text-align: center;

	color: #5e8aa1;
	font-size:15px;
}
a.subscribe_button:hover {
	text-decoration: underline;
}


.tenscores_category_subscribe {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 99999;
	display: none;
}

.tenscores_category_subscribe a {
	position: relative;
	display: block;
}

.tenscores_category_subscribe .bubble {
	color: #777;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	bottom:0;
	margin: auto;
	height: 50px;
	background: white;
	display: inline-block;
	width: 150px;
	left: -170px;
	line-height: 50px;

	border-radius: 4px;
	z-index: 20;
	font-size: 14px;
	text-align: center;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.tenscores_category_subscribe .bubble:after,
.tenscores_category_subscribe .bubble:before {
	content:'';
	display: block;
	position: absolute;
	width:0;
	height:0;
	left: auto;
	right: -18px;
	border: 10px solid transparent;
	top:15px;
	bottom:0;
	z-index: 25;
}

.tenscores_category_subscribe .bubble:before {
	right:-21px;
	border-left-color: #c0c0c0;
	opacity:0.8;
	z-index: 10;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);

}

.tenscores_category_subscribe .bubble:after {
	border-left-color: white;
}


@media screen and (min-width:940px){
	.tenscores_category_subscribe.show {
		display: block;
	}
}

/* Cartoonist Description Box */
.cartoon-description {
	background: #f9eb04;
	padding: 60px 30px;
	border: 5px dotted black;
	margin: 20px 0;
}
.cartoon-description p { color: black; }


/** Blog Hero */

.blog_hero_block {
	height: 440px;
	width: 100%;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e53b3f+0,7c4396+100 */
	background: #e53b3f; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e53b3f 0%, #7c4396 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #e53b3f 0%,#7c4396 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #e53b3f 0%,#7c4396 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53b3f', endColorstr='#7c4396',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.blog_hero_block.no-home {
	height: 220px;
}

.blog_hero_container {
	width: 980px;
	margin:0 auto;
	height: 100%;
	position: relative;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.blog_hero_container img {
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;

	height: 88%;
	width: auto;
}

.blog_hero_container .bigger {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 2px;
	display: block;
	margin-top: 20px;
	width: 660px;
}

.blog_hero_container .smaller {
	font-size: 24px;
	display: block;
	font-weight: 500;
	margin-top: 10px;
}

.no-home .blog_hero_container .smaller  {
	margin-bottom: 20px;
}

.blog_hero_container .smaller em {
	font-family: Georgia, Times, serif;
	font-weight: 300;
}

.blog_hero_container .line {
	display: block;
	width: 125px;
	height: 3px;
	background-color: white;
	margin: 40px 0;
}

.blog_hero_container .blog_hero_text p {
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 40px;
}

.blog_hero_container .blog_hero_text {
	position: absolute;
	right:0;
	height: 300px;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 600px;
}

.blog_hero_block.no-home .blog_hero_container .blog_hero_text {
	height: 180px;
	width: 70%;
}

.blog_hero_container:after,
.blog_hero_container:before {
	content: '';
	display: table;
}

.blog_hero_container:after {
	clear: both;
}

.blog_hero_container .form input,
.blog_hero_container .form button {
	box-sizing: border-box;
	display: block;
	background: transparent;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	height: 50px;
	float: left;
	background-color:rgba(0, 0, 0, 0.1);
}

.blog_hero_container .form input {
	width: 350px;
	margin-right: 10px;
	padding-left:10px;
}

.blog_hero_container .form input::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}
.blog_hero_container .form input::-moz-placeholder { /* Firefox 19+ */
  color: white;
  text-transform: uppercase;
}
.blog_hero_container .form input:-ms-input-placeholder { /* IE 10+ */
  color: white;
  text-transform: uppercase;
}
.blog_hero_container .form input:-moz-placeholder { /* Firefox 18- */
  color: white;
  text-transform: uppercase;
}

.blog_hero_container .form button {
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 400;
	width: 240px;
}

@media screen and (max-width: 1024px) {
	.blog_hero_container {
		width: 90%;
		font-size: 16px;
	}

	.blog_hero_container .blog_hero_text {
		width: calc( 100% - 340px );
	}

	.blog_hero_container .bigger {
		font-size: 24px;
		margin: 0;
		width: auto;
		line-height: 1.2;
	}

	.blog_hero_container .smaller {
		font-size: 18px;
		margin:0;
	}

	.blog_hero_container .blog_hero_text p {
		margin-bottom: 5px;
	}

	.blog_hero_container .form input,
	.blog_hero_container .form button {
		width: 100%;
		margin:10px 0;
	}

	.no-home .blog_hero_container .form input,
	.no-home .blog_hero_container .form button {

		margin:5px 0;
	}

	.blog_hero_container .line {
		margin: 20px 0;
	}

	.no-home .blog_hero_container .smaller  {
		margin-bottom: 10px;
	}

}
@media screen and (max-width: 800px) {
	.no-home .blog_hero_container .bigger {
		font-size: 18px;
	}

	.no-home .blog_hero_container .smaller {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.blog_hero_block,
	.no-home.blog_hero_block {
		height: auto;
		text-align: center;
		padding-bottom: 40px;
	}

	.blog_hero_container img,
	.blog_hero_container .blog_hero_text {
		position: static;
		margin-top: 20px;
	}

	.blog_hero_container .blog_hero_text {
		width: 100%;
	}

	.blog_hero_container .line {
		margin-left: auto;
		margin-right: auto;
	}

	.blog_hero_container .bigger {
		line-height: 28px;
	}

	.blog_hero_container .smaller {
		line-height: 21px;
	}
}



#content .blog_home_articles {
	font-size: 13px;
	padding:0;
	margin: 10px 0;
	list-style: none;
	padding: 0 20px;
	display:none;
}

#content .blog_home_articles li {
	padding: 10px 0;
	border-top: 1px dotted black;
}

#content .blog_home_articles li:last-child {
	border-bottom: 1px dotted black;
}

/**
 * Slider
 */
.blog_home_slider {
	width: 660px;
	margin:0 auto;
}

@media screen and (max-width:960px) {
	.blog_home_slider {
		width: 435px;
	}
}

@media screen and (max-width:600px) {
	.blog_home_slider {
		width: 210px;
	}
}

.blog_home_slider .slick-slide {
	width: 92px;
	display: inline-block;
	margin:0 10px;
	text-align: center;
}

.blog_home_slider  .slick-slide a,
.blog_home_slider  .slick-slide a:visited {
	color: white;
	text-align: center;
	transition: all 0.4s ease;
}

.blog_home_slider  .slick-slide a:hover,
.blog_home_slider  .slick-slide a:focus {
	color: #bcbebf;
}

.home_slider_prev,
.home_slider_next {
	position: absolute;
	top: 65px;
	background: transparent;
    border: none;
    font-size: 50px;
    color: white;
    opacity: 0.2;
}

.home_slider_prev {
	left: 20px;
}

.home_slider_next {
	right: 20px;
}

.blog_home_slider  .slick-slide img {
	min-width: 100%;
	width: 100%;
	height: 140px;
	border-radius: 3px;
	border: 2px solid white;
	box-shadow: 0px 2px 5px #333;
}




.category-option:before {
	content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    bottom:0;
    border-bottom-color: #444;
    opacity: 0;
}

.category-option.active:before {
	opacity: 1;
}

.category-option-first:before {
	left: 205px;
}

.category-option-second:before {
	right: 200px;
}

@media screen and (max-width:768px) {
	.category-option {
		position: relative;
		padding-left: 30px;
	}

	.category-option:before {
		left: 0 !important;
		right: auto !important;
		border-bottom-color:transparent;
		border-left-color: #444;
	}
}

#ts_footer_home_cta {
	color: #999;
	position: relative;
	width: 300px;
	margin: 30px auto;
	font-size: 16px;
	text-align: center;
}
#ts_footer_home_cta:before {
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	width: 100px;
	height:2px;
	background: white;
	left:0;
	right:0;
	margin: auto;
}

#ts_footer_home_cta a,
#ts_footer_home_cta a:hover,
#ts_footer_home_cta a:visited {
	color: #999;
}
