
@charset "UTF-8";
/* CSS Document */

body, html, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	}

body {
	font-family: Georgia, Helvetica, serif;
	color: white;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body .video {
	background-position: left top;

}

#content-wrapper {
	width: 450px;
	height: 460px;
	position: absolute;
	right: 13%;
	top: 60px;
}

#logo {
	display: inline;
}

h1, h2 {
	color: white;
	text-align: center;
	font-weight: normal;
}

h1 {
	margin-top: 30px;
	font-size: 46px;
    line-height: 56px;
    text-shadow: 2px 2px #000;
}

h1.video {
	margin-top: 20px;
	font-size: 46px;
    line-height: 56px;
    text-shadow: 2px 2px #000;
}

h2 {
	font-size: 18px;
	line-height: 26px;
	margin: 20px auto;
}

/* LOGIN BUTTON */

#login {
	width: 100px;
    position: absolute;
    right: 5px;
    top: 0px;
	text-align:center;
	padding: 5px;
	background: none;
}

#login p {
	font-weight: lighter;
}

#login .btn {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}


/* Form */

#form-wrapper {
	width: 315px;
	margin: 30px auto 0 auto;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

#input-wrapper {
	margin-bottom: 10px;
}

input.input-text {
	padding-left: 15px;
}

input.input-text, .btn {
	font-family: Roboto, Helvetica, serif;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
	border: none;
	height: 30px;
	margin:0;
}
p {
	color: white;
}

.btn-red {
	color: white;
	text-shadow: none;
	background: #ea4f38;
	font-size: 12px;
	font-size: 14px;
	vertical-align: top;
	height: 38px;
}

.btn-red:hover {
	color: white;
	background: #d43f3a;

}

.btn-inverse {
	background: #333;
	color: white;
	border-color: #333;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
  box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.no-molestation-text {
	margin: 0px auto 0px;
	text-align: center;
	width: 250px;
}

hr {
	border-bottom: none;
	border-left: none;
	border-right: none;
}

/* ADD THIS */

#addthis {
	width:150px;
	margin:auto;
}

#addthis-wrapper {
	width: 220px;
	margin: 30px auto;
	text-align: center;
	color: white;
}

#addthis-wrapper-video {
	width: 220px;
	margin: 50px auto 50px auto;
	text-align: center;
	color: white;
}

#addthis-wrapper #text {
	margin: 10px auto;
	padding: 0 10px;

}


#addthis-wrapper-video #text {
	margin: 10px auto;
	padding: 0 25px;
}

#addthis-wrapper-video #text span {
	font-style: italic;
}

.break-video {
	margin-bottom: 50px;
}

#video {
	border: solid 1px #000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 30px 0 20px 0;
	padding: 4px;
	background: #000;
}

#video-wrap {
	height: 250px;
	width: 440px;
	margin: auto;
}

a.start {
	margin: 0 auto 50px auto;
	width: 270px;
}



#footer {
	padding:3px;
	background: black;
	font-size: 9px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	color: #ccc;
	opacity: 0.7;
}

#footer a {
	margin: 0 2px;
	color: #ccc;
}

#footer a:hover {
	color: #fff;
	text-decoration: none;
}

#ts-translate {
	float:right;
	margin-right:5px;
	width:157;
}
.goog-te-gadget {
	font-family: Georgia, Helvetica, serif;
  font-size: 11px;
  text-transform: none;
}
.goog-te-gadget-simple {
	font-zie: 9px;
	border:none !important;
	background: none !important;
}
.goog-te-gadget-icon {
	display:none;
}

/* Cutomers Logos */

.text {
	margin-bottom: 20px;
	text-align: center;
}

#customers {
	margin-bottom: 100px;
	padding: 8px;
}


.customer-box {
	width: 100px;
	height: 100px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: white;
	margin: 3px;
	display: inline-block;
}

.center {
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;

}

.customer-box img {
	width: 80px;
	margin: auto;
	text-align: center;
}

.margin-50 {
	margin: 50px auto;
}

#close img {
	opacity: 0.5;
	width: 80px;
}


/*
/* Annimation
*/

img, h1, p, ul li {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Cookie consent
---------------------------------------------------------------------*/
.cc-banner.cc-bottom {
    bottom: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px !important;
    margin: 0px 10px !important;
    border-radius: 10px !important;
		max-width: 530px !important;
}
.cc-window {
	font-size: 14px !important;
}
.cc-btn {
    margin-left: 10px !important;
    border-radius: 6px !important;
		min-width:80px !important;
}
