/* Bootstrap Class Customizations */

body {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-weight:400;
}

.navbar {
  a.navbar-brand {
    background-image: url('../images/logo-2018-60.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  .navbar-nav {
    .nav-link {
      color: rgba(0,0,0,.4);
      text-transform: uppercase;
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      transition: transform 0.2s;
      position: relative;
      &:hover {
        transform: scale(1.1);
        color: #E74C3C !important;
      }
      &.active {
        color: #E74C3C !important;
      }
    }
  }
}


body.qs .nav-link.qs,
body.km .nav-link.km,
body.pricing .nav-link.pricing,
body.reviews .nav-link.reviews  {
    color: #E74C3C !important;
}
/* For later
body.qs .nav-link.qs::before,
body.km .nav-link.km::before,
body.pricing .nav-link.pricing::before  {
  content: "";
  background-color: #e84a39;
  width: 30px;
  height: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  margin: auto;
  position: absolute;
  top: -23px;
}
*/

.navbar-toggler {
  border: none;
}

h1 {
  font-size: 3.5rem;
  //font-weight: 500;
  //font-family: Roboto;
}

.jumbotron {
  background-color: transparent;
  border-radius: 0;
  max-width: 900px;
  margin: auto;
}

.lead {
  font-size: 1.6rem;
  //font-weight: 300;
  max-width: 760px;
  margin: auto;
  //font-family: Roboto;
  color: #9B9B9B;
  line-height: 2.5rem;
}

.btn {
  box-shadow: 0 3px 4px #ccc;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-lg {
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 8px;
  margin-bottom: 2rem;
}

footer {
  margin-top: 3rem;
  padding: 50px !important;
  background: #fafafa;
  .footer-logo {
    width: 30px;
    margin-bottom: 5px;
    background-image: url('../images/logo-2018-60.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  ul li a {
    font-size: 12px;
    color: #6c757d;
    &:hover {
      color: #6c757d;
    }
  }
}



.ts-red {
  color: #E74C3C !important;
}
.ts-gold {
  color: #FCD462 !important;
}

.hero-perspective {
  margin: 6rem 0 5rem;
  position:relative;
  perspective: 2000px;
}
img.hero {
  height: auto;
  border-radius: 10px;
  //border:3px solid #fff;
}
.hero-left {
  padding-right: 0rem !important;
  transform: scale(1.25) rotateY(40deg) ;
  transition: transform 0.7s;
  position: relative;
  img {
  box-shadow: -20px 5px 20px #444;
  }
}

.col-6:hover .hero-left {
  transform: scale(1.25) translateX(40%)  ;
  z-index: 1000;
}

.hero-right {
  padding-left: 0rem !important;
  transform: scale(1.25) rotateY(-40deg) ;
  transition: transform 0.7s;
  position: relative;
}
.hero-right img {
  box-shadow: 20px 5px 20px #444;
}
.col-6:hover .hero-right {
  transform: scale(1.25) translateX(-40%);
  z-index: 1000;
}

.col-6:hover .hero-left img, .col-6:hover .hero-right img {
  box-shadow: 0rem 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.ts-CTA {
  margin: 5rem 0 0 0;
}

.btn-red-ts {
  color: #fff;
  //background-color: #E74C3C;
  //border-color: #E74C3C;
  font-size: 0.8rem;
  font-weight:500;
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
  border: none;
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-red-ts:hover {
  color:#fff;
}

.testimonial {
  max-width: 700px;
  .testimonial-txt {
    font-size: 1rem;
    color: #9B9B9B;
    font-weight: 300;
    margin: auto;
    display: block;
    position: relative;
    .braket {
      font-size: 5rem;
      display: inline-block;
      position: absolute;
      top: -30px;
      left: -30px;
      //transform: rotate(-20deg);
      color: #FEBD04;
    }
  }
  .testimonial-sig {
    display: block;
    margin-top: 1.5em;
    font-size: 0.7em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .15em;
    color: #aaaaaa;
    text-transform: uppercase;
  }
  .testimonial-img {
    width: 100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 0 3px 4px #ccc;
    margin: 0 auto 2em;
    &.issam {
      background-image: url('../images/issam.jpg');
      background-size: contain;
    }
    &.ed {
      background-image: url('../images/ed.png');
      background-size: contain;
    }
    &.adrian {
      background-image: url('../images/adrian.jpg');
      background-size: contain;
    }
    &.emily {
      background-image: url('../images/emily.png');
      background-size: contain;
    }
    &.michelle {
      background-image: url('../images/michelle.jpg');
      background-size: contain;
    }
    &.phil {
      background-image: url('../images/phil.jpg');
      background-size: contain;
    }
    &.florian {
      background-image: url('../images/florian.png');
      background-size: contain;
    }
    &.martins {
      background-image: url('../images/martins.jpg');
      background-size: contain;
    }
  }
}

.review-box {
  border: none;
  border-radius: 8px;
  //color: #6c757d;
  max-width: 900px;
  padding: 4rem;
  margin-bottom: 5rem !important;
  &.brian {
    background: #FCD462;
  }
  &.david {
    //background: #67C4EF;
  }
  &.casson {
  //  background: #2ECC71;
  }
  &.adam {
    //background: #F06292;
    border: 1px solid rgba(0,0,0,0.02);
  }
  &.sergio {
    //background: rgba(110,128,203,0.7);
  }

  .review-img {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    width: 100px;
    height: 100px;
    background: white;
  }
  .card-body {
    padding: 0 0 0 2.5rem;
  }
  .card-title {
    color: black;
    font-size: 2.5rem;
  }
  .sig {
    line-height: 1.2rem;
    margin-top: 10px;
    .name {
      color: black !important;
    }
    small {
      display: block;
    }
  }
  .btn-review {
    background: black;
    color: white;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    padding: 0.6rem 2rem;
    margin: 2rem 0 0;
    border-radius: 100px;
  }
}


.customer-logos {
  margin: 1rem auto 4rem;
  .col-sm {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40px;
    min-width: 180px;
    margin-top: 40px;
  }
  .nokia {
    //margin-top:13px;
    background-image: url('../images/nokia.png');
  }
  .iprospect {
    //margin-top:-30px;
    background-image: url('../images/iprospect.png');
  }
  .thomas-cook {
    //margin-top:-30px;
    background-image: url('../images/thomas-cook.png');
  }
  .trivago {
    background-image: url('../images/trivago.png');
  }
  .aexp {
    background-image: url('../images/aexp.png');
  }
  .walgreens {
    background-image: url('../images/walgreens.png');
  }
}

.animated {
  -webkit-animation-fill-mode: unset !important;
  animation-fill-mode: unset !important;
}

/* Secondary Pages */

.nav-pills .nav-item {
  margin-right: 1em;
}

.nav-pills .nav-link {
  color: rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
.nav-pills .nav-link.active {
  background: none;
  border: 0px solid rgba(0,0,0,0.1);
  color: #E74C3C;
}
.nav-pills .nav-link:hover {
  transform: scale(1.05);
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active,
body.qs-overview .nav-pills .nav-link.qs-overview,
body.qs-analysis .nav-pills .nav-link.qs-analysis,
body.qs-regrouper .nav-pills .nav-link.qs-regrouper,
body.qs-history .nav-pills .nav-link.qs-history,
body.qs-ads .nav-pills .nav-link.qs-ads,
body.qs-todo .nav-pills .nav-link.qs-todo,
body.km-overview .nav-pills .nav-link.km-overview,
body.km-new .nav-pills .nav-link.km-new,
body.km-duplicates .nav-pills .nav-link.km-duplicates,
body.km-negatives .nav-pills .nav-link.km-negatives,
body.km-bids .nav-pills .nav-link.km-bids,
body.km-cleanup .nav-pills .nav-link.km-cleanup,
 {
  background: white;
  border: 0px solid rgba(0,0,0,0.1);
  color: #E74C3C;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  i.ts-nav-icon {
    -moz-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;
  }
}


// Make the qs-nav icons colorless by default
i.ts-nav-icon {
  display: block;
  width: 80px;
  height: 60px;
  margin: 0 auto 10px;
  /*
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  */
}
i.icon-regrouper {
  background: url("../images/icon-regrouper.png") no-repeat center;
}
i.icon-gauge {
  background: url("../images/icon-gauge.png") no-repeat center;
}
i.icon-overview {
  background: url("../images/icon-overview.png") no-repeat center;
}
i.icon-gauge {
  background: url("../images/icon-gauge.png") no-repeat center;
}
i.icon-ads {
  background: url("../images/icon-ads.png") no-repeat center;
}
i.icon-todo {
  background: url("../images/icon-todo.png") no-repeat center;
}
i.icon-timeline {
  background: url("../images/icon-timeline.png") no-repeat center;
}

i.icon-km-overview {
  background: url("../images/icon-km-overview-3.png") no-repeat center;
}
i.icon-km-new {
  background: url("../images/icon-km-new.png") no-repeat center;
}
i.icon-km-duplicates {
  background: url("../images/icon-km-duplicates.png") no-repeat center;
}
i.icon-km-negatives {
  background: url("../images/icon-km-negatives.png") no-repeat center;
}
i.icon-km-bids {
  background: url("../images/icon-km-bids.png") no-repeat center;
}
i.icon-km-cleanup {
  background: url("../images/icon-km-cleanup.png") no-repeat center;
}


.shadow-big {
  box-shadow: 0rem 1rem 0.9rem 0 rgba(0, 0, 0, 0.1);
}

.hero-container {
  margin-top: 5rem;
}

.hero-img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #fafafa;
}

.content {
  max-width: 1000px;
  margin-top: 9rem;
  &.ai {
    max-width: 700px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    //background: #fff;
    h4 {
      font-size: 5rem !important;
      //font-family: courier;
    }
    .content-text {
      padding: 0;
    }
  }
  &.timeline {
    .content-text {
      height: auto !important;
      max-width: 600px !important;
      display: block !important;
      margin: 0 auto 2rem !important;
    }
    .content-img {
      border:none;
    }
  }
  &.last {
    .content-text {
      height: auto !important;
      max-width: 600px !important;
      display: block !important;
      margin:0 auto 0 !important;
    }
  }
  .content-item {
    display: table;
    .content-text {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 16rem;
      padding: 0 1rem;
      span.number {
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 50%;
        background: white;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.13);
        margin-bottom: 1rem;
        text-align: center;
        vertical-align: middle;
        line-height: 52px;
        font-size: 1.5rem;
        font-weight: 500;
        z-index: 1000;
        position: relative;
      }
      h4 {
        font-size: 2rem;
        font-weight: 400;
        abbr {
          font-size: 0.5rem;
        }
      }
      p {
        font-size: 1.2rem;
        color: rgba(0,0,0,0.4)
      }
    }
  }
}

body.km {
  .content {
    .content-img {
      padding: 0px;
      img {
        border-radius: 6px;
      }
    }
  }
}


span.slimmed {
  color: rgba(0,0,0,0.5);
  font-weight: 300;
}


.placeholder {
  width:100%;
  height: 16rem;
  border-radius: 8px;
  display: table-cell;
  vertical-align: middle;
  &.boxed {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    background: white;
  }
  &.no-height {
    height: 100%;
    img {
      border-radius: 8px;
    }
  }
  .loser-by-CTR {
    padding: 0 0.7rem;
    img {
      border-radius:8px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    }
  }
  .content-img {
    padding: 2rem;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    background: white;
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    &.account-qs {
      padding: 1.2rem 2rem 1.5rem;
    }
    &.components {
      padding: 1rem 2.5rem 0;
    }
    &.distributions {
      padding:1rem;
    }
    &.regrouper {
      padding: 0;
      img {
        border-radius: 4px;
      }
    }
    &.smag {
      padding: 0.6rem 0.3rem 0.6rem 0.6rem;
    }
    &.regrouper-settings {
      padding: 0.5rem;
    }
    &.pause-ads {
      padding: 0;
      img {
        border-radius: 4px;
      }
    }
    &.write-ads {
      padding: 0;
      img {
        border-radius: 6px;
      }
    }
    &.todo {
      padding: 0;
      border: none;
      margin-bottom: 5rem;
      img {
        border-radius: 8px;
      }
    }
    &.history {
      padding: 0;
      img {
        border-radius: 6px;
      }
    }
    &.daily-updates {
      padding: 2rem;
      background: #fafafa;
      border: 2px solid #fff;
    }
  }
}

// Lines for the overview pages

span.dotted-line {
  position: absolute;
  display: none;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,0.3);
  z-index: 0;
}

// QS overview
span.dotted-line.a1 {
  width: 120px;
  left: -4rem;
  top: 3.8rem;
}
span.dotted-line.b1 {
  width: 875px;
  left: -4rem;
  top: -815px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.c1 {
  width: 250px;
  left: -4rem;
  top: -50.9rem;
}

span.dotted-line.a3 {
  width: 190px;
  left: -7rem;
  top: 3.8rem;
}
span.dotted-line.b3 {
  width: 1625px;
  left: -7rem;
  top: -1565px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.c3 {
  width: 300px;
  left: -7rem;
  top: -1565px;
}

span.dotted-line.a2 {
  width: 98px;
  left: 28rem;
  top: 3.8rem;
}
span.dotted-line.b2 {
  width: 965px;
  left: 34rem;
  top: -905px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.c2 {
  width: 97px;
  left: 28rem;
  top: -905px;
}

span.dotted-line.a4 {
  width: 98px;
  left: 29.6rem;
  top: 3.8rem;
}
span.dotted-line.b4 {
  width: 1570px;
  left: 36rem;
  top: 61px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
span.dotted-line.c4 {
  width: 160px;
  left: 26rem;
  top: -1510px;
}

span.dotted-line.a5 {
  width: 572px;
  left: 20rem;
  top: 3.8rem;
}
span.dotted-line.b5 {
  width: 1853px;
  left: 56rem;
  top: 61px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
span.dotted-line.c5 {
  width: 89px;
  left: 50.2rem;
  top: -1790px;
}

// KM overview page
span.dotted-line.km-1a {
  width: 180px;
  left: -8rem;
  top: 2.6rem;
}
span.dotted-line.km-1b {
  width: 905px;
  left: -8rem;
  top: -865px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.km-1c {
  width: 120px;
  left: -8rem;
  top: -54.2rem;
}

span.dotted-line.km-2a {
  width: 170px;
  left: -7rem;
  top: 1.8rem;
}
span.dotted-line.km-2b {
  width: 1245px;
  left: -7rem;
  top: -1220px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.km-2c {
  width: 105px;
  left: -7rem;
  top: -76.2rem;
}

span.dotted-line.km-3a {
  width: 170px;
  left: -6rem;
  top: 1.8rem;
}
span.dotted-line.km-3b {
  width: 1680px;
  left: -6rem;
  top: -1655px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.km-3c {
  width: 87px;
  left: -6rem;
  top: -103.4rem;
}

span.dotted-line.km-4a {
  width: 130px;
  left: -5rem;
  top: 3.8rem;
}
span.dotted-line.km-4b {
  width: 2065px;
  left: -5rem;
  top: -2005px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.km-4c {
  width: 70px;
  left: -5rem;
  top: -125.4rem;
}

span.dotted-line.km-5a {
  width: 80px;
  left: -2.5rem;
  top: 2.9rem;
}
span.dotted-line.km-5b {
  width: 2540px;
  left: -2.5rem;
  top: -156rem;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
span.dotted-line.km-5c {
  width: 25px;
  left: -2.5rem;
  top: -155.9rem;
}
span.dotted-line.km-5d {
  width: 176px;
  left: -0.9rem;
  top: -2582px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}



.container.focus {
  max-width: 600px;
}

.focus img.todo {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}


.bg-slant {
  height: 110rem;
  background: #fafafa;
  transform: skewY(-15deg);
  position: absolute;
  top: 40rem;
  z-index: -100000000;
}
body {
  &.home {
    .nav-link {
      color: white !important;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .bg-slant {
      top: -30rem;
      background:#222;
      height: 98rem;
    }
    h1 {
      color: white;
    }
    .ts-CTA {
      margin: 8rem 0 0 0;
      .btn-red-ts {
        border: none;
        background: #16BFFD;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
    }
  }
  &.qs-overview {
    .bg-slant {
      height: 172rem;
      top: 60rem;
    }
    .content {
      margin-top: 9rem;
    }
  }
  &.qs-analysis {
    .bg-slant {
      height: 112rem;
      top: 49rem;
    }
  }
  &.qs-regrouper {
    .bg-slant {
      height: 125rem;
      top: 50rem;
    }
  }
  &.qs-ads {
    .bg-slant {
      height: 146.5rem;
      top: 48rem;
    }
  }
  &.qs-history {
    .bg-slant {
      height: 136rem;
      top: 60rem;
    }
  }
  &.qs-todo {
    .bg-slant {
      height: 47rem;
      top: 42rem;
    }
  }
  &.km-bids {
    .bg-slant {
      height: 166rem;
      top: 50rem;
    }
  }
  &.km-overview {
    .bg-slant {
      height: 189rem;
      top: 50rem;
    }
  }
  &.km-new {
    .bg-slant {
      height: 150rem;
      top: 50rem;
    }
  }
  &.km-duplicates {
    .bg-slant {
      height: 112rem;
      top: 50rem;
    }
  }
  &.km-negatives {
    .bg-slant {
      height: 60rem;
      top: 50rem;
    }
  }
  &.km-cleanup {
    .bg-slant {
      height: 105.7rem;
      top: 51rem;
    }
  }
}
body.pricing {
  h2.lead {
    max-width: 590px;
  }
  .pricing-box {
    border-radius: 8px;
    border: none;
    width: 24rem;
    margin:auto;
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.2), 0 3px 6px 0 rgba(0, 0, 0, .07);
    cursor: pointer;
    .price-body {
      padding: 6rem 3rem;
    }
    .price-amount h3 {
      font-size: 6rem;
      font-family: Roboto;
    }
    .structure-fee {
      background: #333;
      padding: 4rem 3rem;
      color: white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      p.card-text {
        font-size: 0.9rem;
      }
      .list-group {
        margin-top: 3rem;
        .list-group-item {
          background: none;
          padding: 1.2rem 0;
          font-size: 0.9rem;
          border-top: 1px dotted rgba(255,255,255,.15);
        }
      }
      a.contact {
        color: white;
        border-bottom: 1px dotted #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .pricing-detail {
    max-width: 300px;
    top: 35rem;
    position: relative;
    color: rgba(0,0,0,0.5);
    strong {
      color: black;
    }
  }
  .ts-CTA {
    margin: 1.5rem 0 0 0;
    .btn-red-ts {
      width: 24rem;
      font-size: 1rem;
      padding: 1.4rem;
    }
  }
  .bg-slant {
    top: 25rem;
    height: 50rem;
  }

}

body.team {
  .team-mate {
    height: 600px;
    background-size: cover !important;
    padding: 1rem;
    border-radius: 2px;
    .name {
      position: absolute;
      bottom: 10px;
      span {
        display: block;
        color: white;
      }
    }
    &.prynce {
      background: url("../images/prynce-2.jpg") no-repeat center;
    }
    &.chretien {
      background: url("../images/chretien-2.jpg") no-repeat center;
    }
    &.chris {
      background: url("../images/chris.jpg") no-repeat center;
    }
  }
}


// ++++++++++++++++++++++++++++++++++++++++++++++

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  .lead {
    font-size: 1.1rem;
  }
  .placeholder {
    height: 6rem;
  }
  body.home {
    .bg-slant {
      height: 85rem;
    }
  }
  body.qs-overview {
    .bg-slant {
      height: 175rem;
      top: 55rem;
    }
  }
  body.pricing {
    .pricing-detail {
      display: none;
    }
  }
  ul.nav-pills {
    //overflow-x: scroll;
    //flex-wrap: nowrap;
    padding: 5px;
    .nav-item {
    //  margin-right: 0rem;
      .nav-link {
        padding: .5rem 0.5rem;
      }
    }
  }
  .testimonial {
    .testimonial-txt {
      font-size: 0.8rem;
    }
    .testimonial-sig {
      font-size: 0.4rem;
    }
  }
  .row.logo-row {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  .bg-slant {

  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .bg-slant {

  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .bg-slant {

  }
}
