*  {font-family: sans-serif !important;}

div.post a.thumbLink:hover img {margin:0 20px 0 0; box-shadow: 1px 1px 1px rgba(0,0,0,.25);}
div.wp-caption a:hover img {box-shadow: 1px 1px 1px rgba(0,0,0,.25); margin: 0;}
.cn_content a:hover img {box-shadow: 1px 1px 1px rgba(0,0,0,.25); margin:0 20px 10px 0;}

.listing > div .latest {display: none !important;}