@media screen and (max-width:959px) {
	
	#topBannerContainer {height: auto; text-align: center;}

	#wrapper, 
	#topBanner {
		width: auto;
		overflow: hidden;
	}
	
	#wrapper {padding:;}
	
	#topBannerContainer * {float: none; display: block; margin: 0;}

	#rightDropmenu > li:first-child > a {border-left: 1px solid #DFDFDF;}
	
	#topBannerContainer li {padding: 5px 5px 5px 0;}
		
	#content {background: white;}
	
	#main {
		float: none;
		width: auto;
		padding-right: 0;	
	}
	
	#crumbs {width: 100%;}
	#crumbs #loading {width: 100%;}
	.sticky #crumbs {left: 0 !important; padding-left: 10px;}
	
	h2.catName {margin: 0; clear: both;}
	.cn_wrapper {width: auto; height: auto;}
	.cn_preview {width: 50%; padding:20px 20px 20px 5px;}
	.cn_content {width: 100%; padding:0;}
	.cn_content h2 {font-size: 18px;}
	.cn_content a img {margin-right: 0; max-width: 100%; width: auto;}
	.cn_list {width: 45%; z-index: 1000; height: auto;}
	.cn_item {padding: 8px; height: 30px;}
	.cn_item:after {display: none;}
	.cn_item h2 {width: 85%; line-height: 1.2em; height: 30px;}
	.cn_item h2 a {line-height: 1.2em;}
	.cn_item img {width: 12%; height: auto; max-width: 40px;}
	
	#postExcerpt {
    	border-bottom: none;
    	margin-bottom: 0;
	}

	#authorBio {padding: 0 0 15px 15px;}
	#authorBio h3 {margin: 35px 0px 30px -15px;}
	
	#relatedPosts {padding-left: 15px;}
	#relatedPosts h3 {margin: 35px 0px 35px -15px;}

	.commentlist {margin-left: 5px;}
	
	.cancel-comment-reply, 
	#respond form {margin-left: 5px;}
	
	.listing > .post, .listing > .page,
	.listing > .post:first-child {
		border-bottom: 1px solid #E9E9E9;
		padding: 20px 0;
		margin: 0px;
	}
	.listing > div:first-child .latest {display: none;}
	.listing .post:first-child .posttitle {font-size: 22px;}
	.listing > div:first-child img {height: 131px; width: 175px;}
	

	#secondarySidebar,
	#sidebar {
		clear: none; 
		display: block; 
		float: left; 
		width: 100%; 
		background: url(images/divider.gif) repeat-y 328px 0;
	}
	#secondarySidebar ul li.widget,
	#sidebar ul li.widget {
		float: left; 
		padding: 35px 35px 40px;
		width: 260px;
	}
	#secondarySidebar ul > *:nth-child(2n+1),
	#sidebar ul > *:nth-child(2n+1) {
		margin-right:-1px; 
		clear: left;
	}
	#secondarySidebar > ul > li.widget:first-child,
	#sidebar > ul > li.widget:first-child {border-top: 4px solid #231F20;}
	#secondarySidebar  ul li.widget h2.widgettitle,
	#sidebar ul li.widget h2.widgettitle {margin: -35px -35px 30px;}
	
	#secondarySidebar .sticky-wrapper,
	#secondarySidebar .sticky-wrapper > *,
	#sidebar .sticky-wrapper,
	#sidebar .sticky-wrapper > * {
		left: 0 !important;
    	position: relative !important;
    	top: 0 !important;
    	width: 100%;
    	height: auto !important;
    }
    
    #secondarySidebar {clear: both;}
    
    
    
    #footer {height: auto;}
    #footer #copyright {clear: both; padding:5px 0; line-height: 1.5em;}
	#footerNav {float: none;}

#main .post, .listing { padding-right: 30px; }

}

@media screen and (max-width:757px) {

	#topBannerContainer,
	#navigation #dropmenu,
	.advertising {display: none;}
		
	#selectMenu {
		border:none;
    	bottom: 0;
    	display: block;
    	left: 0;
    	max-width: 45%;
    	padding: 3px 0;
    	position: absolute;
    	text-align: left;
    	z-index: 1000;
    	height: 30px;
	}
	#selectMenu option {padding: 3px;}

	#headerSearch input[type="text"] {width: 85px; padding-left: 10px; display: block !important;}	
	
	#featuredItem h2 {font-size: 35px;}
	
	.subscribe-box {margin: 0 0 0 0;}

}

@media screen and (max-width:549px) {
	
	#dateSocial {padding: 0;}
	
	#tagline {font-size: 14px;}
	
	#featuredItem h2 {font-size: 20px;}
	
	h2.catName {border-bottom: none;}
	h2.catName a {padding: 0;}
	
	.cn_list {
		float: none;
		width: auto;
		min-height: inherit;		
		margin-bottom: 20px;
		min-height: 50px;
	}
	
	.cn_preview {display: none;}
	
	.cn_item {height: auto; padding: 8px 0; border: none;}
	.cn_item.selected, 
	.cn_item.selected:hover,
	.cn_item:hover {background: none;}
	.selected h2 a, 
	.selected h2 a:hover {color: #333;}
	.cn_item h2 {width: 83%;}
	.cn_item img {width: 15%; max-width: inherit;}
	
	#postExcerpt p {padding-bottom: 20px;}
	#topShare {margin: 0 0 15px 0; width: auto;}
	#bottomShare {margin: 20px 0;}
	
	.posttitle, 
	.entrytitle, 
	body.paged .listing .post:first-child .posttitle,
	.listing .post:first-child .posttitle,
	body.single .posttitle, 
	body.page .entrytitle {font-size: 20px; width: auto !important;}
	
	body.single .posttitle, 
	body.page .entrytitle {margin: 20px 0 5px;}
	body.single .metaStuff {margin-top: 0;}
		
	div.post a.thumbLink {float: none;}
	div.post a.thumbLink img {width: auto; max-width: 100%; height: auto; margin: 0;}
	
	div.wp-caption {width: 100% !important;}
	div.wp-caption.alignright,
	div.wp-caption.alignleft {margin: 0 0 20px; float: none;}
	div.wp-caption img {max-width: 100%; height: auto;}
	div.wp-caption p.wp-caption-text {padding-right: 0;}
	
	blockquote {margin: 15px 0 20px; padding: 25px 25px 10px;}
	
	.entry p.postPages {
    	float: none;
    	margin: 15px 0;
    	padding: 0;
    	text-align: left;
    	clear: both;
	}
	
	#metaStuff {padding: 10px 20px 5px 25px;}
	
	#nextPrevPosts {margin-top: 25px;}
	#nextPrevPosts p {width: 45%;}
	
	#slidebox h2 {margin-bottom: 0; font-size: 14px; line-height: 1.4em;}
	#slidebox h2 a {font-size: 14px; line-height: 1.4em;}
	#slidebox a.more {display: none;}
	
	#relatedPosts {padding-left: 0;}
	.relatedItem .featuredImage img {width: auto; max-width: 100%;}
	#relatedPosts h3 {margin: 35px 0 20px; border-bottom: none;}
	.relatedItem {
    	float: none;
    	margin-bottom: 35px;
    	margin-left: 0;
    	width: auto;
    	min-height: 70px;
	}
	.relatedItem .featuredImage {
    	display: block;
    	float: left;
    	margin: 0 10px 0 0;
    	max-width: 90px;
	}
	
	#authorBio {padding-left: 0;}
	#authorBio h3 {margin-bottom: 20px; border-bottom: 0; margin-left: 0;}
	
	h3#comments, 
	#respond > h3 {margin: 35px 0 10px; border-bottom: none;}
	
	.commentlist {text-align: left;}
	.commentlist p {margin: 10px 0; line-height: 1.4em;}
	.commentlist ul.children {margin: 15px 0 10px 15px;}
	
	#sidebar,
	#secondarySidebar  {background: none !important;}
	#sidebar ul li.widget,
	#secondarySidebar ul li.widget {padding: 0 0 20px !important; float: none !important; width: auto !important;}
	#sidebar ul li.widget h2.widgettitle,
	#secondarySidebar ul li.widget h2.widgettitle {margin: 0 0 5px !important; padding-left: 5px !important; border-bottom: none;}
	
	#footer {text-align: center;}
	#footerDropmenu {margin: 10px 0;}
	#footer #copyright a.logo {
    	display: block;
    	text-align: center;
    	margin-bottom: 5px;
	}
	#footerDropmenu li {
    	display: inline-block;
    	float: none;
    	padding: 0;
	}
	#footerDropmenu > li > a {padding: 5px; border: none;}
}