@media screen and (min-width:1270px) {
	#wrapper,
	#topBanner {
		width: 1150px;
	}
	#content:after {
		background: url(images/divider.gif) repeat-y 854px 0; 
		display: block; 
		width: 100%; 
		content: ""; 
		position: absolute; 
		top: 0; 
		left: 0; 
		z-index: -1; 
		height: 100%;
	}
	#secondarySidebar {
		display: block;
	}
}/*/mediaquery*/


@media screen and (max-width:1270px) {
	#secondarySidebar {
		clear: none; 
		display: block; 
		float: left; 
		width: 605px; 
		background: url(images/divider.gif) repeat-y 303px 0;
	}
	#secondarySidebar ul li.widget {
		float: left; 
		width: 233px;
		}
	#secondarySidebar ul li.widget:nth-child(2n+1) {
		margin-right:-1px; 
		clear: left;
	}
	#secondarySidebar > ul > li.widget:first-child {
		border-top: 4px solid #231F20;
	}
	#secondarySidebar .sticky-wrapper {
		position: relative !important; 
		top: 0 !important; 
		left: 0 !important; 
		float: left;
	}
	#secondarySidebar .sticky-wrapper li.widget {
		margin: 0 !important; 
		clear: none !important;
		float: none !important;
	}
}/*/mediaquery*/