/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
* {
	box-sizing: border-box;
}
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@font-face {
	font-family:'dinprobold';
	src:url('fonts/dinprobold.eot');
	src:url('fonts/dinprobold.eot') format('embedded-opentype'),
		url('fonts/dinprobold.woff') format('woff'),
		url('fonts/dinprobold.ttf') format('truetype'),
		url('fonts/dinprobold.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'dinprolight';
	src:url('fonts/dinprolight.eot');
	src:url('fonts/dinprolight.eot') format('embedded-opentype'),
		url('fonts/dinprolight.woff') format('woff'),
		url('fonts/dinprolight.ttf') format('truetype'),
		url('fonts/dinprolight.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'dinpromedium';
	src:url('fonts/dinpromedium.eot');
	src:url('fonts/dinpromedium.eot') format('embedded-opentype'),
		url('fonts/dinpromedium.woff') format('woff'),
		url('fonts/dinpromedium.ttf') format('truetype'),
		url('fonts/dinpromedium.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

html {
  font-family: dinprolight, arial, helvetica, sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
  position: relative;
  color: #444444;
}

html,
body {
	width: 100%;
	height: 100%;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

body.dark {
	background: #333333;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	padding: 60px 0px;
	width: 100%;
	max-width: 1024px;
	height: 80%;
	max-height: 440px;
	margin:0 auto;
	display: block;
	background-color: #f9f9f9;
}

.content {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 99;
	text-align: center;
}

.character {
	position: absolute;
	width: 50%;
	left: 0;
	top: 0px;
	right: 0;
	margin: auto;
	bottom: 0;
}

.character img {
	width: 95%;
	max-width: 299px;
	height: auto;
	display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity:0.2;
}

.badge {
	font-weight: 600;
	background-color: #d86359;
	color:white;
	text-transform: uppercase;
	font-size: 0.75rem;
	padding: 0.5em 0.5em;
	border-radius: 3px;

}

h1 {
	font-size: 2.5rem;
	color: #004c64;
	margin: 0;
	line-height: 1;
	margin-top:1rem;
}

p {
	font-size: 1rem;
	font-weight: bold;
}

.logo {
	width: 64px;
	height: 64px;
	background-color: #e26661;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	top: -32px;
	left: calc( 50% - 32px);
	z-index: 99;
}

.logo img {
	max-width: 100%;
	height: auto;
}

form input[name="email"] {
	width: 100%;
	border:1px solid #e4e4e4;
	border-radius: 5px;
	padding:0 20px;
	line-height: 50px;
}

form button[type="submit"] {
	background-color:#444444;
	color: white;
	text-transform: uppercase;
	font-size: .75rem;
	line-height: 1.5;
	padding:10px 20px;
	border:none;
	border-radius: 5px;
	margin-top: 1.5em;
	cursor: pointer;

}

.button {
	line-height: 50px;
	color: white;
	background-color: #444444;
	display: inline-block;
	padding: 0 2em;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 1em;
	font-size: .875em;
	border-radius: 6px;
}

.button.red {
	background-color: #e84a39;
}

.thank-you.container {
	background-color: #444;
	border: 1px solid #555;
	border-radius: 2px;
}
.thank-you .content {
		margin-top: 3em;
		color: #ccc;
}
.thank-you .content h1, .thank-you .content a {
		color: #ffffff;;
}

@media screen and (min-width: 320px) {
	.content {
		width: 305px;
	}

	form button[type="submit"] {
		line-height: 50px;
		padding: 0px 20px;
	}
}

@media screen and (min-width: 480px) {
	h1 {
		font-size: 4rem;
	}

	p {
		font-size: 1rem;
	}

	.thank-you .content {
		margin-top: 3em;
	}

}

@media screen and (min-width: 768px) {


	.container {
		padding: 60px 80px;
	}

	.content {
		text-align: left;
		width: 50%;
		margin: 0;
	}

	.thank-you .content {
		text-align: center;
		width: 480px;
		margin: 4em auto;
	}

	.character {
		left: 50%;
		padding-left: 70px;
	}

	.advanced .character {
		left: 0;
		padding: 0;
		right: 50%;
	}

	.advanced .content {
		float: right
	}

	.character img {
		 opacity:1;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	p {
		width: 300px;
	}

	.advanced .character img {
		position: static;
	}

	.thank-you p {
		width: 310px;
		display: block;
		margin: 1em auto;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 5rem;
	}

	p {
		font-size: 1.5rem;
	}

	.advanced p {
		font-size: 1.25rem;
	}

	.container {
		max-height: 520px;
	}

	.character {

		top: -30px;
		padding-left: 70px;
	}

	.advanced .character {
		left: -80px;
	}

	.character img {
		max-width: 380px;
	}

	.advanced .character img {
		max-width: 100%;
	}
}
