@font-face {
	font-family: "CMUSerif-Roman";
	src:url(../fonts/cmuserif-roman-webfont.eot);
	src:url(../fonts/cmuserif-roman-webfont.eot?#iefix) format('embedded-opentype'),
		url(../fonts/cmuserif-roman-webfont.woff) format('woff'),
		url(../fonts/cmuserif-roman-webfont.ttf) format('truetype'),
		url(../fonts/cmuserif-roman-webfont.svg#GothamRnd-Booknsedbold) format('svg');
}
@font-face {
	font-family: "CMUSerif-Bold";
	src:url(../fonts/cmuserif-bold-webfont.eot);
	src:url(../fonts/cmuserif-bold-webfont.eot?#iefix) format('embedded-opentype'),
		url(../fonts/cmuserif-bold-webfont.woff) format('woff'),
		url(../fonts/cmuserif-bold-webfont.ttf) format('truetype'),
		url(../fonts/cmuserif-bold-webfont.svg#GothamRnd-Booknsedbold) format('svg');
}

@font-face {
	font-family:'dinprobold';
	src:url('../../fonts/dinprobold.eot');
	src:url('../../fonts/dinprobold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/dinprobold.woff') format('woff'),
		url('../../fonts/dinprobold.ttf') format('truetype'),
		url('../../fonts/dinprobold.svg#dinprobold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'dinprolight';
	src:url('../../fonts/dinprolight.eot');
	src:url('../../fonts/dinprolight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/dinprolight.woff') format('woff'),
		url('../../fonts/dinprolight.ttf') format('truetype'),
		url('../../fonts/dinprolight.svg#dinprolight') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'dinpromedium';
	src:url('../../fonts/dinpromedium.eot');
	src:url('../../fonts/dinpromedium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/dinpromedium.woff') format('woff'),
		url('../../fonts/dinpromedium.ttf') format('truetype'),
		url('../../fonts/dinpromedium.svg#dinpromedium') format('svg');
	font-weight:normal;
	font-style:normal;
}

body{
	margin:0;
	color:#343434;
  font: 13px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#fafafa;
	min-width:800px;
}

/* Nav Bar */

#header{
	position:relative;
	z-index:10000;
}

.navbar {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background-color:rgba(255,255,255,0.9) !important;
}



.navbar .nav {
	float: right;
	margin: 0 20px 0 0 !important;
}

.navbar .brand {
	margin: 0 0 0 0 !important;
}

.navbar .nav li {
	line-height: 35px !important;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 16px !important;
}

.dropdown-menu {
	margin: 0;
	padding:0;
	text-align: left!important;
	border-top-left-radius:0 !important;
	border-top-right-radius: 0 !important;
	-webkit-border-top-left-radius:0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-moz-border-top-left-radius:0 !important;
	-moz-border-top-right-radius: 0 !important;
	border-bottom-left-radius:4px !important;
	border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-left-radius:4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-bottom-left-radius:4px !important;
	-moz-border-bottom-right-radius: 4px !important;
}

.dropdown-menu>li>a {
	padding: 15px 20px !important;
	border-bottom: 1px solid #f9f9f9 !important;
	font-size: 12px !important;
}

.dropdown-menu li:last-child a {
		border-bottom: none !important;
}


.dropdown-menu>li>a:hover {
	color: #000 !important;
	background: #f9f9f9 !important;
	background-image: none !important;
}

.dropdown-menu>li:last-child a:hover {
	color: #000 !important;
	background: #f9f9f9 !important;
	background-image: none !important;
	border-bottom-left-radius:4px !important;
	border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-left-radius:4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-bottom-left-radius:4px !important;
	-moz-border-bottom-right-radius: 4px !important;
}

.navbar .nav li.dropdown.open>.dropdown-toggle {
	background: #f9f9f9 !important;
}


#home .navbar li#home,
#tour .navbar li#tour,
#pricing .navbar li#pricing,
#benefits .navbar li#benefits,
#reviews .navbar li#reviews,
#quality-score .navbar li#quality-score  {
	color: #555555;
	text-decoration: none;
	background-color: #f9f9f9;
}

.navbar-inner {
		background:none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar .nav>li>a {
    font-size: 12px;
    color:#000;
}

/* Addthis overrides */

.at4-follow .at4-follow-inner {
	padding: 16px 18px 10px 15px;
}
.at4-follow.at4-follow-24 .at4-follow-inner .at4-follow-close-control div {
    margin-top: 19px;
    margin-left: 5px;
}

.at-follow-open-control {
	padding-top: 19px !important;
}

/* Addthis overrides */

.navbar .brand {
	margin: 0 0 0 0;
}

.navbar .nav li {
	line-height: 35px;
	font-family: dinprolight, arial, helvetica, sans-serif;

}

#home .navbar li#home,
#tour .navbar li#tour,
#pricing .navbar li#pricing,
#benefits .navbar li#benefits {
	color: #555555;
	text-decoration: none;
	background-color: #e5e5e5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	 box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-inner {
    background: white !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar .nav>li>a {
    font-size: 12px;
    font-family: dinprolight, arial, helvetica, sans-serif;

}

.btn-login {
	height: 10px;
	margin: 12px 15px 0 15px !important;
	line-height: 7px;
	width: 60px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.btn-login:hover {
  background-color: white;
}
.btn-signup:hover {
  background-color: white;
  color: #777777 !important;
}

.btn-signup {
	height: 10px;
	margin: 12px 5px 0 15px !important;
	line-height: 7px;
	width: 60px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-shadow:none !important;
	color:white !important;
}

img{
	border-style:none;
	vertical-align:middle;
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{background-color:transparent;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:90%;
	max-width: 768px;
	margin:100px auto 63px;
	padding:15px;
	border:1px solid #e6e6e6;
	background:#fff;
	border-radius:4px;
	text-align:center;
}

.wrapper-holder{
	border:1px solid #e6e6e6;
	border-radius:4px;
	padding:4px;
}
.wrapper-frame{
	padding:18px 0 0;
	/* background: url(../images/bg-gradient.png) repeat-y; */

	background: #fafafa; /* Old browsers */

}
.top-area{
	max-width:411px;
	margin:0 auto 35px;
	padding:0 10px 30px;
	background:url(../images/separator.png) 0 100% repeat-x;
}


.img-top{
	width:50px;
	margin:20px auto 40px;
}
#wrapper h1,
#wrapper h2{
	color:#343434;
	margin:0 0 20px;
	text-transform:uppercase;
	font:35px/39px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
#wrapper h1 .mark,
#wrapper h2 .mark{
	display:block;
	font-size:17px;
	line-height:20px;
	margin:0 0 7px;
}
.top-area p {
	margin:0 0 10px;
	font-size: 15px;
  line-height: 1.3em;
}
.img-area{
	padding:0 0 39px;
	margin:0 auto 54px;
	width:90%;
	max-width:413px;
	cursor:pointer;
	background:url(../images/separator-alt.png) 0 100% repeat-x;
}
.img-area .img-holder{border:1px solid #9f9f9f;}
#wistia_video { cursor: pointer !important;}
.area{
	width:90%;
	max-width:420px;
	margin:0 auto 60px;
	padding:0 0 3px;
	background:url(../images/separator-alt.png) 0 100% repeat-x;
}
#wrapper .area h2{margin:0 0 20px;}
#wrapper .area h2 .mark{margin:0 0 11px;}
.area p{margin:0 0 20px 0;}
.arrow{
	display:block;
	width:39px;
	height:19px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/img-arrow.png) no-repeat;
	margin:0 auto 55px;
}

.scale-1{
	position:relative;
	padding:0;
	margin: 40px auto 98px;
	width: 220px;
}

.scale-1 .left-info,
.scale-1 .bottom-info{
	position:absolute;
	font-size:12px;
	line-height:17px;
	color:#4d4d4d;
}
.scale-1 .left-info{
	left:0px;
	top:-20px;
}
.scale-1 .bottom-info{
	bottom:-25px;
	right: 0;
	width: 150px;
}

.scale-1 .example{
	position:absolute;
	top:30px;
	left:120px;
	height:48px;
	width: 102px;
	/*font:10px/12px  Georgia, "Times New Roman", Times, serif;*/
}

@media screen and (min-width:480px) {

	.scale-1 {
		margin:0 0 98px;
		padding:0 0 0 95px;
		width: auto;
	}

	.scale-1 .bottom-info{
		left:220px;
		right: auto;
		width: auto;
	}

	.scale-1 .left-info{
		left:3px;
		top:-6px;
	}

	.scale-1 .example{
		top:72px;
		left:239px;
		height:48px;
	}
}

.scale-1 .example .holder{
	float:left;
	margin:0 5px 0 0;
	padding:12px 23px 15px 13px;
	border:1px solid #d0d0d0;
	border-radius:4px;
	font-size:11px;
	line-height:19px;
	color:#4d4d4d;
}
.scale-1 .example .box{
	position:relative;
	margin:0 0 0 2px;
	display:inline-block;
}
.scale-1 .example .top-example{
	position:absolute;
	top:-20px;
	left:6px;
	font-size:14px;
}
.scale-1 .example .bottom-example{
	position:absolute;
	bottom:-17px;
	left:1px;
	font-size:11px;
	border-top: 1px solid #4d4d4d;
}
.scale-1 .example .opener{
	float:left;
	width:5px;
	height:5px;
	background:url(../images/sprite.png)  no-repeat;
}

/*

.scale-1 .example .opener:hover { cursor:pointer; }
.scale-1 .drop{
	width:261px;
	position:absolute;
	left:0px;
	top:48px;
	padding:7px 0 0;
	display:none;
	background:url(../images/none.png);
	text-align:left;
}

.scale-1 .example .opener:hover .drop {
	cursor:default;
	display:block;
}

.holder:hover .drop{
	cursor:default;
	display:block;
}

.scale-1 .drop-holder{
	background:#fff;
	border:1px solid #d0d0d0;
	border-radius:4px;
	min-height:126px;
	display:block;
	padding:10px;
	text-indent:0;
}
*/
.scale-2{
	position:relative;
	margin:0 0 98px;
	padding:28px 0 0 62px;
}
.scale-2 .right-info,
.scale-2 .bottom-info{
	position:absolute;
	font-size:12px;
	line-height:17px;
	color:#4d4d4d;
}
.scale-2 .right-info{
	right:-20px;
	top:22px;
}
.scale-2 .bottom-info{
	bottom:-26px;
	left:203px;
}
.scale-2 .example{
	position:absolute;
	top:52px;
	left:15px;
	font:10px/12px , Georgia, "Times New Roman", Times, serif;
}
.scale-2 .example .holder{
	float:left;
	margin:0 5px 0 0;
	padding:15px 24px 15px 21px;
	border:1px solid #d0d0d0;
	border-radius:4px;
	font-size:11px;
	line-height:15px;
	color:#4d4d4d;
}
.scale-2 .example .holder img{
	position:relative;
}
.scale-2 .example .opener{
	float:left;
	width:28px;
	height:46px;
	background:url(../images/sprite.png) 9px 19px no-repeat;
	border:1px solid #d0d0d0;
	border-radius:4px;
}
.scale-2 .example .opener:hover{cursor:pointer;}
.scale-2 .drop{
	width:261px;
	position:absolute;
	z-index:10;
	left:0;
	top:46px;
	padding:8px 0 0;
	display:none;
	text-align:left;
	background:url(../images/none.png) no-repeat;
}
.scale-2 .example .opener:hover .drop{
	cursor:default;
	display:block;
}
.scale-2 .drop-holder{
	background:#fff;
	border:1px solid #d0d0d0;
	border-radius:4px;
	min-height:126px;
	display:block;
	text-indent:0;
	padding:10px;
}
.section{
	width:475px;
	margin:0 auto 47px;
}
.section .text-holder{
	width:405px;
	margin:0 auto 53px;
}
.section .text-holder p{margin:0;}
.number{
	width:45px;
	height:49px;
	text-align:center;
	color:#4d4d4d;
	border:1px solid #898989;
	border-radius:27px;
	margin:0 auto 20px;
	padding:0 0 0 4px;
	display:block;
	font:36px/55px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
#wrapper h3{
	font-size:20px;
	line-height:26px;
	color:#4d4d4d;
	text-transform:uppercase;
	margin:0 0 17px;
	font-family: "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
#wrapper h3 span{
	font-size: 12px;
}
.section p{margin:0 0 17px;}
.star-title{
	display:inline-block;
	padding:4px 33px;
	background:#343434;
	border-radius:5px;
	color:#fff;
	margin:20px 0 18px;
	position:relative;
	text-transform:uppercase;
	font:10px/13px "CMUSerif-Bold", Georgia, "Times New Roman", Times, serif;
}
.star-title:before,
.star-title:after{
	content:"";
	position:absolute;
	top:2px;
	width:19px;
	height:18px;
	background:url(../images/sprite.png) -58px 0 no-repeat;
}
.star-title:before{left:-24px;}
.star-title:after{right:-24px;}
#wrapper .section h2{margin:0 0 13px;}
#wrapper .section h2 .mark{margin:0 0 9px;}
.experience-block{
	position:relative;
	width:297px;
	border-radius:8px;
	border:1px solid #b7b7b7;
	padding:4px 0 0;
	margin:0 auto 124px;
	background:#fff;
	color:#676767;
	font-size:8px;
	line-height:12px;
}
.experience-block .holder{
	overflow:hidden;
	padding:0 8px 7px 7px;
}
.experience-block .pointers{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.experience-block .pointers li{
	float:left;
	width:10px;
	height:11px;
	background:#808080;
	border-radius:5px;
	margin:0 0 0 3px;
}
.experience-block .pointers li:first-child{margin:0;}
.experience-block .box{
	float:right;
	width:90px;
	height:10px;
	border:1px solid #d0d0d0;
	margin:4px 0 0;
}

.experience-block .boxes{
	margin:0 0 10px;
	padding:4px 21px 4px 0;
	list-style:none;
	background:#e6e6e6;
	border:1px solid #cecece;
	border-width:1px 0;
	text-align:center;
}
.experience-block .boxes li{
	display:inline-block;
	margin:0 0 0 5px;
	width:52px;
	height:11px;
	background:#9a9a9a;
	border:1px solid #c9c9c9;
	vertical-align:top;
}
.experience-block .box-content{
	padding:0 15px 0 21px;
	overflow:hidden;
}
.experience-block .square{
	float:left;
	width:54px;
	height:47px;
	background:#e6e6e6;
	border:1px solid #cecece;
	margin:0 10px 0 0;
}
.experience-block .text-holder{
	float:right;
	width:195px;
	text-align:left;
	margin:0 0 13px;
}
.experience-block .heading{
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	display:block;
	margin:0 0 1px;
}
.section .experience-block p{margin:0 0 4px;}
.experience-block .call{
	display:inline-block;
	font-weight:bold;
	font-size:11px;
	line-height:14px;
	background:#4d4d4d;
	color:#fff;
	border:1px solid #c5c5c5;
	padding:1px 15px 2px;
}
.experience-block .bottom-block{
	border-top:1px solid #d0d0d0;
	padding:5px 28px 6px 21px;
	overflow:hidden;
}
.experience-block .load{
	float:left;
	width:90px;
	height:7px;
	border:1px solid #d0d0d0;
	margin:1px 0 0;
}
.experience-block .load .high{
	width:61px;
	height:7px;
	background:#9a9a9a;
}
.experience-block .nav{
	margin:0;
	padding:0;
	list-style:none;
	font-size:8px;
	line-height:11px;
	color:#676767;
	float:right;
}
.experience-block .nav li{
	float:left;
	margin:0 0 0 10px;
}
.experience-block .nav li:first-child{margin:0;}
.experience-block .info{
	position:absolute;
	z-index:100;
	padding:7px 9px 11px;
	border:1px solid #b7b7b7;
	background:#fff;
	border-radius:5px;
	font-weight:bold;
	font-size:9px;
	line-height:13px;
	color:#808080;
	text-align:left;
	width:121px;
}

.experience-block .info .mark{
	text-transform:uppercase;
	display:block;
	margin:0 0 1px;
	font-size:10px;
}
.experience-block .info .connect{
	position:absolute;
	z-index:10;
}
.experience-block .info.first{
	left:-168px;
	top:105px;
}
.experience-block .info.first .connect{
	right:-120px;
	top:13px;
	width:119px;
	height:9px;
	background:url(../images/connect-1.png) no-repeat;
}
.experience-block .info.second{
	left:-37px;
	top:188px;
	padding:7px 9px 11px;
	width:159px;
}
.experience-block .info.second .connect{
	left:45px;
	top:-35px;
	width:10px;
	height:34px;
	background:url(../images/connect-2.png) no-repeat;
}
.experience-block .info.third{
	left:178px;
	top:187px;
	padding:7px 9px 9px;
	width:190px;
}
.experience-block .info.third .connect{
	left:102px;
	top:-33px;
	width:8px;
	height:32px;
	background:url(../images/connect-3.png) no-repeat;
}
.experience-block .info.fourth{
	right:-171px;
	top:86px;
	padding:7px 9px 11px;
	width:120px;
}
.experience-block .info.fourth .connect{
	left:-57px;
	top:11px;
	width:57px;
	height:9px;
	background:url(../images/connect-4.png) no-repeat;
}
.experience-block .info.fifth{
	right:-172px;
	top:17px;
	padding:7px 9px 9px;
	width:119px;
}
.experience-block .info.fifth .connect{
	left:-57px;
	top:16px;
	width:56px;
	height:9px;
	background:url(../images/connect-5.png) no-repeat;
}

.lp-relevance-box {
	margin-top:30px;
}

.lp-wrap {
	display: inline-block;
	width: 250px;
	vertical-align: middle;
	position:relative;
	right: -50px;

}

.banner-wrap {
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	margin-right: 40px;
	position:relative;
	left: 10px;
}



.legend {
	margin-top: 15px;
	text-transform: uppercase;
	font-size:10px;
	font-weight:bold;
	color: #676767;
	}

.landing-page {
	width: 240px;
	height: 120px;
	background: white;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: 0 5px;
	text-align: left;
}

.landing-page  .lp-content {
  	margin: 15px;
}

.landing-page  .lp-content .lp-img {
	float: left;
	width: 50px;
	height: 70px;
	margin: 0 7px 0 0;
    background:#e6e6e6;
	border:1px solid #cecece;
}
.landing-page  .lp-content lp-txt {
	width: 100px;
	float: right;
}


.banner {
	width: 140px;
	height: 62px;
	background: white;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: 0 5px;
	vertical-align: top;
	padding: 5px;
	text-align:left;
	font-size: 11px;
	color:#676767;
	font-family: arial;
}

.banner span { display: block; }
.banner span.banner-title { font-weight: bold; }
.banner span.banner-url { font-weight: bold; }


.relevance-connect {
	position: relative;
	top: -93px;
	left:10px;
}


.relevance-connect .inline {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.relevance-connect  div.circle-right {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: relative;
	left: -5px;
}

.relevance-connect  div.circle-left {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: relative;
	right: -5px;
}

.relevance-connect div.line {
	width: 140px;
	height: 3px;
	background: #ccc;
	margin: 0;
	padding: 0;
}


/************* LP2 Box *************************/


.experience-block2{
	position:relative;
	width:217px;
	border-radius:4px;
	border:1px solid #b7b7b7;
	padding:4px 0 0;
	background:#fff;
	color:#676767;
	font-size:8px;
	line-height:12px;
}
.experience-block2 .holder{
	overflow:hidden;
	padding:0 8px 7px 7px;
}
.experience-block2 .pointers{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.experience-block2 .pointers li{
	float:left;
	width:6px;
	height:6px;
	background:#808080;
	border-radius:3px;
	margin:0 0 0 2px;
}
.experience-block2 .pointers li:first-child{margin:0;}
.experience-block2 .box{
	float:right;
	width:50px;
	height:6px;
	border:1px solid #d0d0d0;
	margin:3px 0 0;
}
.experience-block2 .boxes{
	margin:0 0 6px;
	padding:2px 10px;
	list-style:none;
	background:#e6e6e6;
	border:1px solid #cecece;
	border-width:1px 0;
	text-align:left;
}
.experience-block2 .boxes li{
	display:inline-block;
	margin:0 0 0 5px;
	width:30px;
	height:6px;
	background:#9a9a9a;
	border:1px solid #c9c9c9;
	vertical-align:top;
}
.experience-block2 .box-content{
	padding:0 15px 0 21px;
	overflow:hidden;
}
.experience-block2 .square{
	float:left;
	width:30px;
	height:40px;
	background:#e6e6e6;
	border:1px solid #cecece;
	margin:0 4px 0 0;
}
.experience-block2 .text-holder{
	float:right;
	width:130px;
	text-align:left;
	margin:0 0 13px;
}
.experience-block2 .heading{
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	display:block;
	margin:0 0 1px;
}
.section .experience-block2 p{margin:0 0 4px;}
.experience-block2 .call{
	display:inline-block;
	font-weight:bold;
	font-size:5px;
	line-height:6px;
	background:#4d4d4d;
	color:#fff;
	border:1px solid #c5c5c5;
	padding:1px 5px 1px;
}
.experience-block2 .bottom-block{
	border-top:1px solid #d0d0d0;
	padding:5px 28px 6px 21px;
	overflow:hidden;
}
.experience-block2 .load{
	float:left;
	width:50px;
	height:4px;
	border:1px solid #d0d0d0;
	margin:1px 0 0;
}
.experience-block2 .load .high{
	width:30px;
	height:4px;
	background:#9a9a9a;
}
.experience-block2 .nav{
	margin:0;
	padding:0;
	list-style:none;
	font-size:8px;
	line-height:11px;
	color:#676767;
	float:right;
}
.experience-block2 .nav li{
	float:left;
	margin:0 0 0 10px;
}
.experience-block2 .nav li:first-child{margin:0;}
.experience-block2 .info{
	position:absolute;
	z-index:100;
	padding:7px 9px 11px;
	border:1px solid #b7b7b7;
	background:#fff;
	border-radius:5px;
	font-weight:bold;
	font-size:9px;
	line-height:13px;
	color:#808080;
	text-align:left;
	width:121px;
}
.experience-block2 .info .mark{
	text-transform:uppercase;
	display:block;
	margin:0 0 1px;
	font-size:10px;
}
.experience-block2 .info .connect{
	position:absolute;
	z-index:10;
}
.experience-block2 .info.first{
	left:-168px;
	top:105px;
}
.experience-block2 .info.first .connect{
	right:-120px;
	top:13px;
	width:119px;
	height:9px;
	background:url(../images/connect-1.png) no-repeat;
}
.experience-block2 .info.second{
	left:-37px;
	top:188px;
	padding:7px 9px 11px;
	width:159px;
}
.experience-block2 .info.second .connect{
	left:45px;
	top:-35px;
	width:10px;
	height:34px;
	background:url(../images/connect-2.png) no-repeat;
}
.experience-block2 .info.third{
	left:178px;
	top:187px;
	padding:7px 9px 9px;
	width:190px;
}
.experience-block2 .info.third .connect{
	left:102px;
	top:-33px;
	width:8px;
	height:32px;
	background:url(../images/connect-3.png) no-repeat;
}
.experience-block2 .info.fourth{
	right:-171px;
	top:86px;
	padding:7px 9px 11px;
	width:120px;
}
.experience-block2 .info.fourth .connect{
	left:-57px;
	top:11px;
	width:57px;
	height:9px;
	background:url(../images/connect-4.png) no-repeat;
}
.experience-block2 .info.fifth{
	right:-172px;
	top:17px;
	padding:7px 9px 9px;
	width:119px;
}
.experience-block2 .info.fifth .connect{
	left:-57px;
	top:16px;
	width:56px;
	height:9px;
	background:url(../images/connect-5.png) no-repeat;
}


/************* END LP2 ********************************/


.section .arrow{margin:0 auto;}
.container .text-holder{
	width:475px;
	margin:0 auto 31px;
}
#wrapper .container{
	padding:0 0 36px;
	background:url(../images/separator.png) 0 100% repeat-x;
	width: 100%;
  margin: 0;
}
#wrapper .container .text-holder p{margin:0;}
.circle-scale-1{
	width:688px;
	margin:0 auto;
}
.container .number{margin:20px auto 19px;}
#wrapper .container h3{
	line-height:26px;
	margin:0 0 13px;
}
.container .star-title{
	padding:5px 33px;
	margin:0 0 46px;
	clear:both;
}
.circle-scale-1 .img-holder{
	width:300px;
	height:270px;
	margin:0 auto;
	padding:27px 0 0;
	position:relative;
	left:-9px;
	top: 20px;
	background: url(../images/img-circle-1.png) 50% 50% no-repeat;
}
.circle-scale-1 .img-holder .img-circle{position:relative;}
.circle-scale-1 .img-circle .first,
.circle-scale-1 .img-circle .second,
.circle-scale-1 .img-circle .third{
	position:absolute;
	font:15px/19px Helvetica, Arial, sans-serif;
	color:#fff;
	text-shadow: 2px 2px 2px #000;
}
.circle-scale-1 .img-circle .first{
	left:50px;
	top:88px;
}
.circle-scale-1 .img-circle .second{
	left:204px;
	top:145px;
}
.circle-scale-1 .img-circle .third{
	left:200px;
	top:198px;
}
.circle-scale-1 .google-search{
	position:absolute;
	left:-202px;
	top:0;
	width:160px;
	font-size:11px;
	line-height:15px;
	color:#676767;
	text-align:left;
}
.circle-scale-1 .google-search a{
	background:#fff;
	text-transform:uppercase;
	font:10px/13px "Times New Roman", Times, serif;
	color:#808080;
	border:1px solid #878787;
	display:inline-block;
	padding:3px 9px 5px;
	margin:0 0 4px -1px;
	border-radius:4px;
}
.circle-scale-1 .google-search p{margin:0;}
.circle-scale-1 .notes{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:43px;
	right:-208px;
	font-size:11px;
	line-height:13px;
	width:165px;
	text-align:left;
}
.circle-scale-1 .notes li{margin:1px 0 0;}
.circle-scale-1 .notes li:first-child{margin:0;}
.circle-scale-1 .notes li:before{
	content:"";
	float:left;
	width:8px;
	height:8px;
	border-radius:5px;
	margin:0 10px 0 0;
	position:relative;
	top:4px;
}
.circle-scale-1 .notes li.first:before{background:#343434;}
.circle-scale-1 .notes li.second:before{background:#808080;}
.circle-scale-1 .notes li.third:before{background:#e6e6e6;}
.circle-scale-1 .holder{
	position:relative;
	left:-4px;
}
.circle-scale-1 .holder:after{
	content:"";
	display:block;
	clear:both;
}
.circle-scale-1 .box{
	border-right:2px solid #cdcdcd;
	text-align:left;
	position:relative;
	width:496px;
	margin:23px 0 0;
	padding:0 48px 41px 0;
}
.circle-scale-1 .box .connect{
	position:absolute;
	top:-14px;
	left:158px;
	background:url(../images/connect-6.png) no-repeat;
	width:106px;
	height:14px;
}
.circle-scale-1 .box .history-list{
	margin:-79px 0 0;
	padding:79px 0 16px;
	list-style:none;
	font-size:11px;
	line-height:14px;
	color:#676767;
	background:url(../images/for-connection.gif) 158px 0 repeat-y;
}
.circle-scale-1 .box .history-list li{
	overflow:hidden;
	margin:12px 0 0;
	position:relative;
}
.circle-scale-1 .box .history-list li:first-child{margin:0;}
.history-list .history-title{
	font:12px/16px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
	border:2px solid #a0a0a0;
	border-radius:4px;
	display:inline-block;
	width:90px;
	background:#fff url(../images/sprite.png) 6px -54px no-repeat;
	margin:0 10px 0 0;
	padding:6px 5px 4px 36px;
	vertical-align:middle;
	color:#676767;
}
.history-list .bullet-circle{
	display:inline-block;
	vertical-align:middle;
	margin:0 10px 0 0;
	width:22px;
	height:23px;
	text-align:center;
}
.history-list .bullet-circle span{
	display:inline-block;
	vertical-align:middle;
	background:#cdcdcd;
}
.history-list .bullet-circle.first span{
	width:22px;
	height:23px;
	border-radius:12px;
}
.history-list .bullet-circle.second span{
	width:15px;
	height:16px;
	border-radius:12px;
}
.history-list .bullet-circle.third span{
	width:12px;
	height:12px;
	border-radius:12px;
}
.history-list .bullet-circle.fourth span{
	width:8px;
	height:8px;
	border-radius:12px;
}
.history-list .about{
	display:inline-block;
	vertical-align:middle;
	width:307px;
}
.circle-scale-1 .box .mark{
	background:#343434;
	color:#e6e6e6;
	display:block;
	width:433px;
	border-radius:3px;
	padding:9px 26px 13px 35px;
	margin:0 0 0 3px;
}
.circle-scale-1 .block{
	width:330px;
	margin:0 0 0 auto;
	font-size:11px;
	line-height:14px;
	color:#676767;
}
.circle-scale-1 .block .connect{
	position:absolute;
	top:-13px;
	left:431px;
	width:115px;
	height:14px;
	background:url(../images/connect-7.png) no-repeat;
}
.circle-scale-1 .block-list{
	margin:0 0 32px;
	padding:0;
	list-style:none;
	text-align:left;
}
.circle-scale-1 .block-list li{
	padding:13px 0 0;
	position:relative;
}
.circle-scale-1 .block-list li:first-child{padding:0;}
.circle-scale-1 .block-list li:after{
	content:"";
	display:block;
	clear:both;
}
.circle-scale-1 .block-list .block-text{
	display:inline-block;
	vertical-align:middle;
	width:176px;
	margin:0 2px 0 0;
	position:relative;
	top:-1px;
}
.circle-scale-1 .block-list .bullet-circle{
	display:inline-block;
	vertical-align:middle;
	width:12px;
	height:12px;
	text-align:center;
	position:relative;
	margin:0 6px 0 0;
	top:-4px;
	z-index: 1000;
}
.circle-scale-1 .block-list .bullet-circle span{
	display:inline-block;
	vertical-align:middle;
	border-radius:10px;
	background:#cdcdcd;
}
.circle-scale-1 .block-list .bullet-circle.first span{
	width:12px;
	height:12px;
}
.circle-scale-1 .block-list .bullet-circle.second span{
	width:8px;
	height:9px;
}
.circle-scale-1 .block-list .for-connection{
	width:2px;
	position:absolute;
	left:186px;
	top:0;
	height:100%;
	background:url(../images/for-connection.gif) repeat-y;
}
.circle-scale-1 .block-list .last .for-connection{top:-50%;}
.circle-scale-1 .keyword-link{
	display:inline-block;
	vertical-align:middle;
	width:85px;
	padding:4px 4px 4px 33px;
	background:#fff url(../images/sprite.png) 6px -105px no-repeat;
	border:2px solid #a0a0a0;
	border-radius:6px;
	font:12px/16px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
	color:#676767;
}
.circle-scale-1 .block .opener{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-size:9px;
	line-height:12px;
	color:#676767;
	position:relative;
	left:20px;
	padding:9px 0 8px 43px;
	background:url(../images/sprite.png) 0 -174px no-repeat;
}
.circle-scale-1 .block .opener .block-arrow{
	display:block;
	background:url(../images/arrow-1.png) 100% 2px no-repeat;
	padding:0 17px 0 0;
}
.circle-scale-1 .opener .drop{
	position:absolute;
	z-index:20;
	display:none;
	top:25px;
	left:-1px;
	padding:4px 0 0;
	text-align:left;
	width:209px;
}
.circle-scale-1 .opener .drop .drop-holder{
	background:#fff;
	border-radius:6px;
	display:block;
	width:189px;
	min-height:59px;
	padding:5px 10px;
	border:1px solid #d6d6d6;
}
.circle-scale-1 .opener:hover{cursor:pointer;}
.circle-scale-1 .opener:hover .drop{
	display:block;
	cursor:default;
}
.black-area{
	background:#1a1a1a;
	padding:29px 30px 38px 58px;
	margin:-3px 0 0;
	font-size:11px;
	line-height:14px;
	color:#e6e6e6;
	overflow:hidden;
	text-align:left;
	border:1px solid #cdcdcd;
	border-width:0 2px;
	position:relative;
	z-index:10;
}
.black-area .holder{
	float:left;
	width:160px;
	margin:22px 54px 0 0;
}
.black-area .search{
	display:inline-block;
	background:#fff;
	border:1px solid #878787;
	text-transform:uppercase;
	color:#676767;
	font:10px/12px "CMUSerif-Bold", Georgia, "Times New Roman", Times, serif;
	border-radius:4px;
	padding:4px 17px 5px;
	margin:0 0 5px;
}
.black-area .holder p{
	margin:0;
	text-indent:4px;
}
.black-area .circle-area{
	float:left;
	position:relative;
	width:104px;
	height: 102px;
	background: url(../images/img-circle-2.png) 50% 50%;
	margin:0 54px 0 0;
}
.black-area .circle-area .first{
	position:absolute;
	color:#fff;
	font:10px/12px Helvetica, Arial, sans-serif;
	text-shadow:3px 3px 2px #000;
	left:-17px;
	top:17px;
}
.black-area .circle-area .second{
	position:absolute;
	color:#fff;
	font:10px/12px Helvetica, Arial, sans-serif;
	text-shadow:3px 3px 2px #000;
	left:105px;
	top:64px;
}
.black-area .circle-area .third{
	position:absolute;
	color:#fff;
	font:10px/12px Helvetica, Arial, sans-serif;
	text-shadow:3px 3px 2px #000;
	left:85px;
	top:97px;
}
.black-area .text-holder{
	float:left;
	width:280px;
	margin:7px 0 0;
}
.black-area .text-holder a{
	color:#e6e6e6;
	text-decoration:underline;
}
.black-area .text-holder a:hover{text-decoration:none;}
.network-area{
	margin:-2px 0 58px;
	padding:53px 0 0;
	background:url(../images/separator-alt.png) repeat-x;
}
.network-area .star-title{
	margin:0 0 39px;
	padding:4px 27px 5px;
	border-radius:3px;
}
.network-area .holder{
	overflow:hidden;
	margin:0 auto 35px;
	padding:0 0 0 26px;
	width:605px;
	position:relative;
	left:-1px;
}
.network-area .box{
	float:left;
	width:370px;
	text-align:left;
	margin:2px 0 0;
}
.network-area .heading{
	display:inline-block;
	border:1px solid #878787;
	background:#fff;
	border-radius:4px;
	padding:4px 29px 5px;
	margin:0 0 27px;
	text-transform:uppercase;
	color:#676767;
	font:10px/12px "CMUSerif-Bold", Georgia, "Times New Roman", Times, serif;
}
.network-area .img-holder{
	position:relative;
	width:163px;
	height:159px;
	padding:38px 0 70px 71px;
}


.network-area .img-holder .pie-3{
	width: 183px;
	height: 179px;
	background:red;
	background: url(../images/img-circle-3.png) 50% 50% no-repeat;
}

.network-area .pie-4 {
	width: 81px;
	height: 80px;
    background: url(../images/img-circle-4.png) 50% 50% no-repeat;
}

.network-area .pie-5 {
	width: 79px;
	height: 80px;
    background: url(../images/img-circle-5.png) 50% 50% no-repeat;
}

.network-area .notes{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:1px;
	left:5px;
	font-size:11px;
	line-height:13px;
	width:165px;
	text-align:left;
}
.network-area .notes li{margin:1px 0 0;}
.network-area .notes li:first-child{margin:0;}
.network-area .notes li:before{
	content:"";
	float:left;
	width:8px;
	height:8px;
	border-radius:5px;
	margin:0 10px 0 0;
	position:relative;
	top:4px;
}
.network-area .notes li.first:before{background:#343434;}
.network-area .notes li.second:before{background:#808080;}
.network-area .notes li.third:before{background:#cdcdcd;}
.network-area .img-holder .first-number{
	position:absolute;
	font:12px/14px Helvetica, Arial, sans-serif;
	color:#fff;
	text-shadow:2px 2px 2px #000;
	top:92px;
	left:99px;
}
.network-area .img-holder .second-number{
	position:absolute;
	font:12px/14px Helvetica, Arial, sans-serif;
	color:#fff;
	text-shadow:3px 3px 2px #000;
	top:127px;
	left:197px;
}
.network-area .img-holder .third-number{
	position:absolute;
	font:10px/12px Helvetica, Arial, sans-serif;
	color:#4d4d4d;
	top:162px;
	left:184px;
}
.network-area .img-holder .about-first{
	position:absolute;
	left:237px;
	bottom:168px;
	font-size:12px;
	line-height:14px;
	color:#676767;
	width:138px;
}
.network-area .img-holder .about-second{
	position:absolute;
	left:56px;
	bottom:1px;
	font-size:12px;
	line-height:14px;
	color:#676767;
	width:149px;
}
.network-area .img-holder .about-first .connect{
	position:absolute;
	left:-6px;
	bottom:-56px;
	background:url(../images/connect-9.png) no-repeat;
	width:57px;
	height:46px;
	text-indent:-9999px;
	overflow:hidden;
}
.network-area .img-holder .about-second .connect{
	position:absolute;
	left:-15px;
	bottom:9px;
	background:url(../images/connect-8.png) no-repeat;
	width:69px;
	height:126px;
	text-indent:-9999px;
	overflow:hidden;
}
.network-area .block{
	width:205px;
	float:right;
}
.network-area .block .heading{
	display:block;
	border:1px solid #878787;
	background:#fff;
	border-radius:4px;
	padding:4px 20px 5px;
	margin:0 0 4px;
	text-transform:uppercase;
	color:#676767;
	font:10px/12px "CMUSerif-Bold", Georgia, "Times New Roman", Times, serif;
}
.network-area .block .block-holder{
	border:1px solid #878787;
	border-radius:4px;
	background:#fff;
	padding:5px 0 25px;
}
.network-area .block .add-heading{
	width:162px;
	margin:0 auto 11px;
	background:#808080;
	padding:4px 15px 5px;
	font:10px/12px "CMUSerif-Bold", Georgia, "Times New Roman", Times, serif;
	text-align:center;
	color:#fff;
	display:block;
	border-radius:4px;
	text-transform:uppercase;
}
.network-area .block .add-heading.alt{margin:0 auto 34px;}
.network-area .block .img-section{
	width:80px;
	height:80px;
	margin:0 auto 23px;
	position:relative;
	left:-5px;
}
.network-area .block .img-section .first{
	position:absolute;
	top:-4px;
	left:-11px;
	font:10px/12px Helvetica, Arial, sans-serif;
	color:#343434;
}
.network-area .block .img-section .second{
	position:absolute;
	top:74px;
	left:72px;
	font:10px/12px Helvetica, Arial, sans-serif;
	color:#343434;
}
.network-area .block .img-section .first-note{
	font-size:9px;
	line-height:12px;
	color:#676767;
	position:absolute;
	bottom:44px;
	left:82px;
	width:60px;
}
.network-area .block .img-section .second-note{
	font-size:10px;
	line-height:12px;
	color:#676767;
	position:absolute;
	bottom:10px;
	left:10px;
	width:60px;
}
.network-area .block .img-section .first-note .connect{
	position:absolute;
	left:-22px;
	bottom:-28px;
	width:42px;
	height:26px;
	background:url(../images/connect-10.png) no-repeat;
}
.network-area .block .img-section .second-note .connect{
	position:absolute;
	left:9px;
	bottom:-31px;
	width:6px;
	height:43px;
	background:url(../images/connect-11.png) no-repeat;
}
.network-area .block .img-name{
	width:150px;
	margin:0 auto 33px;
	font-size:11px;
	line-height:15px;
	display:block;
}
.network-area .block .img-container{
	position:relative;
	left:-3px;
	width:79px;
	height:80px;
	margin:0 auto 3px;
}
.network-area .block .img-container .first{
	font:10px/12px Helvetica, Arial, sans-serif;
	color:#cdcdcd;
	position:absolute;
	left:26px;
	top:34px;
}
.network-area .block .img-name.alt{
	width:100px;
	text-align:center;
	margin:0 auto;
}
.network-area .black-box{
	width:633px;
	margin:0 auto;
	padding:6px 0 6px;
	list-style:none;
	background:#1a1a1a;
	border-radius:4px;
	font-size:11px;
	line-height:14px;
	color:#e6e6e6;
	overflow:hidden;
	text-align:left;
}
.network-area .black-box li{
	float:left;
	width:280px;
	margin:0 0 0 8px;
	padding:3px 0 5px 11px;
	background:url(../images/black-separator.gif) repeat-y;
}
.network-area .black-box li:first-child{
	margin:0 -10px 0 26px;
	padding:3px 10px 5px 0;
	text-align:right;
	background:url(../images/black-separator.gif) 100% 0 repeat-y;
}
.numbers-block{margin:0 0 62px;}
.numbers-block .divider{
	width:415px;
	height:6px;
	margin:0 auto 52px;
	background:url(../images/separator-alt.png) repeat-x;
}
#wrapper .numbers-block h2 .mark{margin:0 0 14px;}
.numbers-block .text-holder{
	width:394px;
	display:block;
	margin:0 auto 62px;
	padding:1px 0 0;
}
.numbers-section{position:relative;}
.numbers-section .box{
	overflow:hidden;
	position:relative;
	left:-5px;
	width:464px;
	margin:0 auto 68px;
	padding:39px 2px 0 0;
	color:#343434;
	font:36px/42px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
.numbers-section .numbers-list{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	width:292px;
	border:1px solid #9e9e9e;
	border-radius:4px 0 0 4px;
}
.numbers-section .numbers-list.alt{
	float:right;
	width:134px;
	border-radius:0 4px 4px 0;
}
.numbers-section .numbers-list li{
	position:relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	float:left;
	width:40px;
	height: 40px;
	line-height: 40px;
	border-left:2px solid #aaa;
	text-align:center;
	padding:15px 0 2px;
	background-color: #fcfcfc;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGI0YjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #b4b4b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#b4b4b4));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#b4b4b4 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#b4b4b4 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#b4b4b4 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#b4b4b4 100%);
}
.numbers-section .numbers-list li:first-child{
	border:none;
	border-radius:4px 0 0 4px;
}
.numbers-section .numbers-list.alt li:first-child{border-radius:0;}
.numbers-section .numbers-list.alt .last{
	border-radius:0 4px 4px 0;
	width:50px;
}
.numbers-section .numbers-list .mark{
	position:absolute;
	top:-38px;
	font-size:14px;
	line-height:17px;
}
.numbers-section .numbers-list .mark span{
	display:inline-block;
	background:#e6e6e6;
	border:1px solid #868686;
	height:10px;
	margin:9px 0 0;
}
.numbers-section .numbers-list .mark.short{
	width:40px;
	left:0;
}
.numbers-section .numbers-list .mark.short span{width:24px;}
.numbers-section .numbers-list .mark.middle{
	width:73px;
	left:4px;
}
.numbers-section .numbers-list .mark.middle span{width:71px;}
.numbers-section .numbers-list .mark.long{
	width:115px;
	left:4px;
}
.numbers-section .numbers-list .mark.long span{width:113px;}
.numbers-section .numbers-list.alt .mark.long{left:9px;}
.numbers-section .numbers-list.alt .mark.long span{width:88px;}
.numbers-section .connect{
	position:absolute;
	left:436px;
	top:70px;
	width:32px;
	height:102px;
	background:url(../images/connect-12.png) no-repeat;
}
#footer .divider-2,
.numbers-section .divider-2{
	height:1px;
	width:100%;
	margin:0 0 2px;
	background:url(../images/separator.png) repeat-x;
}
.black-section{
	background:#1a1a1a;
	padding:26px 55px 44px 114px;
	margin:0 0 2px;
	color:#e6e6e6;
	font-size:11px;
	line-height:14px;
	text-align:left;
	position:relative;
	overflow:hidden;
}
.black-section .box-area{
	margin:0;
	padding:21px 0 41px;
	list-style:none;
}
.black-section .box-area:after{
	content:"";
	display:block;
	clear:both;
}
.black-section .box-area.alt{
	padding:0 0 19px;
	background:none;
}
.black-section .box-area li{
	float:left;
	width:157px;
	margin:0 0 0 27px;
}
.black-section .box-area li:first-child{margin:0;}
.black-section .box-area li.last{
	float:right;
	position:relative;
	margin:0 0 0 24px;
	padding:20px 0 0;
	width:224px;
}
.black-section .box-area li.last .vertical{
	position:absolute;
	width:2px;
	height:1000px;
	bottom:0;
	left:188px;
	background:url(../images/separator-black.gif) repeat-y;
}
.black-section .box-area li.last span{
	background:#343434;
	border-radius:3px;
	color:#9a9a9a;
	font-size:11px;
	line-height:14px;
	padding:7px 10px 8px;
	display:block;
	position:relative;
}
.black-section .box-area .title{
	display:block;
	color:#676767;
	font:18px/21px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
.black-section .connection{
	position:absolute;
	z-index:50;
	width:218px;
	height:26px;
	left:452px;
	top:0;
	background:url(../images/connect-13.gif) no-repeat;
}
.bottom-area .divider{
	display:block;
	width:414px;
	height:6px;
	margin:0 auto 53px;
	background:url(../images/separator-alt.png) repeat-x;
}
.bottom-area .arrow{margin:0 auto 53px;}
.bottom-area .text-holder{
	display:block;
	margin:0 auto 45px;
	width:400px;
}
#wrapper .bottom-area h2{margin:0 0 16px;}
#wrapper .bottom-area h2 .mark{margin:0 0 14px;}
.block-download{
	width:382px;
	margin:0 auto 104px;
	color:#b3b3b3;
	background:#343434;
	padding:0 0 8px;
	border:1px solid #737373;
	border-radius: 5px;
	overflow:hidden;
}
.block-download .holder{
	padding:18px 10px 21px;
	background:#1a1a1a;
	margin:0 0 5px;
	color:#fff;
	font-size: 12px;
	border-bottom:2px solid #4d4d4d;
	overflow:hidden;
}
.block-download p{margin:0 0 19px;}
.block-download .btn{
	display:inline-block;
	color:#1a1a1a;
	padding:5px 10px;
	min-width:140px;
	border-radius: 3px;
	background: #fcfcfc;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGI4YjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #b8b8b8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#b8b8b8));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#b8b8b8 100%);
}
.block-download .btn:hover{
	opacity: 0.4;
}
.block-download a.link:visited, a.link {
	color: white;
	text-decoration: underline;
}
.scheme-block{
	font:12px/16px  Georgia, "Times New Roman", Times, serif;
	margin:0 0 60px;
	overflow:hidden;
}

@media screen and (max-width: 768px) {
	.scheme-block{
		display: none;
	}
}
.scheme-block .black-box{
	display:inline-block;
	padding:9px 14px 8px;
	color:#cdcdcd;
	border:1px solid #5a5a5a;
	border-radius: 5px;
	background:#1a1a1a;
}
.scheme-block .white-box{
	display:inline-block;
	margin:0 auto;
	padding:12px 10px 9px;
	border:2px solid #ccc;
	border-radius: 5px;
	background:#fff;
	overflow:hidden;
}
.scheme-block .dark-box{
	display:inline-block;
	color:#fff;
	margin:0 auto;
	padding:9px 5px;
	border:2px solid #676767;
	border-radius: 5px;
	background:#1a1a1a;
	overflow:hidden;
}
.scheme-block .grey-box{
	display:inline-block;
	margin:0 auto;
	padding:9px 5px;
	border:2px solid #ccc;
	border-radius: 5px;
	background:#e6e6e6;
	overflow:hidden;
}
.scheme-block .row-start{text-transform:uppercase;}
.scheme-block .border{
	display:block;
	margin:-4px auto 0;
	width:11px;
	height:58px;
	background:url(../images/border-1.png) no-repeat;
}
.scheme-block .border-2{
	display:block;
	margin:-6px auto 0;
	width:419px;
	height:74px;
	background:url(../images/border-2.png) no-repeat;
}
.scheme-block .border-3{
	display:block;
	margin:-5px auto 0;
	width:11px;
	height:74px;
	background:url(../images/border-5.png) no-repeat;
}
.scheme-block .border-4{
	display:block;
	margin:-10px auto 0;
	width:13px;
	height:101px;
	background:url(../images/border-6.png) no-repeat;
}
.scheme-block .border-5{
	float:right;
	margin:-23px 123px 0 0;
	width:33px;
	height:112px;
	background:url(../images/border-8.png) no-repeat;
}
.scheme-block .row-ckeck-2 .box-2{
	min-width:158px;
	max-width:600px;
	margin:0 auto;
}
.scheme-block .row{position:relative;margin:0;}
.scheme-block .row:after{
	content:'';
	display:block;
	clear:both;
}
.scheme-block .done{
	padding: 10px 14px 8px;
	position: absolute;
	right: 27px;
	top: 71px;
}
.scheme-block .type{
	max-width:600px;
	padding:20px 18px 19px;
}
.scheme-block .row-last{
	width:608px;
	margin:0 auto 106px;
	background:url(../images/arrow-center.png) no-repeat 50% 50%;
}
.scheme-block .row-2{
	width:608px;
	margin:0 auto;
}
.scheme-block .row-2 .box{
	float:left;
	margin: 0 0 0 28px;
	padding: 17px 10px;
	width: 158px;
}
.scheme-block .row-2 .box:first-child{margin:0;}
.scheme-block .row-answer{
	width:710px;
	margin:0 auto;
	background:url(../images/border-7.png) no-repeat 50%;
}
.scheme-block .row-answer .white-box{
	margin:12px 0 0;
	width:175px;
}
.scheme-block .row-answer .box-4{
	float:left;
	margin-left: 96px;
}
.scheme-block .row-answer .box-4:first-child{margin-left:0;}
.scheme-block .row-answer .dark-box{
	float: right;
	margin: 20px 63px 0 0;
	padding: 13px 5px 9px;
	width: 123px;
}
.scheme-block .row-last .diamond{
	margin:0 10px 0 0;
	padding:43px 0 26px;
	float:left;
}
.scheme-block .row-last .white-box{
	float:left;
	margin:30px 122px 0 0;
	width:105px;
	padding:11px 5px;
}
.scheme-block .row-last .box-3{margin:30px 0 0 122px;}
.scheme-block .row-3{
	margin:0 auto;
	padding:73px 0 0;
	background:url(../images/border-4.png) no-repeat 50% 0;
	width:710px;
}
.scheme-block .yes{
	position:absolute;
	left: 246px;
	top: 49px;
}
.scheme-block .yes-2{
	position:absolute;
	right: 241px;
	top: 49px;
}
.scheme-block .how{
	position:absolute;
	right: 137px;
	top: 1px;
}
.scheme-block .no{
	position:absolute;
	left: 179px;
	top: 54px;
}
.scheme-block .no-2{
	position:absolute;
	right: 198px;
	top: 48px;
}
.scheme-block .row-3 .dark-box{
	float:left;
	margin: 24px 112px 0 0;
	padding: 11px 5px;
	width: 166px;
}
.scheme-block .yes-3{
	position:absolute;
	left: 224px;
	top: -50px;
}
.scheme-block .yes-4{
	position:absolute;
	right: 50px;
	top: -64px;
}
.scheme-block .how-2{
	left: 1px;
	position: absolute;
	top: 35px;
}
.scheme-block .row-3 .box-2{float:left;}
.scheme-block .check{padding:10px 18px;}
.row-last .arrow-down-2{
	position:absolute;
	bottom:-108px;
	left:58px;
	background:url(../images/arrow-down-2.png) no-repeat 50% 0;
	width:491px;
	height:138px;
}
.scheme-block .row .box:first-child{margin:0 ;}
.scheme-block .row-area{
	width:730px;
	margin:0 auto;
	padding: 0 0 86px;
}
.scheme-block .row-area .border-6{
	position:absolute;
	width:634px;
	height:349px;
	left:67px;
	top:55px;
	background:url(../images/border-9.png) no-repeat;
}
.scheme-block .row-1 .box-5{
	float:left;
	margin:0 46px 0 0;
}
.scheme-block .row-1 .box-6{margin:4px 44px 0 0;}
.scheme-block .row-1 .dark-box{
	float:left;
	margin: 33px 90px 0 0;
	padding: 10px;
	width: 113px;
}
.scheme-block .row-1{padding:0 0 84px;}
.scheme-block .row-1 .white-box{
	float:left;
	margin: 30px 81px 0 0;
	padding: 10px 5px;
	width: 77px;
}
.scheme-block .row-dark .dark-box{
	padding:12px 16px 9px;
}
.scheme-block .row-02{
	width:625px;
	margin:0 auto;
}
.scheme-block .row-02 .box-6{
	float: right;
	margin: 0 0 0 99px;
	padding: 12px 5px 9px;
	width: 181px;
}
.scheme-block .row-02 .white-box{margin-top:3px;}
.scheme-block .diamond{
	display:inline-block;
	padding:50px 0 20px;
	background:url(../images/img-diamond.png) no-repeat;
	width:116px;
	height:47px;
}
.scheme-block .diamond-2{padding:35px 0;}
.scheme-block .circle{
	display:inline-block;
	padding: 29px 10px;
	background:url(../images/img-circle-6.png) no-repeat;
	width:102px;
	height:64px;
}
.columns{
	margin:0 auto 32px;
	overflow:hidden;
}
.columns .col{
	display:inline-block;
	vertical-align:top;
	width:272px;
	background:#fff;
	border-width:1px;
	border-color: #d8d8d8 #d8d8d8 #d8d8d8 #c9c9c9;
	border-style: solid;
	border-radius: 3px 3px 0 0;
	margin:0 87px 0 0;
}
.columns .col-2{
	margin:0;
	border-color: #d8d8d8 #c9c9c9 #d8d8d8 #d8d8d8;
}
.columns .col .heading{
	background:#1a1a1a;
	padding:9px 9px 8px;
	overflow:hidden;
}
#wrapper .columns .heading h3{
	color:#cdcdcd;
	text-transform:uppercase;
	font-size:12px;
	line-height:15px;
	margin:0;
}
#wrapper .columns .heading .info{background:url(../images/ico-01.gif) no-repeat;}
#wrapper .columns .heading .cart{background:url(../images/ico-02.gif) no-repeat;}
.columns .small-box{
	color:#343434;
	background:#e6e6e6;
	padding:4px 4px 1px;
	font:12px/17px "CMUSerif-Bold";
	border-bottom:1px solid #c3c3c3;
	overflow:hidden;
}
.columns .col-2 .small-box{padding:11px;}
.columns .col .holder{
	text-align:left;
	padding:18px 17px 8px 19px;
	overflow:hidden;
}
.columns .col .holder p{margin:0 0 13px;}
.columns .list{
	padding:8px 0;
	margin:0 0 25px;
	list-style:none;
	background:#1a1a1a;
	border-radius: 3px;
	color:#cdcdcd;
	overflow:hidden;
}
.columns .list-2{padding:9px 0 6px;}
.columns .list li{
	padding:8px 13px 6px;
	border-top:1px solid #404040;
}
.columns .list-2 li{padding:7px 13px;}
.columns .list li:first-child{border:none;}
.finish-box{
	width:250px;
	border:1px solid #e2e2e2;
	margin:0 auto;
	padding:14px 9px 12px;
	border-radius: 5px;
	position:relative;
}
.border-finish{
	position:absolute;
	background:url(../images/border-finish.png) no-repeat;
	height: 77px;
	width: 363px;
	left: -53px;
	top: -35px;
}
.social-block{
	line-height:16px;
	padding:5px;
	overflow:hidden;
}
.social-networks{
	padding:0;
	margin: auto;
	list-style:none;
	text-align:center;
	overflow:hidden;
}
.social-networks li{
	display:inline-block;
	vertical-align:top;
	margin:0 2px 0 0;
}
.social-networks li a{
	display:inline-block;
	width:32px;
	height:32px;
	text-indent:-9999px;
	overflow:hidden;
}
/*
.social-networks .google{background-position:0 0;}
.social-networks .linkedin{background-position:0 -86px;}
.social-networks .facebook{background-position:0 -189px;}
.social-networks .twitter{background-position:0 -286px;}
*/
.social-block p{margin: 15px 0 60px 0;}
.social-block .share{
	display:block;
	color:#676767;
}
.social-block .arrow{margin:0 auto 21px;}
#footer{
	overflow:hidden;
	background:none;
  border-top: none;
  padding: 0;
}
#footer .holder{
	background:#1a1a1a;
	color: #e6e6e6;
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 62px 50px 86px;
}
#footer .title{
	display:block;
	color:#676767;
	font:18px/21px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
}
#footer .text-box{
	display: block;
	margin: 0 auto 20px;
	width: 400px;
}
.btn-grey{
	display:inline-block;
	min-width:155px;
	padding:12px 10px 10px;
	margin:0 auto;
	text-transform:uppercase;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color:#676767;
	font:12px/15px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
	border-radius: 3px;
	background: #fcfcfc;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGI4YjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #b8b8b8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#b8b8b8));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#b8b8b8 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#b8b8b8 100%);
}

.btn-white{
	display:inline-block;
	min-width:155px;
	padding:12px 10px 10px;
	margin:0 auto;
	text-transform:uppercase;
	color:#676767;
	font:12px/15px "CMUSerif-Roman", Georgia, "Times New Roman", Times, serif;
	border-radius: 3px;
	background: #ffffff;
}
.btn-white:hover {
	background:#337ab7;
	color: white !important;
	text-decoration: none;
}





/* ************* HOVER STATES **************** */

.formula {  }
.example a {
	text-decoration: none;
}

.area .red { color: #d9534f; font-family: "Lucida Console", Monaco, monospace; }
.area .orange { color: #FD9A00; font-family: "Lucida Console", Monaco, monospace;  }
.area .green { color: #449d44; font-family: "Lucida Console", Monaco, monospace; }

.side-arrow {
	position: relative;
	left: 20px;
}

.side-arrow-2 {
	position: relative;
	left: 10px;
	top: -2px;
}

.cpc-chart {

	max-width:350px;
	height:186px;
	background: url(../images/scale-1.png) no-repeat;
	text-align: left;
	background-size: 220px 186px;
	width: 220px;
}


@media screen and (min-width:800px){
	.cpc-chart {

		width:350px;
		height:236px;
		background-size: 320px 236px;
	}
}

.cpc-chart .bar {
	width:16px;
	display: inline-block;
	margin-right: 2.3px;
    cursor: pointer;
}

.cpc-chart .last { margin-right: none !important; height:18px; } .cpc-chart .last:hover { background: green;}


.cpc-chart .one { height:175px; } .cpc-chart .one:hover { background: #d9534f; }
.cpc-chart .two { height:88px; }  .cpc-chart .two:hover { background: #d9534f; }
.cpc-chart .three { height:53px;}  .cpc-chart .three:hover { background: #d9534f; }
.cpc-chart .four { height:44px; margin-right:2.7px; } .cpc-chart .four:hover { background: #ec971f;  }
.cpc-chart .five { height:36px; }  .cpc-chart .five:hover { background: #ec971f; }
.cpc-chart .six { height:30px; margin-right: 2.8px;   }  .cpc-chart .six:hover { background: #ec971f; }
.cpc-chart .seven { height:26px; margin-right: 2.8px;}  .cpc-chart .seven:hover { background: #449d44; }
.cpc-chart .eight { height:22px; margin-right: 2.8px;}  .cpc-chart .eight:hover { background: #449d44; }
.cpc-chart .nine { height:20px; }  .cpc-chart .nine:hover { background: #449d44;  }

@media screen and (min-width:800px){
	.cpc-chart .bar {
		width:23px;
		margin-right: 6px;
	}
	.cpc-chart .last { margin-right: none !important; height:22px; } .cpc-chart .last:hover { background: green;}

	.cpc-chart .one { height:222px; }
	.cpc-chart .two { height:111px; }
	.cpc-chart .three { height:79px;}
	.cpc-chart .four { height:56px; }
	.cpc-chart .five { height:45px; }
	.cpc-chart .six { height:40px; margin-right: 4px; }
	.cpc-chart .seven { height:33px; margin-right: 8px !important; }
	.cpc-chart .eight { height:29px; }
	.cpc-chart .nine { height:25px; }
}

.adrank-chart {
	width:330px;
	height:245px;
	background: url(../images/scale-2.png) no-repeat;
	text-align: left;
	padding:9px 0 0 5px;
}

.adrank-chart .bar {
	width:22px;
	display: inline-block;
	margin-right: 7px;
    cursor: pointer;
}

.adrank-chart .last { margin-right: none !important; height:222px; } .adrank-chart .last:hover { background: green;}


.adrank-chart .one { height:25px; } .adrank-chart .one:hover { background: #d9534f; }
.adrank-chart .two { height:48px; }  .adrank-chart .two:hover { background: #d9534f; }
.adrank-chart .three { height:70px;}  .adrank-chart .three:hover { background: #d9534f; }
.adrank-chart .four { height:95px; } .adrank-chart .four:hover { background: #ec971f;  }
.adrank-chart .five { height:118px; }  .adrank-chart .five:hover { background: #ec971f; }
.adrank-chart .six { height:140px;  }  .adrank-chart .six:hover { background: #ec971f; }
.adrank-chart .seven { height:165px; margin-right: 8px !important; }  .adrank-chart .seven:hover { background: #449d44; }
.adrank-chart .eight { height:185px; }  .adrank-chart .eight:hover { background: #449d44; }
.adrank-chart .nine { height:205px; }  .adrank-chart .nine:hover { background: #449d44;  }

.popover-math { margin-bottom: 10px; }


.adwords-qs {
	width:500px;
	height:300px;
	position:relative;
	top: -10px;
	left:-40px;
	background: url(../images/quality-score-bw.png) no-repeat 50% 50%;
}



.LP-Quality:hover .experience-block{
	border:1px solid #d9534f;
}

.LP-Quality:hover .star-title {
	background: #d9534f;
}
.LP-Quality:hover .experience-block .red { background:#d9534f; border-color:#d9534f; color: white;}
.LP-Quality:hover .experience-block .yellow { background: #f0ad4e; border-color:#f0ad4e;  color: white; }
.LP-Quality:hover .experience-block .green { background: #449d44; border-color:#449d44;  color: white; }
.LP-Quality:hover .experience-block .blue { background: #337ab7; border-color:#337ab7;  color: white; }

.LP-Quality a {
	color:#7DB6E8 ;
}

.LP-Quality:hover a {
	color:white ;
	text-decoration: underline;
}


.LP-Relevance:hover .experience-block2{
	border:1px solid #d9534f;
}

.LP-Relevance:hover .star-title {
	background: #337ab7;
}
.LP-Relevance:hover .banner{
	border:1px solid #fbeed5;
}
.LP-Relevance:hover .legend{
	color: #d9534f;
}

.LP-Relevance:hover .experience-block2 .red { background: #A20200; color: white; }
.LP-Relevance:hover .experience-block2 .yellow { background: #FD9A00; color: white; }
.LP-Relevance:hover .experience-block2 .green { background: #449d44; color: white; }
.LP-Relevance:hover .experience-block2 .blue { background: #3366CC; color: white; }

.LP-Relevance:hover .banner { background: #fcf8e3; }
.LP-Relevance:hover .banner span.banner-url { color: #00802A; }
.LP-Relevance:hover .banner span.banner-title { color: #0e1cb3; }

.container:hover .star-title { background: #1a1a1a; }
/* .container:hover .google-search a { background: #d9534f; color: white; text-decoration: none; } */
.container:hover .history-list li a.blue { border:2px solid #1a1a1a; } 	   .container:hover .bullet-circle span.blue { background:;  }
.container:hover .history-list li a.green { border:2px solid #1a1a1a; }    .container:hover .bullet-circle span.green { background:;  }
.container:hover .history-list li a.red { border:2px solid #1a1a1a;  }     .container:hover .bullet-circle span.red { background:;  }
.container:hover .history-list li a.yellow { border:2px solid #1a1a1a;  }  .container:hover .bullet-circle span.yellow { background:;  }


.container:hover .mark { background:#1a1a1a; color:white;  }

.container:hover .block a.red { border:2px solid #1a1a1a; color:black; }
.container:hover .block a.yellow { border:2px solid #1a1a1a; color:black;  }

.container:hover .circle-scale-1 .img-holder {
	 background: url(../images/pie-1.png) 50% 50% no-repeat;
		 	animation: big-pie-hover 1s;
	-moz-animation: big-pie-hover 1s; /* Firefox */
	-webkit-animation: big-pie-hover 1s; /* Safari and Chrome */
	-o-animation: big-pie-hover 1s; /* Opera */
}

.black-area:hover .circle-area{
	background: url(../images/pie-2.png) 50% 50%;
}

.network-area:hover .img-holder .pie-3{
	background: url(../images/pie-3.png) 50% 50% no-repeat;
	animation: pie-3-hover 1s;
    -moz-animation: pie-3-hover 1s; /* Firefox */
    -webkit-animation: pie-3-hover 1s; /* Safari and Chrome */
    -o-animation: pie-3-hover 1s; /* Opera */
}

.network-area:hover .pie-4 {
    background: url(../images/pie-4.png) 50% 50% no-repeat;
    animation: pie-4-hover 1s;
    -moz-animation: pie-4-hover 1s; /* Firefox */
    -webkit-animation: pie-4-hover 1s; /* Safari and Chrome */
    -o-animation: pie-4-hover 1s; /* Opera */
}

.network-area:hover .pie-5 {
    background: url(../images/pie-5.png) 50% 50% no-repeat;
    animation: pie-5-hover 1s;
    -moz-animation: pie-5-hover 1s; /* Firefox */
    -webkit-animation: pie-5-hover 1s; /* Safari and Chrome */
    -o-animation: pie-5-hover 1s; /* Opera */
}

.network-area:hover .star-title {
	background: #1a1a1a;
}

.numbers-section .numbers-list .one:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #930202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#930202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#930202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#930202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#930202 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#930202 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#930202',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .two:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ff350c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff350c 0%, #9c3d09 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff350c), color-stop(100%,#9c3d09)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff350c 0%,#9c3d09 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff350c 0%,#9c3d09 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff350c 0%,#9c3d09 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff350c 0%,#9c3d09 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff350c', endColorstr='#9c3d09',GradientType=0 ); /* IE6-9 */

}

.numbers-section .numbers-list .three:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ff7717; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff7717 0%, #ba5008 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7717), color-stop(100%,#ba5008)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff7717 0%,#ba5008 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff7717 0%,#ba5008 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff7717 0%,#ba5008 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff7717 0%,#ba5008 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7717', endColorstr='#ba5008',GradientType=0 ); /* IE6-9 */

}

.numbers-section .numbers-list .four:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ffc005; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc005 0%, #d45902 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc005), color-stop(100%,#d45902)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc005 0%,#d45902 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc005 0%,#d45902 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc005 0%,#d45902 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc005 0%,#d45902 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc005', endColorstr='#d45902',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .five:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ffd605; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd605 0%, #d48810 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd605), color-stop(100%,#d48810)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd605 0%,#d48810 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd605 0%,#d48810 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd605 0%,#d48810 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd605 0%,#d48810 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd605', endColorstr='#d48810',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .six:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #ffef0a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffef0a 0%, #b1a205 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffef0a), color-stop(100%,#b1a205)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffef0a 0%,#b1a205 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffef0a 0%,#b1a205 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffef0a 0%,#b1a205 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffef0a 0%,#b1a205 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffef0a', endColorstr='#b1a205',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .seven:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #4fbf00; /* Old browsers */
	background: -moz-linear-gradient(top,  #4fbf00 0%, #456f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbf00), color-stop(100%,#456f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fbf00 0%,#456f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fbf00', endColorstr='#456f15',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .eight:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #4fbf00; /* Old browsers */
	background: -moz-linear-gradient(top,  #4fbf00 0%, #456f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbf00), color-stop(100%,#456f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fbf00 0%,#456f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fbf00', endColorstr='#456f15',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .nine:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #4fbf00; /* Old browsers */
	background: -moz-linear-gradient(top,  #4fbf00 0%, #456f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbf00), color-stop(100%,#456f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fbf00 0%,#456f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fbf00', endColorstr='#456f15',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list .ten:hover {
	color: white;
	text-shadow: 1px 1px #000;
	background: #4fbf00; /* Old browsers */
	background: -moz-linear-gradient(top,  #4fbf00 0%, #456f15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbf00), color-stop(100%,#456f15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fbf00 0%,#456f15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fbf00 0%,#456f15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fbf00', endColorstr='#456f15',GradientType=0 ); /* IE6-9 */
}

.numbers-section .numbers-list:hover .mark {
	color: #1a1a1a;
	text-shadow: none;
}

.black-section:hover .dead {
	color:#ff0000;
}

.black-section:hover .sick {
	color:orange;
}

.black-section:hover .weak {
	color:orange;
}

.black-section:hover .good {
	color:green;
}

.black-section:hover .excellent {
	color:green;
}

.btn-grey:hover {
    color:white;
    text-decoration: none;
	background: #337ab7 ;
	text-shadow: none;

}

.block-download a.link:hover {
	color:#7DB6E8 ;
}

.scheme-block:hover  .black-box{
	    color:white;
        background: rgb(0,90,124);
}

.scheme-block:hover .scheme-red {
	background: #d9534f;
	color:white;
    border: 2px solid #d9534f;
}

.scheme-block:hover .scheme-orange {
	background: #f0ad4e;
	color:white;
    border: 2px solid #f0ad4e;
}

.scheme-block:hover .scheme-green {
	background: #449d44;
	color:white;
    border: 2px solid #449d44;
}

.scheme-block:hover .scheme-purple-1 {
	background: #337ab7;
	color:white;
    border: 2px solid #337ab7;
}

.scheme-block:hover .scheme-purple-2 {
	background: #337ab7;
	color:white;
    border: 2px solid #337ab7;
}

.scheme-block:hover .scheme-blue {
	background: #337ab7;
	color:white;
}

.scheme-block a {
	color:#7DB6E8 ;
	text-decoration: underline;
}

.scheme-block:hover .col .scheme-orange {
	background: #f0ad4e;
	color: white;
}

.scheme-block:hover .col .scheme-green {
	background: #449d44;
	color: white;
}

.scheme-block:hover .columns .list li {
	border-top: 1px solid white;
}


.scheme-block:hover .columns .list li:first-child {
 border: none;
}

/* Bottom content */

.qs-bottom-content {
	max-width:800px;
	margin: 30px auto;
}

.qs-bottom-content h2 {
	font-size:16px;
}

/************* ANIMATIONS *********/

/*** QS Screeshot ***/

div.adwords-qs:hover {
	background: url(../images/quality-score.png) no-repeat 50% 50%;
	animation: adwords-qs-hover 1s;
    -moz-animation: adwords-qs-hover 1s; /* Firefox */
    -webkit-animation: adwords-qs-hover 1s; /* Safari and Chrome */
    -o-animation: adwords-qs-hover 1s; /* Opera */
}


@keyframes adwords-qs-hover
{
from { background: url(../images/quality-score-bw.png) no-repeat 50% 50%; }
to { background: url(../images/quality-score.png) no-repeat 50% 50%; }
}

@-moz-keyframes adwords-qs-hover /* Firefox */
{
from { background: url(../images/quality-score-bw.png) no-repeat 50% 50%; }
to { background: url(../images/quality-score.png) no-repeat 50% 50%; }
}

@-webkit-keyframes adwords-qs-hover /* Safari and Chrome */
{
from { background: url(../images/quality-score-bw.png) no-repeat 50% 50%; }
to { background: url(../images/quality-score.png) no-repeat 50% 50%; }
}

@-o-keyframes adwords-qs-hover /* Opera */
{
from { background: url(../images/quality-score-bw.png) no-repeat 50% 50%; }
to { background: url(../images/quality-score.png) no-repeat 50% 50%; }
}


/*** Big Pie ***/

@keyframes big-pie-hover
{
from { background: url(../images/img-circle-1.png) no-repeat 50% 50%; }
to { background: url(../images/pie-1.png) 50% 50% no-repeat; }
}

@-moz-keyframes big-pie-hover /* Firefox */
{
from { background: url(../images/img-circle-1.png) no-repeat 50% 50%; }
to { background: url(../images/pie-1.png) 50% 50% no-repeat; }
}

@-webkit-keyframes big-pie-hover /* Safari and Chrome */
{
from { background: url(../images/img-circle-1.png) no-repeat 50% 50%; }
to { background: url(../images/pie-1.png) 50% 50% no-repeat; }
}

@-o-keyframes big-pie-hover /* Opera */
{
from { background: url(../images/img-circle-1.png) no-repeat 50% 50%; }
to { background: url(../images/pie-1.png) 50% 50% no-repeat; }
}

/*** Pie 3 Hover ***/

@keyframes pie-3-hover
{
from { background: url(../images/img-circle-3.png) no-repeat 50% 50%; }
to { background: url(../images/pie-3.png) 50% 50% no-repeat; }
}

@-moz-keyframes pie-3-hover /* Firefox */
{
from { background: url(../images/img-circle-3.png) no-repeat 50% 50%; }
to { background: url(../images/pie-3.png) 50% 50% no-repeat; }
}

@-webkit-keyframes pie-3-hover /* Safari and Chrome */
{
from { background: url(../images/img-circle-3.png) no-repeat 50% 50%; }
to { background: url(../images/pie-3.png) 50% 50% no-repeat; }
}

@-o-keyframes pie-3-hover /* Opera */
{
from { background: url(../images/img-circle-3.png) no-repeat 50% 50%; }
to { background: url(../images/pie-3.png) 50% 50% no-repeat; }


/*** Pie 4 Hover ***/

@keyframes pie-4-hover
{
from { background: url(../images/img-circle-4.png) no-repeat 50% 50%; }
to { background: url(../images/pie-4.png) 50% 50% no-repeat; }
}

@-moz-keyframes pie-4-hover /* Firefox */
{
from { background: url(../images/img-circle-4.png) no-repeat 50% 50%; }
to { background: url(../images/pie-4.png) 50% 50% no-repeat; }
}

@-webkit-keyframes pie-4-hover /* Safari and Chrome */
{
from { background: url(../images/img-circle-4.png) no-repeat 50% 50%; }
to { background: url(../images/pie-4.png) 50% 50% no-repeat; }
}

@-o-keyframes pie-4-hover /* Opera */
{
from { background: url(../images/img-circle-4.png) no-repeat 50% 50%; }
to { background: url(../images/pie-4.png) 50% 50% no-repeat; }


/*** Pie 5 Hover ***/

@keyframes pie-5-hover
{
from { background: url(../images/img-circle-5.png) no-repeat 50% 50%; }
to { background: url(../images/pie-5.png) 50% 50% no-repeat; }
}

@-moz-keyframes pie-5-hover /* Firefox */
{
from { background: url(../images/img-circle-5.png) no-repeat 50% 50%; }
to { background: url(../images/pie-5.png) 50% 50% no-repeat; }
}

@-webkit-keyframes pie-5-hover /* Safari and Chrome */
{
from { background: url(../images/img-circle-5.png) no-repeat 50% 50%; }
to { background: url(../images/pie-5.png) 50% 50% no-repeat; }
}

@-o-keyframes pie-5-hover /* Opera */
{
from { background: url(../images/img-circle-5.png) no-repeat 50% 50%; }
to { background: url(../images/pie-5.png) 50% 50% no-repeat; }



/****** Aweber Pop Up Form *****/

#popForm-2025219187 {
  border-radius:4px !important;
  -moz-border-radius:4px !important;
  -webkit-border-radius:4px !important;
}

#af-form-2025219187 .af-body .af-textWrap { float:none !important; }
#af-form-2025219187 .af-body label.previewLabel { float:none !important; display:none !important; }
#af-form-2025219187 .buttonContainer input.submit { width: 200px !important; margin: none !important; }

/****** End Aweber Pop Up Form *****/

/****** Drip forms *****/

.drip-tab.side .drip-header {
	top: 27% !important;
}
.drip-tab.side .drip-content {
  top: 27% !important;
}
.drip-tab .drip-header {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.drip-backdrop.drip-in {
    opacity: 0.8;
}
.drip-lightbox .drip-content > div.drip-panel {
	background: none !important;
}
.drip-lightbox .drip-content {
	background: none !important;
}
#drip-152868 .drip-text-field {
    border-radius: 6px !important;
    border: none !important;

.drip-lightbox .drip-content .drip-description {
	color: white !important;
}
