


/* reset */
img{
	border-style:none;
	vertical-align:top;
}
*:focus{outline:none;}
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:12px Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
	margin: 0;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
header, footer, article, section, hgroup, nav, figure {
    display:block;
}

mark {
    background:none;
}

figure{
	margin:0;
	padding:0;
}

@font-face {
	font-family:'dinprobold';
	src:url('fonts/dinprobold.eot');
	src:url('fonts/dinprobold.eot') format('embedded-opentype'),
		url('fonts/dinprobold.woff') format('woff'),
		url('fonts/dinprobold.ttf') format('truetype'),
		url('fonts/dinprobold.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'dinprolight';
	src:url('fonts/dinprolight.eot');
	src:url('fonts/dinprolight.eot') format('embedded-opentype'),
		url('fonts/dinprolight.woff') format('woff'),
		url('fonts/dinprolight.ttf') format('truetype'),
		url('fonts/dinprolight.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'dinpromedium';
	src:url('fonts/dinpromedium.eot');
	src:url('fonts/dinpromedium.eot') format('embedded-opentype'),
		url('fonts/dinpromedium.woff') format('woff'),
		url('fonts/dinpromedium.ttf') format('truetype'),
		url('fonts/dinpromedium.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
body{
	margin:0;
	font-family: dinprolight, arial, helvetica, sans-serif;
	background:#fff;
	color:#6f6f6f;
	min-width:1000px;
}

/* Nav Bar */

#header{
	position:relative;
	z-index:10000;
}

.navbar {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background-color:rgba(255,255,255,1) !important;
}



.navbar .nav {
	float: right;
}

.navbar .brand {
	margin: 0 0 0 0 !important;
}

.navbar .nav li {
	line-height: 35px !important;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 16px !important;
}

.dropdown-menu {
	margin: 0;
	padding:0;
	text-align: left!important;
	border-top-left-radius:0 !important;
	border-top-right-radius: 0 !important;
	-webkit-border-top-left-radius:0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-moz-border-top-left-radius:0 !important;
	-moz-border-top-right-radius: 0 !important;
	border-bottom-left-radius:4px !important;
	border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-left-radius:4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-bottom-left-radius:4px !important;
	-moz-border-bottom-right-radius: 4px !important;
}

.dropdown-menu>li>a {
	padding: 15px 20px !important;
	border-bottom: 1px solid #f9f9f9 !important;
	font-size: 12px !important;
}

.dropdown-menu li:last-child a {
		border-bottom: none !important;
}


.dropdown-menu>li>a:hover {
	color: #000 !important;
	background: #f9f9f9 !important;
	background-image: none !important;
}

.dropdown-menu>li:last-child a:hover {
	color: #000 !important;
	background: #f9f9f9 !important;
	background-image: none !important;
	border-bottom-left-radius:4px !important;
	border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-left-radius:4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-bottom-left-radius:4px !important;
	-moz-border-bottom-right-radius: 4px !important;
}

.navbar .nav li.dropdown.open>.dropdown-toggle {
	background: #f9f9f9 !important;
}


#home .navbar li#home,
#tour .navbar li#tour,
#pricing .navbar li#pricing,
#benefits .navbar li#benefits,
#reviews .navbar li#reviews,
#awesomeness .navbar li#awesomeness  {
	color: #555555;
	font: 12px dinprobold;
	text-decoration: none;
}

.navbar-inner {
		background:none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
		border-bottom: 0px solid #fff;
}

.navbar .nav>li>a {
    font-size: 12px;
    color:#000;
}

/* Addthis overrides */

.at4-follow .at4-follow-inner {
	padding: 16px 18px 10px 15px !important;
}
.at4-follow.at4-follow-24 .at4-follow-inner .at4-follow-close-control div {
    margin-top: 19px !important;
    margin-left: 5px !important;
}

.at-follow-open-control {
	padding-top: 19px !important;
}

/* Content */

#content {
	padding-top: 150px;
}

.visual {
	text-align:center;
	max-width:870px;
	margin:0 auto 60px;
	color:#606060;
	font-size:20px;
}
.visual p {
    margin:0;
    line-height: 1.2;
    font-size: 28px;
    line-height: 1.5em;
}
.visual h1 {
	color:#000;
	font:44px dinprobold, arial, helvetica, sans-serif;
	margin:0 0 10px;
}
.home .visual h2{
	font-size:56px;
	margin:0 0 14px;
}
.home .visual{
	margin-bottom:50px;
}
.macbook{
	background: url(air3.jpg) no-repeat 50% 0;
	overflow:hidden;
	margin:0 0 45px;
	height:520px;
}
.macbook .wrapper{
	width:640px;
	right: -10px;
	top: -8px;
	margin:0 auto;
	position:relative;
	padding:45px 4px 0 0;
}
.clickit{
	position:absolute;
	right:-180px;
	bottom:15px;
	text-indent:-9999px;
	background:url(sprites.png);
	width:127px;
	height:117px;
}
.container{
	width:860px;
	margin:0 auto;
}

.pricing-btn-container {
   margin:0 0 50px 0;

}

.btn-big-blue {
	width: 450px;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	margin: auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.pricing{
	display:block;
	text-align:center;
	font-weight:normal;
	font-family:dinpromedium, arial, helvetica, sans-serif;
	margin:10px 0;
}
.pricing a {
	color:#7a7a7a;
	text-decoration: none;
	text-transform: uppercase;
  font-size: 11px;
}
.hr2,
.hr{
	background:url(divider.png) repeat-x 0 0;
	height:3px;
	margin:0 auto 36px;
	width:983px;
}
.hr2 hr,
.hr hr{display:none;}
.videos{
	overflow:hidden;
	text-align:center;
	font: 16px dinprolight, arial, helvetica, sans-serif;
}
.videos:after{content:"";display:block;clear:both;}
.videos a {
    color:#7a7a7a;
}
.videos a:hover {
    text-decoration: none;
}
.videos .img{
	display:block;
	margin:0 0 15px;
}
.videos .img img{
	display:block;
	position:relative;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d8d8d8;
}
.videos li{
	float:left;
	padding-bottom:19px;
	margin:0 0 0 10px;
}
.videos .active{background:url(bg-arrow-t2.png) no-repeat 50% 100%;}
.videos span{
	display:block;
	padding:0 15px;
}
.videos span a{padding:4px 0;}
.hr2{background-image:url(divider2.png);}
.logos{
	overflow:hidden;
	padding:35px 0 80px;
}
.logos li{
	float:left;
	margin:0 0 0 29px;
}
.results .steps li:first-child,
.videos li:first-child,
.posts li:first-child,
.logos li:first-child{margin:0;}
.posts{
	overflow:hidden;
	padding:0 0 60px;
	color:#606060;
	font:16px/21px dinpromedium, arial, helvetica, sans-serif;
	margin:60px 0 0 0;
}
.posts li{
	float:left;
	margin:0 0 0 16px;
	padding:0 16px 22px;
	border:1px solid #d8d8d8;
	position:relative;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#fff;
	width:240px;
	height: 530px;
}
.posts .img{
	display:block;
	margin:0 -16px 21px;
}
.posts .img img{
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-radius:6px 6px 0 0;
	display:block;
}
.posts h3{
	font:18px dinpromedium, arial, helvetica, sans-serif;
	margin:0 0 9px;
}
.posts h3 a{padding:4px 0;}
.posts .more{color:#006d8f;}
.posts p{margin:0 0 22px;}
.results{
	text-align:center;
	color:#606060;
	margin: 0 0 60px 0;
}
.testimonials .heading cite,
.heading h2{
	margin:0 0 21px;
	font:22px dinprobold, arial, helvetica, sans-serif;
	color:#000;
	text-transform: uppercase;
}
.heading{
	text-align:center;
	color:#606060;
	font-size:22px;
	line-height:27px;
	max-width: 750px;
	margin:auto;
}

.heading p{margin:0 60px 20px;}

.img-break {
	background: url(break.png) no-repeat;
	width: 105px;
	height: 50px;
	margin: 30px auto;
}

.stars-break {
	width: 70px;
	heght: 20px;
	margin: 0px auto 30px auto;
}

.stars-break ul {
	list-style-type: none;
}
.stars-break ul li {
	background: url(star.png) no-repeat -6px -7px;
	height: 20px;
	width: 20px;
	display: inline-block;
}

.results .steps{
	overflow:hidden;
	padding:120px 0 75px;
	background:url(results-arrows.png) no-repeat 50% 7px;
}
.results .steps p{
	margin:0;
	font:16px dinprolight, arial, helvetica, sans-serif;
}
.results .steps h3{
	margin:0 0 7px;
	color:#000;
	font:16px dinprobold, arial, helvetica, sans-serif;
	text-transform: uppercase;
}
.results .steps li{
	float:left;
	width:250px;
	margin:0 0 0 54px;
}
.results .steps li:last-child { float:right; }

.btn-login {
	height: 10px;
	margin: 12px 15px 0 15px !important;
	line-height: 7px;
	width: 60px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.btn-signup {
	height: 10px;
	margin: 12px 5px 0 15px !important;
	line-height: 7px;
	width: 60px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-shadow:none !important;
	color: white !important;
}

.btn-signup:hover {
	color:#d43f3a !important;
}
.btn-login:hover {
	color:white !important;
	background: #333 !important;
	border-color: #333 !important;
}

.btn {
	background: #fff;
	color: #666;
	border: 1px solid #d6d6d6;
	text-shadow: none;
	background-image: none;
	box-shadow: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.btn-danger {
	background: #d9534f;
	border-color:#d43f3a;
	color: white;
}

.btn-success {
	color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {

}

.btn-all-features {
	width: 450px;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	margin: auto;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.btn-in {
	display: block !important;
	width: 450px;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	margin: auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-family: dinprolight, arial, helvetica, sans-serif;

}

.author{
	/* padding:0 0 0 395px; */
	overflow:hidden;
	color:#7a7a7a;
	font:14px/17px dinpromedium, arial, helvetica, sans-serif;
}
.author img{
	/* float:left; */
	border:1px solid #888;
	position:relative;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	/* margin:0 0 0 -83px; */
}
.author strong{
	color:#444;
	font-weight:normal;
	display:block;
	font-family:dinprobold, arial, helvetica, sans-serif;
}
.author p{margin:0;}
.author a{color:#74a7fe;}
blockquote {border:none;}
.testimonials{padding:2px 0 0;}
.testimonials .heading cite{
	font-size:22px;
	line-height:normal;
	display:block;
	margin:0 0 20px;
}
.testimonials .heading{
	font-size:22px;
	overflow:hidden;
	padding:0 0 12px;
	max-width: 100%;
}
.testimonials .heading p{margin:0 20px 20px;}
.testimonials p.text {font-size: 20px;}
.author dl{
	margin:0 0 40px;
	padding:0 0 66px;
	overflow:hidden;
	background:url(bg-arrow.png) no-repeat 0 100%;
}
.author dt{
	float:left;
	margin:0 4px 0 0;
	clear:left;
}
.author dd{
	float:left;
	margin:0;
}
.author p.signature {
	font-family: dinprolight;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .15em;
    color: #aaa;
    margin-top: 30px !important;
}
.gallery p{
	margin:0 0 42px 0;
	text-align:center;
	font-size:16px;
}
.gallery ul{overflow:hidden;}
.gallery li{
	float:left;
	margin:0 17px 0 0;
}
.gallery .holder{
	width:934px;
	margin:0 auto 45px;
	padding:0 0 0 1px;
}
.gallery li a{
	border:0px solid #d6d6d6;
	position:relative;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width: 136px;
	height: 116px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	cursor: default;
}
.gallery .bx-wrapper{max-width:916px !important;}
.gallery .btn {margin-bottom:14px;}

.static-customer-logos {
	text-align:center;
}
.static-customer-logos li {
	display: inline-block;
	vertical-align: middle;
}

#press {
	background: #f1f1f1 url(bg-press-2.png) repeat;
	border-top: 1px solid #f1f1f1;
}
#inner-press {
   text-align: center;
   padding: 20px;
   margin: auto;
}
#inner-press img {
	margin: 0 15px;
}

#footer{
	background:#f1f1f1 url(bg-press-2.png) repeat;
	border-top:1px solid #dadada;
	padding:35px 0 0;
}
#footer .inner{
	color:#929292;
	overflow:hidden;
	width:971px;
	margin:0 auto 50px;
	padding-bottom:13px;
	display:flex;
}
#footer a{color:#aaa;}
.certified-badge {
	float:left;
	padding:0px 167px 0 0;
	width:250px;
}
.certified-badge p{margin:9px 0 0 2px;}
.certified-badge img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#content{
	padding:0 0 56px;
	position:relative;
	padding-top: 100px;
	background:white;
}
#footer .product{
	padding:2px 52px 0 0;
	flex-grow: 1;
}
#footer .popular-articles{
	padding-top:2px;
	flex-grow: 1;
}
#footer .free-tools{
	padding-top:2px;
	flex-grow: 1;
}
#footer .legal{
	padding-top:2px;
	flex-grow: 1;
}
#footer h4{
	margin:0 0 11px;
	text-transform: uppercase;
	font:14px dinpro, arial, helvetica, sans-serif;
}
#footer ul{line-height:21px;}
#footer .inner li{padding:0;}

#footer .social{
	float:right;
	width:168px;
}
.social li{
	float:left;
	margin:0 7px 0 0;
}
.social a{
	display:block;
	text-indent:-9999px;
	background:url(sprites.png) no-repeat 0 -150px;
	width:39px;
	height:39px;
}
.social .facebook{background-position:-45px -150px;}
.social .googleplus{background-position:-90px -150px;}
.copyright{
	padding:0 0 50px;
	text-align:center;
}
.copyright p{margin:0 0 3px;}
.copyright li{
	display:inline;
	margin-left:5px;
	list-style-type: circle;
	text-transform: uppercase;
	font-size: 12px;
}
.copyright li:first-child{
	background:none;
	padding-left:0;
	margin:0;
}
.video-tabs .inner{
	background:rgb(45,45,45) url(bg-videos.png) repeat;
	padding:3px 0 0 0;
	position:relative;
}
.video-tabs .close{
	position:absolute;
	right:19px;
	top:16px;
	width:27px;
	height:27px;
	background:url(sprites.png) no-repeat 0 -120px;
}
.video-tabs div.tab{
	width:850px;
	margin:0 auto;
}
.features{
	color:#7a7a7a;
	font:16px dinpromedium, arial, helvetica, sans-serif;
}
.features .container{
	width:540px;
}
.features li{
	padding:0;
	width:526px;
	height:205px;
	float:left;
	position:relative;
}
.features li em{
	position:absolute;
	left:-113px;
	top:27px;
	width:55px;
	height:55px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#222;
	color:#fff;
	font:30px/55px dinprolight, arial, helvetica, sans-serif;
	text-align:center;
}
.features li p{margin:0;}
.features li h3{
	margin:0 0 7px;
	color:#000;
	font:24px/32px dinpromedium, arial, helvetica, sans-serif;
}
.features .i2{height:215px;}
.features .i3{height:255px;}
.features .i4{height:280px;}
.features .i5{height:263px;}
.features .i4,
.features .i2{
	text-align:right;
	float:right;
	padding:0 13px 0 0;
}
.features .i4 em,
.features .i2 em{
	left:auto;
	right:-113px;
}
.features .i6{
	font-size:14px;
	height:auto;
	padding:25px 0 0 196px;
}
.features .i6 span{float:left;}
.features .i6 em{
	position:static;
	float:left;
	margin:-20px 0 0 50px;
}
.features ul{padding:0 0 36px;}
.features ul:after{content:"";display:block;clear:both;}
.go-back{
	width:530px;
	margin:0 auto;
	text-align:center;
	color:#7a7a7a;
	font-family:dinpromedium, arial, helvetica, sans-serif;
}
.go-back h3{
	margin:0 0 2px;
	font:28px dinpromedium, arial, helvetica, sans-serif;
	color:#000;
}
.go-back p{margin:0 0 60px;}
.inner-p .pricing,
.go-back .pricing{
	color:#7a7a7a;
	font:14px dinprolight, arial, helvetica, sans-serif;
	margin:0;
}
.video-holder{
	background:#000;
	position:relative;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	width:913px;
	-webkit-box-shadow:3px 3px 3px #bbb;
	-moz-box-shadow:3px 3px 3px #bbb;
	box-shadow:3px 3px 3px #bbb;
	margin:0 auto 55px;
}
.benefits-list{
	width:830px;
	overflow:hidden;
	margin: 0 auto 30px auto;
	font:16px dinpromedium, arial, helvetica, sans-serif;
}
.benefits-list li{
	float:left;
	width:380px;
	height:330px;
	background:#fff;
	border: 1px solid #d4d4d4;
	margin:15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.benefits-list .benefits-text {
     padding: 25px;
 }
.benefits-list .benefits-image {
      height:160px;
}
.benefits-list .rank {
	background: url(rank.jpg) no-repeat;
}
.benefits-list .cheap {
	background: url(cheap.jpg) 0 -40px no-repeat;
}
.benefits-list .unfair {
	background: url(unfair.jpg) 0 -100px no-repeat;
}
.benefits-list .traffic {
	background: url(traffic.jpg) no-repeat;
}

.benefits-list .ladders {
	background: url(ladders.jpg) no-repeat;
}

.benefits-list .location {
	background: url(location.jpg) 0 -120px no-repeat;
}

.benefits-list .min-bids {
	background: url(min-bids.jpg) -100px 0 no-repeat;
}

.benefits-list .insertion {
	background: url(insertion.jpg) 0 -100px no-repeat;
}

.benefits-list .site {
	background: url(site.jpg) no-repeat;
}
.benefits-list .product {
	background: url(product.jpg) no-repeat;
}

.benefits-list h3 {
	margin:0 0 3px;
	color:#000;
	font:28px dinpromedium, arial, helvetica, sans-serif;
}
.benefits-list p{margin:0;}

.table-pricing{
	width:800px;
	margin:0 auto 36px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-radius:6px 6px 0 0;
	position:relative;
	background: url(pricing-bg.jpg) no-repeat;
	color:#ebebeb;
}

.visual p.new-pricing-h2 {
	max-width: 500px;
	margin: auto;
}

.pricing-new {
	width: 370px;
	margin: 0 auto 30px;
	background: white;
	border-radius:15px;
	box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.2), 0 3px 6px 0 rgba(0, 0, 0, .07);
}
.pricing-top {
	border-top: 1px solid #fafafa;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
	padding: 50px 0 10px;
}
.pricing-top span {
	display: block;
	margin: 50px 0;
}
.pricing-top .plan-name  span {
		font-size: 34px;
		font-family: dinprobold;
		color: #777;
		display:none;
}
.pricing-top .plan-amount  span.large {
		font-size: 72px;
		font-family: dinprobold;
}
.pricing-top .plan-amount  span.smaller {
	color: #9B9B9B;
	color: #777;
}

.pricing-bottom {
	background: #333;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 10%;
}

.pricing-bottom .structure-head {
	text-align: center;
}
.pricing-bottom .structure-head h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-shadow: none;
}
.pricing-bottom .structure-head h4 span {
	color: #FCD462;
}
.pricing-bottom .structure-head p {
	font-size: 14px;
	color: #D8D8D8;
}
.pricing-bottom .structure-details {
	margin: 50px 0 0;
}
.pricing-bottom .structure-details .structure-plan {
	border-top: 1px dotted #444;
	padding: 15px 0;
}
.pricing-bottom .structure-details .structure-plan span {
	font-family: dinpro;
	color: white;
	font-size: 14px;
}
.pricing-bottom .structure-details .structure-plan span.structure-price {
	float: right;
}
.pricing-bottom .structure-details .structure-plan span.structure-price.free {
	color: #FCD462 ;
}

.pricing-bottom .structure-details .structure-plan span.structure-quantity.more {
	text-align: center;
	display: block;
	font-family: dinpro;
	padding-top: 25px;
}
.pricing-bottom .structure-details .structure-plan span.structure-quantity.more span.email {
	font-family: dinpro;
	color: #666;
}

.btn-new-pricing {
	width: 340px;
	box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.2), 0 3px 6px 0 rgba(0, 0, 0, .07);
	border-radius: 10px;
  padding: 10px 15px;
}

a.no-hover:hover {
	text-decoration: none;
	color:#000;
}

/* Responsiveness - by Shahaan
-----------------------------------------------*/

@media screen and (max-width:800px){
.customer-blog-tip{width:92%;}
body{min-width:100%;}
#main{width:100%;}
#categories, .archive-meta{width:100%;}
.hentry{width:80%;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{width:98%;}
img.cover{right:0;}
.video-tabs div.tab{width:100% !important;}
div.tab embed{width:100% !important;height:auto !important;}
}
@media screen and (max-width:750px){
.hentry{width:80%;padding:30px;}.entry-content p, .entry-content img{max-width:100%;}
#categories, .archive-meta{width:92%;}
.post-subscribe{width:79%;left:0;bottom:0;}
.post-subscribe iframe{width:100%;}
}
@media screen and (max-width:600px){
.hentry{width:80%;padding:20px;}
#disqus_thread{width:100% !important;}
.post-subscribe iframe{width:100%;}
div#categories select{display:block;width:100%;}
div#categories ul.nav-cat{display:none;}
#categories, .archive-meta{width:87%;}
}
@media screen and (max-width:550px){
a.more-link{width:79%;}
#content .faq{margin-left:15px;}
.well-stretched{width:58%;right:0;}
.entry-content p, .entry-content div{max-width:100%}
}
@media screen and (max-width:480px){
.post-subscribe{width:76%;left:0;bottom:0;}
}
@media screen and (max-width:320px){
#categories, .archive-meta{width:94%;}
.post-subscribe{width:57%;left:0;bottom:0;}
.post-subscribe div{width:100% !important;}
.post-subscribe iframe{width:100%;}
}

@media (max-width: 1200px){
  .container{width:100% !important;}
}
@media (max-width: 1024px){
  .container{width:965px !important;}
}
@media (max-width: 980px){
  #bg, body{min-width:100% !important;max-width:100% !important;}
  div.visual, #mc-container, .w1, .w2{width:100% !important;}
  .w1, .w2{left: 0 !important;}
  #footer .inner{width:100% !important;}
  #footer .inner div{width:21% !important;float:left !important}
  .container{width:100% !important;}
#access .menu-header, div.menu, #colophon, #branding, #wrapper{margin-top:10px;}
span.line{display:none;}
}
@media (max-width: 767px){
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin-left:0 !important;margin-right:0 !important;}
.navbar .nav{float:left !important;}
}
@media (min-width: 800px){
.table-pricing td,
.table-pricing tr,
.table-pricing table{
	border-style:none;
	table-layout:fixed;
	width:100%;
	margin:0;
	padding:0;
}
}
@media (max-width:800px){
body{padding:0 !important;}
  #footer .inner div{width: 40% !important;
float: left !important;
min-height: 156px !important;
padding-top: 10px !important;
padding-right: 40px !important;
padding-left: 22px !important;}
.table-pricing table{width:100%;}
.table-pricing{width:90% !important; margin:5% !important;}
.benefits-list{width:100% !important;}
.benefits-list li{width:45% !important; height:auto !important;}
.gallery .holder{width:87% !important;max-width: 87% !important;}
.author {
margin: 0 auto;
overflow: hidden;
color: #7a7a7a;
font: 14px/17px dinpromedium, arial, helvetica, sans-serif;
float: none;
width: 245px;
padding-left: 100px;
}
.steps, .videos, .posts{width:100% !important;float:left !important;}
.steps li{width:90% !important;float:left !important;padding:10px 5%;margin:0 !important;}
.videos li{width:30% !important;float:left !important;}
.posts li{width:27% !important;float:left !important;}
div.screen{width:90%;}
.features li{padding: 30px !important;
width: 90% !important;float:left !important;text-align:center !important;height: auto !important;padding-bottom: 50px !important;}
.features .i6{padding:0 30px !important;}
.features li em, .features .i6 em{left: 45% !important;
top: -39px !important;position:absolute !important;margin:0 !important;float:none !important;}
.go-back{padding:0 30px 30px !important;
width: 90% !important;float:left !important;text-align:center !important;height: auto !important;}
span.hr{display:none !important;}
}
@media (max-width: 650px){
.benefits-list li{width:40% !important; height:auto !important;}
.posts li{width:24% !important;float:left !important;}
}
@media (max-width:540px){
.benefits-list li{width:90% !important; height:auto !important;float:none !important;margin:0 auto !important;}
table tr td{display:block;}
.table-pricing{background-repeat:repeat !important;background-size: cover;}
.table-pricing tr{border-bottom:1px solid #fff !important;}
.table-pricing td{border:none !important;height:auto !important;padding:22px 0 !important;}
#footer .inner{background:none !important;}
#footer .inner div{border-bottom:1px dotted #fff;text-align:center;width:80% !important;margin: 0 auto;
float: none !important;}
.btn-in, .btn-all-features, .btn-big-blue{width:85% !important;}
h3.title{width:85% !important;}
.videos li{width:90% !important;float:left !important;margin-left:5% !important;}
.videos li img{width:100% !important;}
.posts li{width:82% !important;float:left !important;margin-left:5% !important;height:auto !important;margin-top:5px !important;}
.posts li img{width:100% !important;}
}

@media (max-width: 979px){
.navbar-fixed-top {
    margin-bottom: 0px;
	}
}

/* ------------ End Responsiveness -------------------- */

.table-pricing tr,
.table-pricing table{
	border-style:none;
	margin:0;
	padding:0;
}
.table-pricing td{
	vertical-align:middle;
	height:120px;
	border-top:1px dashed #797979;
	text-align:center;
}
.table-pricing tr:first-child td{border-style:none;}
.table-pricing .cell1{font:18px dinpromedium, arial, helvetica, sans-serif;}
.table-pricing .cell4 span{font-size:28px}
h3.title{
	margin:25px auto 25px auto;
	color:#606060;
	font:22px dinpromedium, arial, helvetica, sans-serif;
	text-align:center;
	width:600px;
}
#bg{
	background: none;
	height:800px;
	border-bottom:0px solid #d8d8d8;
	position:absolute;
	top:0;
	width:100%;
	z-index:-100;
	min-width:1000px;
}
.screen .hr,
.table-pricing .hr {
	position:absolute;
	left:-70px;
	width:1118px;
	margin:0;
	font-size:0;
	background: url(bg-hr.gif) no-repeat;
	height: 3px;
}

.hr-small {
  display:block;
	margin: 30px auto 50px;
	width:200px;
	background: url(bg-hr-small.gif) no-repeat;
	height: 3px;
}
#for-you-if {
    width:480px;
    margin: 0 auto;
    font-family: dinpromedium;
}
a.blue  {
    color: #0088cc;
}
#for-you-if h2{
    font-size:18px;
    text-transform: uppercase;
    margin: 0;
}
#for-you-if table td {
	vertical-align: top;
}
#for-you-if table td img {
	margin-top: 5px;
}
.features .horizontal{
	position:absolute;
	height:0;
	overflow:hidden;
	border-top:1px dotted #999;
}
.features .vertical{
	border-left:1px dotted #999;
	width:0;
	position:absolute;
	overflow:hidden;
}
.screen{
	position:relative;
	width:835px;
	margin:0 auto 60px;
}
.screen img{
	display:block;
	border:1px solid #d6d6d6;
	border-bottom: none;
	position:relative;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-radius:3px 3px 0 0;
}
.screen .hr{
	left:-60px;
	width:950px;
	background: url(bg-hr.gif) no-repeat;
	height: 3px;
}
.features .line .bull{
	background:#fff;
	border: 1px solid #666;
	width:10px;
	height:10px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	position:absolute;
}
.features .i1 .bull{
	top: -440px;
	left: 114px;
}
.features .i1 .s1{
	width: 140px;
	left: -140px;
	top: 29px;
}
.features .i1 .s3{
	width: 255px;
  left: -140px;
  top: -434px;
}
.features .i1 .s2{
	height: 461px;
  left: -140px;
  top: -433px;
}

.features .i2 .bull{
	top: -650px;
  left: 71px;
}
.features .i2 .s1{
	width:100px;
	right:-100px;
	top:32px;
}
.features .i2 .s3{
	width: 75px;
	right: -100px;
	top: -644px;
}
.features .i2 .s2{
	height: 675px;
	right: -100px;
	top: -644px;
}

.features .i3 .bull{
	top: -753px;
	left: 114px;
}
.features .i3 .s1{
	width:100px;
	left:-100px;
	top:32px;
}
.features .i3 .s3{
	width: 220px;
  left: -100px;
  top: -747px;
}
.features .i3 .s2{
	height: 778px;
  left: -100px;
  top: -745px;
}

.features .i4 .bull{
	top: -856px;
	left: 72px;
}
.features .i4 .s1{
	width:156px;
	right:-156px;
	top:32px;
}
.features .i4 .s3{
	width: 130px;
  right: -154px;
  top: -850px;
}
.features .i4 .s2{
	height: 881px;
	right: -156px;
	top: -850px;
}

.features .i5 .bull{
	top: -1237px;
	left: 114px;
}
.features .i5 .s1{
	width:66px;
	left:-65px;
	top:32px;
}
.features .i5 .s3{
	width: 180px;
  left: -63px;
  top: -1231px;
}
.features .i5 .s2{
	height: 1263px;
	left: -65px;
	top: -1231px;
}

.features .i6 .bull{
	top: -1751px;
  left: 670px;
}
.features .i6 .s1{
	width:550px;
	right:-130px;
	top:34px;
}
.features .i6 .s3{
	width: 170px;
  left: 683px;
  top: -1745px;
}
.features .i6 .s2{
	height: 1780px;
	right: -132px;
	top: -1745px;
}
.features .i6 .s4{
	height:30px;
	top:-1835px;
	left:101px;
	display: none;
}
#mc-container{
	width:100%;
	overflow:hidden;
	position:relative;
	margin-top:-64px;
	padding-top:64px;
}
.w1{
	width:1400px;
	position:relative;
	float:left;
	left:50%;
}
.w2{
	width:1400px;
	position:relative;
	float:left;
	left:-50%;
}

/* SEO Pages: Adwords Management, etc...
-----------------------------------------------*/

#seo-article-wrap {
	background:#f6f6f6;
	margin-top:55px;
	margin-bottom: -10px;
  padding-bottom: 100px;
}
#seo-article-content {
  max-width: 760px;
  padding-top: 80px;
	margin:auto;
}
#seo-article-content h1 {
	font-size: 16px;
	font-weight:bold;
	text-transform: uppercase;
}
#seo-article-content h2 {
	font-size: 72px;
	font-family:"Helvetica Neue", Dinpro, sans-serif;
	font-weight:500;
	line-height: 1.2em;
	color:#555;
}
#seo-article-content h3 {
	font-family: Dinpromedium;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
	color: #555;
}
.divider {
	width:100px;
	height:5px;
	background:#555;
	margin:60px 0;
}
#seo-article-content p {
	font-size: 18px;
	line-height: 1.4em;
	margin-bottom: 20px;
}
#seo-article-content a {
	color: #7bc9e3;
}
#seo-article-content .tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;
	margin: 60px 0;
}
#seo-article-content .tg td {
	font-size:14px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding:20px 15px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#d6d6d6;
	color:#666;
	background-color:#fff;
}
#seo-article-content .tg th {
	font-size:14px;
	font-family: dinpromedium, Arial, sans-serif;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#666;
	background-color:#f0f0f0;
}
#seo-article-content strong {
	font-family: DinPromedium;
}
#seo-article-content .tg td.question {
	background: #f2f2f2;
	font-weight: bold;
}
#seo-article-content .part {
	margin: 20px 0 80px 0;
}
#seo-article-content .part img {
float: right;
margin: 50px 0 100px 60px;
-webkit-filter: grayscale(1);
filter: grayscale(1);
}
#seo-article-content div.diy:hover img.diy,
#seo-article-content div.inhouse:hover img.inhouse,
#seo-article-content div.agency:hover img.agency {
	-webkit-filter: none;
	filter: none;
}
#seo-article-content ul {
	font-size: 18px;
	list-style-type: circle;
	margin-left: 50px;
}

#seo-article-content ul li {
	line-height: 28px;
}

/* Review page...
-----------------------------------------------*/

.review {
	margin: 70px auto;
	width: 760px;
}
.review-logo {
	width:200px;
	height: 150px;
	border:0px solid #d6d6d6;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	display:inline-block;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}
.vertical-align-helper {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.review-logo img {
	vertical-align: middle;
	display:inline-block;
}
.review-summary {
	width: 500px;
	padding: 0 0 0 30px;
	display:inline-block;
	vertical-align: middle;
	border-left: 3px solid #f0f0f0;
}
.review-summary h3 {
	line-height: 0.8em;
	color: black;
	margin-top:0;
	font-family: DinPro;
	text-transform: uppercase;
	font-size:20px;
}
.review-summary p {
	font-size: 18px;
	margin: 15px 0;
}
.review-summary .btn {
	background-image: none;
	background:none;
	padding: 10px 30px;
	box-shadow: none;
	border: 2px solid #f0f0f0;
	color: #999;
	text-transform: uppercase;
}

.align-left {
	text-align: left;
}
strong {
	font-family: dinprobold;
}

#legal .container li {
	margin-top: 15px;
}
#legal .container ul {
	list-style-type: disc;
	margin-left: 30px;
}

.small-container {
	margin: auto;
	text-align:center;
}
.team-member {
	width: 250px;
	display:inline-block;
	margin: 0 10px 10px;
}
.header-img {
	position: relative;
}
.header-img img {
	width:100%;
}
.header-txt {
	position: absolute;
	max-width: 1000px;
	padding:100px;
	left:0;
	 right:0;
	 margin:0 auto;
	text-align: center;
	top: 100px;
	color: white;
	font-size: 32px;
	line-height: 1.2em;
}


/* Place Google Translate Top Bar at Bottom
---------------------------------------------------------------------*/
.goog-te-banner-frame {
	top: initial !important;
	bottom: 0px !important;
}


/* Annimations
---------------------------------------------------------------------*/

img, h1, p, ul li {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.slideup {
	-webkit-animation: slideup 2s; /* Safari, Chrome and Opera > 12.1 */
		 -moz-animation: slideup 2s; /* Firefox < 16 */
			-ms-animation: slideup 2s; /* Internet Explorer */
			 -o-animation: slideup 2s; /* Opera < 12.1 */
					animation: slideup 2s;

}

/* Fadin */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ----- Slide Up ------- */

@keyframes slideup {
    from { top: 100px; }
    to   { top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes slideup {
	from { top: 100px; }
	to   { top: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideup {
	from { top: 100px; }
	to   { top: 0px; }
}

/* Internet Explorer */
@-ms-keyframes slideup {
	from { top: 100px; }
	to   { top: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes slideup {
	from { top: 100px; }
	to   { top: 0px; }
}



/* Cookie consent
---------------------------------------------------------------------*/
.cc-banner.cc-bottom {
    bottom: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px !important;
    margin: 0px 10px !important;
    border-radius: 10px !important;
		max-width: 530px !important;
}
.cc-window {
	font-size: 14px !important;
}
.cc-btn {
    margin-left: 10px !important;
    border-radius: 6px !important;
		min-width:80px !important;
}

/****** Drip forms *****/

.drip-tab.side .drip-header {
	top: 27% !important;
}
.drip-tab.side .drip-content {
  top: 27% !important;
}
.drip-tab .drip-header {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.drip-backdrop.drip-in {
    opacity: 0.8;
}
.drip-lightbox .drip-content > div.drip-panel {
	background: none !important;
}
.drip-lightbox .drip-content {
	background: none !important;
}
#drip-152868 .drip-text-field {
    border-radius: 6px !important;
    border: none !important;

.drip-lightbox .drip-content .drip-description {
	color: white !important;
}
