body {
    background: #fafafa !important;
}
.navbar .nav {
  display:none;
}
.navbar .brand {
  text-align: center;
  float: none;
  margin-top: 100px;
}
#docsSearch {
  background: #fafafa !important;
  border-bottom: none !important;
}
.navbar .navbar-inner {
  box-shadow: none !important;
}
#main-content {
  background: none !important;
}
.category-list .category {
  background: white !important;
  box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07) !important;
  border-radius: 6px;
}
#fullArticle dt {
  background: #5291C8 !important;
}
#fullArticle .callout-green dt {
  background: #bbdaaf !important;
}
.articleList li {
  margin: 0 !important;
}
.articleList a {
  padding: 20px 0 !important;
  border-bottom: 1px dotted #ccc !important;
  width: 100% !important;
  display: inline-block !important;
}
.articleList a:hover {
  background: #fafafa !important;
  padding-left: 10px !important;
  animation-name: padding-left !important;
  animation-duration: 0.5s !important;
}
@keyframes padding-left {
    from { padding-left: 0px !important; }
    to { padding-left: 10px !important;}
}
.articleList a:hover span {
  text-decoration: none !important;
}
