




/*
     FILE ARCHIVED ON 3:16:16 May 2, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:22:40 Oct 5, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	
}
html{
	height:100%;
}
body{
	height:100%;
}
.email-submit {
    background: #f9f9f9 url(/web/20150502031616/https://account.tenscores.com/static/images/login-bg.png) repeat;    
    border-bottom: 10px solid #000;
    display: block;
    height: 100%;
    margin: 0;
    min-height: 239px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
}
.email-submit2 {
    background: none repeat-x scroll 0 top #7D6d66;
    border-bottom: 10px solid #142620;
    display: block;
    height: 100%;
    margin: 0;
    min-height: 239px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
}
.email-submit2 h2{
	color: #78D7DA;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
	padding-top:200px;
}
.email-submit h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
}