html { 
	min-height:101%;
}
body { 
	background:#f1f1f1;
	font-family:'Roboto Condensed',Verdana, Geneva, sans-serif ; 
}

/* ===============================================
   TYPOGRAPHY
   =============================================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:'Roboto Condensed',Verdana, Geneva, sans-serif; 
	font-weight:300 ; 
}

body,
p,
li,
address,
dd,
blockquote, 
td, 
th,
.textwidget { 
	color:#616161;
}
 
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
	font-family:'Fjalla One',Verdana, Geneva, sans-serif; 
	font-weight:400 ; 
	margin:0;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Fjalla One',Verdana, Geneva, sans-serif; 
	font-weight:400 ; 
	margin:20px 0;
	word-wrap: break-word;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

code {
	display:block;
	white-space:normal ;
	word-wrap: break-word;
}

ul {
	list-style:none;
	margin-left:0px;
	padding:0;
}

/* ===============================================
   ELEMENTS
   =============================================== */

input, button, select, textarea {
	max-width: 100%;
}

a { 
	outline: none; 
	border:none;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

a.more {
	color:#333 ;
}
a.more:hover {
	color:#48c9b0 ;
}

a:hover {
	color:#48c9b0;
}

a:hover,
a:focus {
	border:none;
	outline:none;
	text-decoration:none ;
}
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
::selection {
	background: #48c9b0;
	color:#fff; 
}
::-moz-selection {
	background: #48c9b0;
	color:#fff; 
}

a.btn {
	margin-right:5px;
	border:none;
}

.alert,
.btn {
	-webkit-border-radius: 0px ;
	-moz-border-radius: 0px ;
	border-radius: 0px ;
}

/* ===============================================
   START WRAPPER
   =============================================== */
   
#wrapper {
	position:relative; 
	top:124px;
}

#wrapper.open-sidebar {
	margin-right:-17px;
}

/* ===============================================
   START HEADER
   =============================================== */

#header { 
	position:relative;
	text-align:center;
	background:#2D3032 ;
	padding:25px 0 ;
	margin-bottom:40px;
	color:#fff ;
	position:fixed;
	margin:auto;
	width:100%;
	top:0;
	z-index:499;
}

body.logged-in #header { 
	top:32px;
}

#subheader {
	width:100%; 
	background:#1abc9c;
	padding:40px 0; 
	color:#fff;
	position:relative;
	margin-bottom:40px;
	margin-top: -40px;
}

#subheader p,
#subheader h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	font-family:'Fjalla One',Verdana, Geneva, sans-serif; 
	margin:0;
}

#subheader p a,
#subheader h1 a {
	color:#616161;
}
.mobile-menu-container{	display:none;}
/* ================= LOGO ================= */

#logo { 
	position:relative; 
	padding:5px 0 0 0; 
	text-align:left;
	float:left;
}

/* ================= WIDGET MENU ================= */

nav#mainmenu ul{ 
	position:relative; 
	margin:0; 
	border:1px solid #444649;
	border-bottom:none;
}
nav#mainmenu li { 
	position:relative; 
	cursor:pointer;
	padding:0;
	border:none; 
	word-wrap: break-word;
}
nav#mainmenu li a{ 
	font-size:14px;
	display:block; 
	padding:12px;
	color:#fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	border-bottom:1px solid #444649;
}

nav#mainmenu li:last-of-type a, 
nav#mainmenu li:last-of-type a:hover{ 
	border-bottom:1px solid #444649;
}

nav#mainmenu .sub-menu, 
nav#mainmenu .children { 
	display:none; 
	margin:0; 
	z-index:9999;
	border:none;
}

nav#mainmenu .children li {
	margin-left:0;
}

nav#mainmenu li li a{ 
	text-decoration:none; 
	text-align:left; 
	border-top:none;
	padding:12px 12px 12px 30px;
}
nav#mainmenu li li li a{ 
	text-decoration:none; 
	text-align:left; 
	padding:12px 12px 12px 60px;
}

nav#mainmenu li a:hover,
nav#mainmenu li:hover > a ,
nav#mainmenu li.current-menu-item > a, 
nav#mainmenu li.current-menu-ancestor > a { 
	background:#1abc9c;
	color:#fff ;
	padding:12px; 
}

nav#mainmenu li li a:hover,
nav#mainmenu li li:hover > a ,
nav#mainmenu li li.current-menu-item > a, 
nav#mainmenu li li.current-menu-ancestor > a { 
	padding:12px 12px 12px 24px;
}

nav#mainmenu li li a:hover,
nav#mainmenu li li:hover > a ,
nav#mainmenu li li.current-menu-item > a, 
nav#mainmenu li li.current-menu-ancestor > a { 
	padding:12px 12px 12px 30px;
}

/* ===============================================
   FOOTER AND SIDEBARS
   =============================================== */

/* ================= FOOTER ================= */

#footer { 
	background:#2D3032 ;
	color:#fff;
	padding: 30px 0;
}

#footer a,
#footer p { 
	font-size: 14px;
	line-height: 1.4em;
	font-weight: 300;
	margin-bottom: 0;
	color: #fff;
}

#footer a:hover { 
	color:#1abc9c;
	text-decoration:none;
}

/* ================= SIDE SIDEBAR ================= */

.scroll-sidebar {
	
	right:-25%; 
	width:25%; 
	background:#2D3032; 
	position:fixed; 
	display:block; 
	height:100%;  
	padding:0; 
	z-index:1; 
	overflow-y:scroll;
	border-top:solid 1px #444649;
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);

}

.scroll-sidebar .post-article {
	background:#2D3032 ; 
	border-bottom:solid 1px #444649
}

.scroll-sidebar .post-article .article {
	padding:25px;
}

.scroll-sidebar .post-article:last-of-type {
	margin-bottom:0px;
	border-bottom:none;
	padding-bottom:124px;
}

.scroll-sidebar h3.title {
	line-height:1em;
	margin-bottom:25px;
	color:#fff;
}

.scroll-sidebar a,
.scroll-sidebar p,
.scroll-sidebar li,
.scroll-sidebar address,
.scroll-sidebar dd, 
.scroll-sidebar blockquote,
.scroll-sidebar td,
.scroll-sidebar th,
.scroll-sidebar label,
.scroll-sidebar .textwidget	 {
	color:#fff;
}

.scroll-sidebar a:hover{
	color:#48c9b0;
}

.scroll-sidebar img {
	max-width:100%;
}

.scroll-sidebar label {
	display:block;
}

.navigation,
.back-to-top {
	top: 50%;
	margin-top: -20px;
	position: absolute;
	right: 15px;
}

.navigation i,
.back-to-top i{
	border: 1px solid #444649;
	padding:12px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.navigation i.open,
.navigation i:hover,
.back-to-top i.open,
.back-to-top i:hover {
	cursor:pointer;
	background:#1abc9c;
	border: 1px solid #1abc9c;
	color:#fff;
}

/* ===============================================
   CONTENT
   =============================================== */
   
#masonry ,
#masonry .post-container,
#masonry .post-container.col-md-12:last-of-type{
	margin-bottom:20px;
}

.post-container,
#masonry .post-container.col-md-12 {
	margin-bottom:40px;
}

.post-article { 
	background:#fff; 
	border-bottom:solid 1px #ddd;
	padding:40px;
	word-wrap: break-word;
}

.post-article.post-title {
	border-bottom:none;
	padding:40px 40px 0 40px;
	margin-bottom:0;
}

#masonry .post-article{
	padding:20px;
}

#masonry .post-article.post-title {
	padding:20px 20px 0 20px;
}

#masonry .col-md-12 .post-article{
	padding:40px;
}

#masonry .col-md-12 .post-article.post-title {
	padding:40px 40px 0 40px;
}

.post-article .title {
	font-style: 300;
	line-height:1.2em;
	position:relative;
	color:#616161;
	max-width: 100%;
}

.post-article .title a {
	color:#616161;
}
.post-article .title a:hover {
	color:#1abc9c;
}

.post-article .attachment p { 
	text-align:center;
}

.post-article .article { 
	padding:40px;
}

/* LINK POST */

.post-article .link a { 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-size:18px;
	color:#fff;
	display:block;
	border-bottom:none;
	line-height:1.4em;
	font-weight:300;
	text-align:right; 	
	background:#333 url('../images/icons/link.png') no-repeat 15px 15px;
	padding:20px;
}

.post-article .link a span{ 
	text-align:right;
	color:#fff;
	font-size:14px;
	margin: 0 0 20px 0;
	display:block;
	line-height: 1.4em;
}

.post-article .link a:hover  { 
	background:#1abc9c url('../images/icons/link.png') no-repeat 15px 15px;
	color:#fff;
	text-decoration:none;
}

/* END LINK POST */

/* QUOTE POST */

#masonry .post-article.post-quote, 
#masonry .post-article.post-link, 
.post-article.post-quote, 
.post-article.post-link { 
	padding:15px;
}

.post-article .quote {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	background:#333 url('../images/icons/cite.png') no-repeat 15px 15px;
	padding:20px;
	color:#fff ;
}

.post-article .quote:hover { 
	background:#1abc9c url('../images/icons/cite.png') no-repeat 15px 15px;
	color:#fff;
}
.post-article .quote:hover .quote-text { 
	color:#fff;
}
.post-article .quote .quote-text { 
	border-left:0;
	margin:0;
	padding:20px 0 0 0;
	text-align:right;
	font-size:18px;
	line-height:1.4em;
	color:#fff;
	font-style:normal;
}

.post-article .quote p.quote-author { 
	text-align:right;
	color:#fff;
	line-height: 1.4em;
}

/* END QUOTE POST */


.post-article.aside {
	background:url('../images/background/paper.jpg') repeat;
	position:relative;
}

.post-article .aside p,
.post-article .category h1,
.post-article .portfolio h1,
.post-article .search h1{ 
	margin:0;
}

.post-article .category,
.post-article .category h1, 
.post-article .portfolio,
.post-article .portfolio h1,
.post-article .search,
.post-article .search h1 { 
	background:#333;
	color:#f1f1f1;
	font-size:21px;
	text-align:center;
	font-weight:100
}
.post-article .category h1 a {
	color:#fff;
}

.post-article .wp-post-image {
	z-index:999;
}

.post-info {
	margin-top:20px;
	padding-top:20px;
	border-top:solid 2px #ddd;
	color:#a9a9a9;
	font-size:13px
}

.col-md-12 .post-info {
	margin-top:40px;
	font-size:14px
}

.post-info a {
	color:#a9a9a9 ;
}
.post-info a:hover {
	color:#48c9b0;
}

.pin-container, 
.video-container,
.maps-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
	background:#fff;
	padding-top:20px;
}

.col-md-12 .pin-container, 
.col-md-12 .video-container,
.col-md-12 .maps-container {
	padding-top:40px;
}

.post-article .maps-container,
.col-md-12 .post-article .maps-container {
	padding-top:0;
}

.video-thumb,
.maps-thumb {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	position:relative;
}
.video-thumb iframe, 
.video-thumb object, 
.video-thumb embed,
.maps-thumb iframe, 
.maps-thumb object, 
.maps-thumb embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
	outline:none;
}

.soundcloud {
	margin:0 0 20px 0;
}

.soundcloud iframe, 
.soundcloud object, 
.soundcloud embed {
	width: 100%;
	height:166px;
	border:none;
}

.post-article .separator:after {
	background:url('../images/separator.png') repeat;
	width:100%;
	height:5px;
	content: '';
	display: inline-block;
	margin:0;
}

.post-article .container-fluid {
	padding:0;
}

.post-article .container-fluid .col-md-12,
.post-article .container-fluid .col-md-6,
.post-article .container-fluid .col-md-4,
.post-article .container-fluid .col-md-3 {
	margin-bottom:25px;
}

.post-article .container-fluid .title {
	margin-bottom:25px;
}

.post-article .soundcloud {
	margin-bottom:20px;
}

.post-article .container-fluid .pin-container, 
.post-article .container-fluid .video-container, 
.post-article .container-fluid .maps-container {
	padding-top: 0 !important;
}

.post-article .container-fluid .col-md-6:last-of-type,
.post-article .container-fluid .col-md-4:last-of-type,
.post-article .container-fluid .col-md-3:last-of-type {
	margin-bottom:0;
}

.article-header {
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}

article blockquote { 
	border-left: 2px solid #ddd; 
	position:relative; 
	margin-left:0px;
	font-style:italic
}

article blockquote p { 
	text-align:left; 
}

.tags { 
	background:#fff;
	padding:0 15px;
}

.tags a { 
	font-weight:300;
}

.post-date {
	text-align: right;
	line-height: 1.2em;
	font-size: 22px;
	font-family: 'Fjalla One',Verdana, Geneva, sans-serif;
}

.day { 
	font-size:14px; 
	line-height:1.1em;
}
.archive { 
	margin:0;
}

/* ===============================================
   PORTFOLIO
   =============================================== */

.skills {
	position:relative;
	padding:0;
	width:200px;
	z-index:496;
	margin:0;
}
.skills .views{
	background:#48c9b0;
	border: solid 1px #48c9b0;
	padding:13px 15px;
	color:#fff;
	position:relative;
	font-size:16px;
}
.skills .views i {
	float:right;
	font-size:12px;
	line-height:21px;
}
.skills .views i.open {
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}
.skills .views.active,
.skills .views:hover {
	background:#1abc9c;
	cursor:pointer;
}
.filter {
	display:none;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 1000;
	width: 100%;
	z-index: 1000;
	background:#48c9b0;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
	border-left: solid 1px #48c9b0;
	border-right: solid 1px #48c9b0;
	border-bottom: solid 1px #48c9b0;
}
.filter li a{
	padding:13px 15px;
	color:#fff ;
	border:none;
	display:block;
	font-size:16px;
}
.filter li {
	color:#fff;
	cursor:pointer;
}

.filter li a:hover,
.filter li a:focus {
	color:#fff ;
}
.filter li:hover,
.filter li.active{
	background:#1abc9c;
	border:none;
}
.portfolio-grid {
	position:relative;
	margin-bottom:25px;
}
.filterable-grid {
	list-style:none; 
	margin:0; 
	padding:0;
	display:block ;
}
.filterable-grid li  {
	position:relative;
	margin-bottom:25px;
}

.filterable-grid  h4.title a {
	background: #fff;
	color: #333 !important ;
	padding: 0 15px;
	position: relative;
	font-size: 21px;
	height:40px;
	line-height:40px;
}
.filterable-grid  h4.title a:hover,
.filterable-grid  h4.title a:focus {
	color:#1abc9c ;
}

.filterable-grid .overlay {
	opacity: 0; 
	filter: alpha(opacity=0);
	background: #333;
	height: 100%;
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	width: 100%;
	line-height: 1.1em;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-align:center
}
.filterable-grid li .overlay a.zoom {
	background: url('../images/icons/zoom.png') no-repeat center ;
	width: 100%;
	height: 100%;
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
	border:none;
	padding:0;
	display:block
}
ul.filterable-grid li article.works {
	padding:4px ; 
	background:#fff ;
	border:solid 1px #ddd ;
	position:relative ;
	display:block ;
}

/* ===============================================
   COMMENTS
   =============================================== */

.comments-container .post-article {
	border-bottom:none;
	padding:0 40px 40px 40px;
}

#respond {
	padding:40px;
	background:#fff;
	margin-bottom:40px;
}

#respond label {
	font-weight:400;
	display:block;
}

.comments-container #respond {
	margin-top:40px;
	margin-bottom:0;
	padding:20px 40px 40px 40px;
}

.comments-container ul .post-article {
	padding-left:60px;
}

.comments-container ul ul .post-article {
	padding-left:80px;
}

.comments-title {
	padding:40px;
	background:#fff;
}

.comments-container ul {
	margin:0;
}

.comment-text  {
	position:relative;
	background:#f1f1f1;
}
.comment-text:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #f1f1f1;
	top: 20px;
	left: -15px;
	z-index: 498;
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}
.comment-text {
	position:relative; 
	margin-left:110px;
	border-left:solid 1px #ddd;
	padding:0 0 0 15px
}

.comment-text p {
	font-size:14px !important;
}

.comment-container .comment-date { 
	padding:10px 0;
}
.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author a {
	color:#a9a9a9;
}

.comment-author .author { 
	font-size:18px; 
	display:block; 
}

.children li {
	margin-left:110px;
}
.comment-notes { 
	font-size:12px; 
}

h3#reply-title, 
h3.comments { 
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	margin:20px 0;
}

h3#reply-title small, 
.logged-in-as { 
	font-weight: 300;
	font-size: 14px ;
	margin:20px 0;
	display:block;
}

.form-allowed-tags { 
	font-size: 14px ;
}

.form-submit {
	margin-top:15px;
}

/* ===============================================
   COMMENT, SEARCH AND CONTACT FORM
   =============================================== */

.contact-form form,
#searchform {
	margin:0 ;
}

#searchform input[type=text], 
#searchform textarea,
.contact-form input[type=text], 
.contact-form textarea,
#commentform input[type=text], 
#commentform textarea {
	padding: 10px 2%;
	background:#fafafa;
	width: 100%; 
	margin:0 0 15px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:none;
}

#searchform input[type=submit],
.contact-form input[type=submit],
#commentform input[type=submit] {
	background:#333;
	border:none;
	outline:none;
	padding: 10px 15px;
	color:#fff;
	margin:25px 0 -20px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-size:13px;
	text-align:center;
	position:relative;
	display: block;
	font-family: 'Fjalla One',Verdana, Geneva, sans-serif;
	font-weight:400
}

.col-md-12 #searchform input[type=submit],
.col-md-12 .contact-form input[type=submit],
.col-md-12 #commentform input[type=submit] {
	margin:0;
}

#searchform input[type=submit] {
	padding: 15px 2%;
}

.contact-form input[type=submit] {
	margin-top:0;
}

#searchform input[type=submit]:hover,
.contact-form input[type=submit]:hover,
#commentform input[type=submit]:hover {
	background:#1abc9c;
	color:#fff;
	text-decoration:none;
}

.searchform {
	margin:15px 0 0 0;
}

#searchform #searchsubmit {
	width: 22%;
	margin: 0;
	padding: 11px 1%;
	display: inline-block;
}

#searchform input[type=text] { 
	width: 76%;
	margin:0;
	padding: 10px 2%;
	display:inline-block;
}

.col-md-6 #searchform #searchsubmit,
.col-md-4 #searchform #searchsubmit,
.col-md-3 #searchform #searchsubmit {
	width:30%;
}

.col-md-6 #searchform input[type=text] {
	width:65%;
}

.col-md-4 #searchform input[type=text],
.col-md-3 #searchform input[type=text] {
	width:64%;
}


#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px ;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px ;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.logged-in-as a, 
#comments a {
	color:#616161;
}

span.messaggeok {
	font-weight:bold;
}

span.error {
	display:none;
	color:#b93333;
	margin-bottom:10px;
	font-weight:bold;
}

/* ===============================================
   SOCIAL BUTTONS
   =============================================== */

.social-button { 
	float:left; 
	height:20px; 
	margin-top:40px; 
	width:auto;
}
.facebook-box {
	width:102px;
}
.facebook-box.en {
	width:82px;
}
.google-plus { 
	width:65px;
}
.twitter-box { 
	width:85px;
}
.pinterest { 
	width:85px;
}


.entry-tags { 
	font-size:14px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}

.entry-tags span { 
	font-weight:300;
}

.line {
	position:relative;
	z-index: 998;
	display:block;
	margin:20px 0;
	text-align:left;
	min-height:11px
}

footer.line {
	margin:40px 0 0 0;
}

/* ===============================================
   IMAGE STYLE
   =============================================== */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto ; 
	margin-right: auto ; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:558px ; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:98%;
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}
.gallery {
	margin:15px auto;
}
.gallery .gallery-item {
	float:left;
	margin:0 0 15px 0;
	text-align:center;
	width:33%;
}
.gallery-columns-2 .gallery-item {
	width:50%;
}
.gallery-columns-4 .gallery-item {
	width:25%;
}
.gallery-columns-2 .attachment-medium {
	max-width:92%;
	height:auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width:84%;
	height:auto;
}
.gallery .gallery-caption {
	color:#888;
	font-size:12px;
	margin:0 0 12px;
}
.gallery dl {
	margin:0;
}
.gallery img {
	border:1px solid #ddd; 
	background:#fff; 
	padding:4px;
}
.gallery br+br {
	display:none;
}
.gallery a {
	border-bottom:none;
}
.attachment img{
	display:block;
	margin:0 auto;
}    
p.list-tags {
	line-height:25px;
	margin-top:20px;
	border-top:1px solid #dcdbdb;
	padding:10px 0 10px 36px;
	background:url('../images/icons/article.png') left 15px no-repeat;
}
article .overlay-image { 
	position:relative; 
	overflow:hidden;
}
.overlay-image .overlay{ 
	opacity: 0; 
	filter: alpha(opacity=0);
	border:none;
}
.overlay-image .zoom { 
	background: #000 url('../images/icons/zoom.png') no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .link { 
	background: #000 url('../images/icons/link.png') no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none;
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .video { 
	background: #000 url('../images/icons/video.png') no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}
.overlay-image .wp-post-image { 
	border:solid 1px #ddd;
	padding:4px;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}

.pin-container .overlay-image .wp-post-image { 
	border:none;
	padding:0;
}

.pin-container .overlay-image .link { 
	top:0; 
	left:0; 
}

.wp-post-image { 
	width: 100%;
	height: 100%;
}

/* ===============================================
   WIDGETS
   =============================================== */

.widget-box {
	margin:20px 0;
}

.scroll-sidebar li {
	padding:5px 0 10px 0;
	border-bottom:1px solid #444649;
}

.scroll-sidebar ul li:last-of-type{
	border-bottom:0;
}

ul.widget-category { 
	position:relative; 
	margin:0; 
	border:1px solid #444649;
	border-bottom:none;
}

ul.widget-category li { 
	position:relative; 
	cursor:pointer;
	border:none ;
	padding:0 ;
}

ul.widget-category li a{ 
	font-size:14px;
	display:block; 
	padding:12px;
	color:#fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	border-bottom:1px solid #444649;
}

ul.widget-category li a:hover { 
	background:#1abc9c;
	border-bottom: solid 1px #1abc9c;
	color:#fff ;
}

.scroll-sidebar #searchform input[type=submit], 
.scroll-sidebar .contact-form input[type=submit], 
.scroll-sidebar #commentform input[type=submit] {
	background: #48c9b0;
	color: #fff;
}

.scroll-sidebar #searchform input[type=submit]:hover, 
.scroll-sidebar .contact-form input[type=submit]:hover, 
.scroll-sidebar #commentform input[type=submit]:hover {
	background: #1abc9c;
	color: #fff;
}

ul.contact-info {
	list-style:none;
	margin:0 !important
}

ul.contact-info li {
	border-bottom:1px solid #444649;
	padding:5px 0;
	margin:0 !important
}

ul.contact-info li:last-of-type {
	border:none;
	padding-bottom:0;
}

.bottom_widget ul.contact-info li {
	border-bottom:1px solid #444649;
}

.contact-info li i{
	width:25px;
	display:inline-block;
	text-align:left;
}
.contact-info li i.icon-mobile-phone {
	font-size:21px;
}

.fb_iframe_widget, 
.fb_iframe_widget span, 
.fb_iframe_widget span iframe[style] {
    width: 100% ;
	background:#fff;
}

#wp-calendar th, 
#wp-calendar #today, 
#wp-calendar #today a { 
	background:#212121; 
}

#wp-calendar #today, 
#wp-calendar #today a { 
	background:#1abc9c; 

}

#wp-calendar a:hover { 
	border:none;
	color:#fff;
}

#wp-calendar { 
	background: #262626; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14x; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14x; 
	color:#fff;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14x; 
	color:#fff;
	text-decoration:none;
}

#wp-calendar td#prev a, 
#wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}

#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #212121;
}

ul#twitter_update_list  { 
	list-style:none;
}
ul#twitter_update_list li { 
	margin:0 0 10px 0;
	padding:0;
	border:none;
	font-size:14px
}

.tagcloud a { 
	display: inline-block; 
	padding: 6px 8px; 
	text-align: center; 
	font-size:14px ; 
	color:#ddd; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	border: 1px solid #444649;
	color:#fff ;
	margin:0 0 4px 0;
}

.tagcloud a:hover { 
	color: #fff !important; 
	background: #1abc9c;
}

#sidebar .tagcloud a { 
	font-size:14px ; 
}

.contact-map {
	margin:-40px 0 40px 0;
}

/* ===============================================
   TABS
   =============================================== */

.tabs { 
	position:relative;
	margin:0; 
}

.tabs-container { 
	position:relative; 
	margin:0; 
	padding:15px 0;
}
.tabs-container h3{ 
	font-size:16px; 
	font-weight:normal;
}
.tabs-container p { 
	font-size:14px; 
	line-height:1.4em; 
}
.tabs ul {
	list-style:none;
	margin:0;
	background:#2D3032; 
}
.tabs li {
	float:left;
	padding:0;
	border:none;
}
.tabs li a {  
	background:#2D3032; 
	color:#666; 
	text-decoration:none; 
	padding:12px; 
	display:block; 
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease; 
	float:left; 
	font-size:16px;
	color:#fff ;
	outline: none;
}
.tabs li a:hover, 
.tabs li.ui-tabs-active a, 
.tabs li.ui-state-active a { 
	background:#1abc9c; 
	display:block;
	color:#fff ;
}

/* ===============================================
   TOGGLE
   =============================================== */

.toggle { 
	display: none; 
	font-size:14px; 
	line-height:1.4em; 
	padding:20px; 
}

.toggle_container { 
	margin:0 0 25px 0; 
}

.toggle_container .toggle:last-child{ 
	margin-bottom:-25px; 
}

.toggle_container h5.element { 
	cursor:pointer; 
	background:#2D3032; 
	padding:16px; 
	font-size:14px; 
	margin:0; 
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	text-transform:none;
	color:#fff;
	border-bottom: solid 1px #333;
	position:relative;
	font-weight:normal !important;
	font-family:'Roboto Condensed',Verdana, Geneva, sans-serif; 
}

.toggle_container h5.element i {
	float: right;
	font-size: 12px;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
	line-height: 21px;
}

.toggle_container h5.element i.open {
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.toggle_container > h5.element:last-of-type { 
	border-bottom: solid 1px #212121;
}

.toggle_container h5.element:hover,
.toggle_container h5.inactive,
.toggle_container h5.inactive:hover { 
	border-bottom: solid 1px #1abc9c;
	background:#1abc9c; 
}

.toggle_container h5.element:hover:last-of-type,
.toggle_container h5.inactive:last-of-type,
.toggle_container h5.inactive:hover:last-of-type { 
	border-bottom: solid 1px #1abc9c;
}

/* ===============================================
   ICONS
   =============================================== */
   
.icons i {
	margin-right:25px;
}

/* ===============================================
   SOCIAL ICONS
   =============================================== */

.socials {
	margin:0;
}
.socials a { 
	display:inline-block; 
	margin: 0 0 2px 0 ;
	padding:12px; 
	filter: none ;
	width:37px;
	height:40px;
	text-align:center;
	padding:0;
	color:#fff;
	border: 1px solid #444649;
}

.socials.share a {
	color:#ddd;
	border: 2px solid #ddd;
	margin:20px 0 0 0;
}

.socials.share a i{
	line-height:38px;
}

.socials a i {
	line-height:40px;
}

.socials a:hover { 
	text-decoration:none;
	background:#1abc9c;
	border-color:#1abc9c;
	color:#fff;
}

.scroll-sidebar .socials a:hover { 
	color:#fff;
}


/* ===============================================
   PAGINATION
   =============================================== */

.wp-pagenavi { 
	text-align: left; 
	position:relative;
	margin-bottom: 40px;
}
 
.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current { 
	display:inline-block;
	padding: 12px 14px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	background:#fff;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	border-bottom:solid 1px #ddd
}

.wp-pagenavi a:hover, 
.wp-pagenavi span.current {
	color:#fff;
	background:#48c9b0;
	text-decoration:none;
	border-bottom:solid 1px #16a085
}

#blog .wp-pagenavi {
	margin-top:25px;
	margin-bottom:0px;
}

@media screen and (max-width : 950px)  {
	body {
		padding-left:0px ;
		padding-right:0px ;				min-width: 320px !important;				max-width: 100% !important;
	}
	.mobile-menu-container{	
	padding: 10px 0;
	display: inline-block;
	float: right;
	margin-top: -50px;
	margin-right: 4%;
	}
	.menu-toggle{
	z-index:10000;	
	position:relative;
	padding: 6px 10px;	
	font-size: 11px;	
	line-height: 1.428571429;	
	font-weight: normal;		
	color: #7c7c7c;	
	background-color: #e6e6e6;
	background-repeat: repeat-x;	
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);		
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);	
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);	
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);	
	border: 1px solid #d2d2d2;	
	border-radius: 3px;		
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	}	
	.navbar-fixed-top .navbar-inner{
		padding:0;
	}
	#header .nav{	
	display:none;	
	}	
	#header .nav.toggled-on{	
	display:block;
	margin-top: 45px !important;
	}	
	#header .nav.toggled-on li{
	float:none;	
	}	
	#header .nav.toggled-on li a.btn{	
	margin-left:auto !important;	
	margin-right:auto !important;
	}
	.navbar .nav{
	max-width: 95%;	
	float: none;	
	margin: auto !important;
	}
	article .overlay-image {
		margin-left: auto;
		margin-right: auto;
	}


}

@media screen and (max-width : 782px)  {	
	
	body.logged-in header#header {
		top:46px;
	}

}

@media screen and (min-width : 0px) and (max-width : 768px)  {	


	
	#wpadminbar {
		position:fixed;
	}

	#header {
		padding:10px 0;
	}

	#subheader {
		padding:20px 0;
	}
	
	#logo {
		max-width:75%;
		padding:0;
	}
	
	#logo img {
		max-width:100%;
		max-height:40px;
	}	

	#wrapper.open-sidebar {
		margin-right:0px;
	}

	.scroll-sidebar {
		right:-100%;
		width:100%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.container{		max-width:100%;	}		
	.navbar .brand{	
	float: left;
	margin-left: 4% !important;
	}	
	.children li {
		margin-left:0;
	}
	
	.comment-avatar img {
		margin-right:15px;
	}
	
	.comment-text {
		float:none;
		border:none;
		padding:0;
	}
	
	.gallery .gallery-item{
		width:100%;
		float:none;
		display:block;
		margin:0 0 5px 0;
	}
	
	.gallery p{
		margin:0;
		display:none;
		visibility:hidden;
	}
	
	.skills {
		width:100%
	}
	
	.left,
	.right {
		float:none;
		display:block;
	}
	
	.left,
	#subheader p.left {
		margin-bottom:10px;
	}
	
	.post-date {
		text-align:left;
	}
		
	.back-to-top {
		text-align:center;
		position:relative;
		top:inherit;
		right:inherit
	}
	
	.col-md-3.left-sidebar ,
	.col-md-4.left-sidebar,
	.col-md-3.right-sidebar ,
	.col-md-4.right-sidebar,
	.col-md-8.left-sidebar,
	.col-md-8.right-sidebar {
		float:none;
	}
	
	#footer .copyright {
		padding:0 0 25px 0;
		line-height:15px;
		text-align:center;
	}

	.post-container .post-article.post-title ,
	#masonry .post-article.post-title ,
	#masonry .col-md-12 .post-article.post-title {
		padding:20px 20px 0 20px;
	}
	
	.post-container .post-article ,
	#masonry .post-article ,
	#masonry .col-md-12 .post-article {
		padding:20px;
	}

	#masonry .post-article.post-quote, 
	#masonry .post-article.post-link, 
	.post-article.post-quote, 
	.post-article.post-link {
		padding:15px;
	}
	
	#masonry .post-container,
	#masonry .post-container.col-md-12 {
		margin-bottom:20px;
	}
	
	.col-md-12 .pin-container, 
	.col-md-12 .video-container,
	.col-md-12 .maps-container {
		padding-top: 20px;
	}

}

@media screen and (min-width : 767px) and (max-width : 800px) {	

	.scroll-sidebar {
		right: -50%;
		width: 50%;
	}

}

@media screen and (min-width : 0px) and (max-width : 320px) {	

	div.overlay-image.xsmall .overlay, 
	div.overlay-image.xsmall .wp-post-image { width:140px; height:140px }
	div.overlay-image.small .overlay, 
	div.overlay-image.small .wp-post-image,
	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image,
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:140px; height:100px }

}

@media screen and (min-width : 321px) and (max-width : 479px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image,
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:211px; height:150px }

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	

	.post-article h1.title {
		font-size:22px;
	}
	.post-article .quote blockquote p {
		font-size: 16px;
	}

}

@media screen and (min-width : 481px) and (max-width : 600px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image{ width:240px; height:171px }
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:300px; height:213px }

}

.home .post-container {
	float:none;
	display:inline-block;
}