/*
Theme Name: Tenscores Book
Theme URI: http://components.underscores.me/
Author: Igor Benić
Author URI: http://www.ibenic.com
Description: Theme for Book
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tenscoresbook
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tenscores Book is created by the theme generator at http://components.underscores.me/, (C) 2015-2016 Automattic, Inc.
Components is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Alignments
# Clearings
# Typography
# Forms
# Buttons
# Formatting
# Lists
# Tables
# Navigation
# Links
# Layout
	## Posts
	## Pages
# Comments
# Widgets
# Infinite scroll
# Media
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


@font-face {
  font-family:'DINProBold';
  src:url('http://tenscores.com/css/fonts/dinprobold.eot');
  src:url('http://tenscores.com/css/fonts/dinprobold.eot?#iefix') format('embedded-opentype'),
    url('http://tenscores.com/css/fonts/dinprobold.woff') format('woff'),
    url('http://tenscores.com/css/fonts/dinprobold.ttf') format('truetype'),
    url('http://tenscores.com/css/fonts/dinprobold.svg#dinprobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'DINProLight';
  src:url('http://tenscores.com/css/fonts/dinprolight.eot');
  src:url('http://tenscores.com/css/fonts/dinprolight.eot?#iefix') format('embedded-opentype'),
    url('http://tenscores.com/css/fonts/dinprolight.woff') format('woff'),
    url('http://tenscores.com/css/fonts/dinprolight.ttf') format('truetype'),
    url('http://tenscores.com/css/fonts/dinprolight.svg#dinprolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'DINProMedium';
  src:url('http://tenscores.com/css/fonts/dinpromedium.eot');
  src:url('http://tenscores.com/css/fonts/dinpromedium.eot?#iefix') format('embedded-opentype'),
    url('http://tenscores.com/css/fonts/dinpromedium.woff') format('woff'),
    url('http://tenscores.com/css/fonts/dinpromedium.ttf') format('truetype'),
    url('http://tenscores.com/css/fonts/dinpromedium.svg#dinpromedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:'DINProLight', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}
 

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn {
  padding:1em 1.5em;
  background-color: #000;
  color: white;
  display:inline-block;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color:#999;
}

.btn-success {
  background-color:#b32617;
}

.btn-success:hover {
  background-color: #d6311f;
}



/*--------------------------------------------------------------
# Formattings
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.main-navigation {
  background-color:#000;
  display: block;
  width: 100%;
  min-height:68px;
  border-bottom:4px solid #f5eb4e;
  padding-left: 180px;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;

}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  display: inline-block;
  position: relative;
  padding:0.5em 1.5em;
  text-align: left;
  height:64px;
  vertical-align: middle;
  line-height: 48px;
}

.main-navigation li:hover,
.main-navigation li.current_page_item {
  background: #b32617;
}



.main-navigation li:last-child {
  border-bottom:none;
}
.main-navigation a {
  display: block;
  text-decoration: none;
  color:white;
  line-height: 24px;
}

.main-navigation a:visited {
  color:white;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  margin: 0 auto;
  padding: 1em;
  font-weight: 400;
  background: white;
}

.menu-toggle:before {
  content: "\2630";
  display: inline-block;
  margin-right: 5px;
}

.menu-table-of-content-container {
  display: none;
}

.table-of-content-navigation.toggled .menu-table-of-content-container {
  display: block;
}

.table-of-content-navigation.toggled .menu-toggle {
  background-color:#b32617;
  color:white;
  border-color:#d6311f;
  margin-bottom:20px;
}

.table-of-content-navigation.toggled .table-of-content {
  display: block;
}

@media screen and (min-width: 48em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: table; 
  }

  .main-navigation ul li { display:table-cell; }

  .menu-table-of-content-container {
    display: block;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.post-navigation { 
  padding:2em 0;
  background-color:#efefef;
}
.post-navigation .nav-links a {
  text-decoration: none;
}
.post-navigation .nav-links small {
  display: block;
  color:#666;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #b32617;
}
a:visited {
  color: #b32617;
}
a:hover, a:focus, a:active {
  color: #d6311f;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}




.site-main {
 /*width:90%;
 margin:0 auto;
 max-width: 1140px;*/
}
.site-content { 
  width: 100%;
}
.site-content .widget-area {
  overflow: hidden;
  background-color: #000;
  padding:1em; 
}

.site-footer {
  clear: both;
  width: 100%;
  padding: 1em;
  background-color: #000;
  color: white;
}

.site-footer a {
  color:#f5eb4e;
}

.site-footer a:hover {
  color:white;
}

.site-footer .site-info {
  text-align: center;
}



/*--------------------------------------------------------------
## Single Column / No Active Sidebar
--------------------------------------------------------------*/
.no-sidebar .site-main {
  margin: 0;
}

.no-sidebar .content-area {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/

.entry-header {
  padding:2em 0;
  background-color:#b32617;
  color: white;
}
 
.page-header {
  padding:2em 0;
  color:#b32617;
  background-color:#f5eb4e;
}
.page-header .taxonomy-description p{
  margin:0;
}

.page-header .page-title,
.page-header .taxonomy-description,
.entry-header .entry-title,
.entry-content,
.post-navigation .nav-links,
.comments-area {
  width: 90%;
  margin:0 auto;
  max-width: 1140px;
}

.entry-header .entry-title a,
.entry-header .entry-title a:visited {
  color:white;
  text-decoration: none;
}

.entry-content {
  padding:2em 0;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content, 
.entry-summary {
  margin: 1.5em 0 0;
}

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.nav-links:after {
  display: table;
  content:'';
  clear: both;
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-list {
  margin:0;
  padding:0;
  list-style: none;
}

.comment-list .children {
  list-style: none;
}

.comment-body {
  border:1px solid #ccc;
  margin-bottom: 1em;
}
.comment-body .comment-meta {
  background-color:#efefef;
}

.comment-body .comment-meta:after {
  display: table;
  content:'';
  clear: both;
}

.comment-body .reply {
  text-align: right;
}

.comment-body .reply a {
  display: inline-block;
  padding:0.5em 1em;
  background-color:#b32617;
  color:white;
  text-decoration: none;
  font-size: .75em;
}

.comment-body .reply a:hover {
  background-color: #d6311f;
}

.comment-metadata {
  float: right;
  font-size: 0.75em;
  line-height: 32px;
}

.comment-metadata a{
  color:#666;
  text-decoration: none;
}

.comment-author.vcard {
  float: left;
}

.comment-author.vcard > * {
  display: inline-block;
  vertical-align: middle;
}

.comment-author.vcard a {
  text-decoration: none;
}

.comment-body .comment-meta,
.comment-body .comment-content {
  padding:1em;
}

.comment-reply-title {
  margin-bottom:0;
}
.comment-notes {
  margin-top:0;
}

.comment-respond {
  padding:2em;
  margin-bottom:1em;
  background-color:#efefef;
}

.comment-respond label {
  font-weight: 400;
}

.comment-respond .required {
  color: #b32617;
}

.comment-respond input {
  display: block;
  width: 100%;
  line-height: 40px;
  padding:0 1em;
}

#cancel-comment-reply-link {
  display: inline-block;
  padding:0.5em 1em;
  background: white;
  color:#000;
  margin-left:1em;
  vertical-align: middle;
  border-radius:3px;
  text-decoration: none;
  float: right;
  color:#b32617;
}

.comment-respond input.submit {
  background-color: #b32617;
  color:white;
  box-shadow: none;
  text-shadow:none;
  text-transform: uppercase;
}

.comment-respond input.submit:hover,
.comment-respond input.submit:active {
  background-color: #d6311f;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}


/*
## Header
 */

.site-header {
  position: relative;
  background-color:#efefef;
  border-bottom: 4px solid #ccc;
  padding-bottom:20px;
}
.site-branding {
  padding:1em;
  display: block;
  width: 100%;
  text-align: center;
}

.site-title,
.site-description {
  margin:0;
}

.site-title {
  font-size:28px;
}

.site-title a {
  text-decoration: none;
}

.site-description {
  font-size: 16px;
  font-weight: 300;
}
 
.custom-logo-link img {
  max-height: 220px;
  width: auto;
  border: 4px solid white;
  display: block;
  margin:0 auto;
}


/**
* Table of Content
*/

  .widget-area .table-of-content {
    border-bottom: 4px solid #f5eb4e;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-bottom:10px;
    display: none;
  }

  #toc{
    padding:0;
    margin:0;
    list-style:none;
  }

  #toc ul {
    list-style: none;
    margin:0;
    font-size: 0.75em;
    padding:0;
  }

  #toc li {
     border-radius:3px;
  }

  #toc li a {
    padding:0.5em 0.25em;
    display: block;
    color:#fefefe;
    text-decoration: none;
    border-radius:3px;
    cursor: pointer;
    position: relative;
    transition: background 0.4s ease;
    padding-left: 40px;
  }

  #toc li a:hover,
  #toc li a:focus {
    background-color: #d6311f;
  }



  
  #toc .current-post-ancestor,
  #toc .current-menu-item {
    background-color:#b32617;
  }

  #toc .current-post-ancestor li,
  #toc .current-post-ancestor li a {
    border-radius:0px;
  }

  #toc .current-post-ancestor .current-menu-item,
  #toc .current-menu-item.menu-item-has-children > a{
    background-color: #d6311f;
  }

  #toc .current-post-ancestor > a,
  #toc .current-menu-item.menu-item-has-children > a{
    border-bottom: 2px solid rgba(0,0,0,0.15);
  }

  #toc .menu-item-object-category > a {
    padding-left: 43px;
  }

  #toc .menu-item-object-category small {
    display: block;
    color: #ccc;
  }

  #toc li a:hover small,
  #toc li a:focus small,
  #toc li.menu-item-object-category.current-menu-item small,
  #toc li.current-post-ancestor.menu-item-object-category small {
    color: rgba(0,0,0,0.6);
  }

  #toc .fa-book {
    color: #f5eb4e;
    position: absolute;
    height: 30px;
    left: 5px;
    bottom:0;
    top:0;
    margin: auto;
  }

/*
 Media Queries
 */

/* 768px */
@media screen and (min-width: 48em) {
  h1 {
    font-size: 2em;
  }

  .site-title {
    font-size:36px;
  }
  .site-header {
    padding-bottom:0;
  }
  .site-content {
    display:table; 
  }
   .site-content .widget-area {
      width: 350px;
      display: table-cell;
      padding-top: 125px;
   }

  .content-area { 
    display:table-cell;
    vertical-align: top;
    width: calc( 100% - 350px );
  }

  .site-branding {
    text-align: left;
    padding-left: 200px;
  }

  .custom-logo-link img {
     
    position: absolute;
    top: 1em; 
    left: 1em;
     
  }

  .table-of-content {
    display:block;
  }
}