/*
Theme Name: Repro
Theme URI: http://www.themezilla.com/themes/repro
Description: A Premium News Theme by ThemeZilla
Author: ThemeZilla
Author URI: http://www.themezilla.com
Version: 1.4
*/

/* Import stuff -------------------------------------------------------------- */

@import url('css/reset.css');
@import url('css/960.css');
@import url('css/coda-slider-2.0.css');
@import url('css/tooltips.css');

/* Global -------------------------------------------------------------------- */

body{
	font:12px/20px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#444444;
	background:url(images/body_bg.gif) repeat;
}

a{ text-decoration:none; }

a:hover{
	color:#cc6633;
	text-decoration:none;
}

a:focus{ outline: none; }

.right { float: right; }

hr{
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}

h1{ font-size:25px }
h2{ font-size:22px }
h3{ font-size:21px }
h4{ font-size:19px }
h5{ font-size:17px }
h6{ font-size:15px }

input, textarea{
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/search_inset.gif) repeat-x top #fff;
	border:1px solid #e0e0e0;
	padding:10px;
	font-size:12px; 
	color:#999;
}

.left{ text-align:left; }

.right{ text-align:right; }

pre, 
code { font: 11px/19px Consolas,"Andale Mono",Courier,"Courier New",monospace; }

pre {
	border: 1px solid #DDDDDD;
	margin: 30px 0 40px 0;
	overflow-x: visible;
	overflow-y: hidden;
	padding: 1px;
	background: url(images/bg-code.gif);
}

/* HEADER -------------------------------------------------------------------- */
#header{
	position:relative;
	z-index:2;
}

#top{
	height:45px;
	background:url(images/top_bar_bg.gif) repeat-x;
	color:#565659;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	font-size:11px;
	position:relative;
	z-index:2;
}

/* RSS -------------- */
#rss{
	padding:7px 0 9px 18px;
	background:url(images/rss.png) no-repeat center left;
}

#rss span{
	font-style:normal;
	color:#8d8888;
}

#rss a{
	font-style:normal;
	color:#8d8888;
}

#rss a:hover{ color:#bfbfbf; }

/* logo -------------- */
#logo{ padding:43px 0 40px 0; }

#logo h1{
	font-size:46px;
	margin:0 0 10px 0;
	line-height:50px;
}

#logo h1 a{ color:#332e2e; }

/* Header Advert -------------- */
#header_advert{
	margin:35px 0 40px 0;
	float:right;
	width:468px;
}

#header_advert a{
	float:right;
	height:60px;
	background:url(images/header_advert_border.gif) repeat;
	display:block;
	padding:6px;
}

#header_advert a:hover{ background:url(images/header_advert_border_hover.gif) repeat; }

/* Nav general ---------------- */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li { 
	position: relative; 
	white-space: nowrap;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	min-width: 12em;
	z-index: 99;
}

.sf-menu > li { float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul { display: block; }

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/* Secondary Nav Skin -------------- */
#second_nav{ 
	float:right; 
	text-align: left
}

#secondary-menu a {
	color: #8d8888;
	padding: 7px 10px;
}

#secondary-menu a:hover,
#secondary-menu .current-menu-item > a,
#secondary-menu .current_page_item > a { color: #bfbfbf; }

#secondary-menu > li > a { background: url(images/second_nav_border.gif) -10px 50% no-repeat; }

#secondary-menu li:first-child a { background: none; }

#secondary-menu .sub-menu,
#secondary-menu .children {
	background:url(images/second_nav_bg.gif) repeat;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	width: 150px;
}

#secondary-menu .sub-menu a,
#secondary-menu .children a { 
	background: none; 
	border-bottom:1px solid #1f1b1b;
	border-top:1px solid #332e2e;
	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;
	margin-right: 15px;
}

#secondary-menu .sub-menu li:first-child a,
#secondary-menu .children li:first-child a { border-top: none; }

#secondary-menu .sub-menu li:last-child a,
#secondary-menu .sub-menu .last a,
#secondary-menu .children li:last-child a,
#secondary-menu .children .last a { border-bottom: none; }

/* Main Navigation -------------- */
#nav{
	border:1px solid #d5d5d5;
	border-radius:3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	background:url(images/nav_bg.gif) repeat;
	height:43px;
	position:relative;
	z-index:1;
	margin:0 0 20px 0;
}

#primary-menu a {
	border-right: 1px solid #d5d5d5;
	color: #555555;
	font-weight: bold;
	padding: 12px 22px 11px;
	text-shadow: 0 1px 1px rgb(255, 255, 255);
}

#primary-menu a:hover,
#primary-menu .current-menu-item > a,
#primary-menu .current-cat > a { background: #ffffff; }

#primary-menu .first > a { border-radius: 3px 0 0 3px; }

#primary-menu .sub-menu,
#primary-menu .children {
	background:url(images/nav_dropdown_bg.gif) repeat;
	border:1px solid #d5d5d5;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#primary-menu .sub-menu > li:first-child,
#primary-menu .children > li:first-child {
	border-top: 5px solid #ebebeb;
}

#primary-menu .sub-menu a,
#primary-menu .children a {
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #fff;
	border-right: none;
	color: #777777;
	font-weight: normal;
}

#primary-menu .sub-menu a:hover,
#primary-menu .children a:hover,
#primary-menu .sub-menu .current-menu-item > a,
#primary-menu .sub-menu .current-cat > a,
#primary-menu .children .current-menu-item > a,
#primary-menu .children .current-cat > a {
	background: none;
	color: #444444;
}

#primary-menu .sub-menu li:first-child a,
#primary-menu .children li:first-child a { 
	border-radius: 0 0 0 0; 
	border-top: none;
}

#primary-menu .sub-menu li.last a,
#primary-menu .children li.last a { 
	border-radius: 0 0 3px 3px; 
	border-bottom: none;
}

/* THE BODY -------------------------------------------------------------------- */
#the_body{
	position:relative;
	z-index:1;
}

/* Slider -------------- */
#slider{
	background: url(images/slider_bg.gif) repeat;
	border-radius:3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	height:428px;
	margin:0 0 40px 0;
}

#archive #slider{
	height:300px;
	margin:0 0 30px 0;
}

#slider .item{
	padding:15px 0 10px 15px;
	width:595px;
	float:left;
}

.coda-slider { 
	padding: 10px; 
	width:580px;
	overflow:hidden;
	height:260px;
}

.slider_image{
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	float:left;
	width:275px;
	height:270px;
}

.slider_image a{
	height:270px;
	float:left;
}

#slider .details{
	float:left;
	margin:0 0 0 20px;
	width:275px;
}

#slider .cats{ margin:0 0 15px 0; }

#slider .date, #slider .date a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:11px;
	color:#8c8989;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
	margin: 2px 0 12px 0;
}

#slider .date a:hover{ color:#bfbfbf; }

#slider .cats span {
	display:block;
	float:left;
	padding:1px 5px 1px 5px;
	font-size:10px;
	color:#fff;
	background:#cc6633;
	border-radius:3px;
}

#slider .header h2{
	font-weight: normal;
	color:#dddddd;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	font-size:19px;
	margin:0 0 8px 0;
	line-height:26px;
}

#slider .header h2 a{ color:#dddddd; }

#slider .header h2 a:hover{ color:#fff; }

#slider .excerpt{
	color:#aeaeae;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
	line-height:21px;
	font-size:12px;
	
	/*IE 6 bug fix */
	margin-right:-3px;
}

#slider .header, 
#slider .cats, 
#slider .date, 
#slider .excerpt{
	width:275px;
	float:left;
}

#slider_nav{
	height:60px;
	padding:8px 0px 6px 25px;
	background:#171414;
	border-top:7px solid #1d1b1b;
	border-bottom:7px solid #1d1b1b;
	float:left;
}

#slider_nav li{
	float:left;
	margin-right:12px;
}

#slider_nav li a{
	height:60px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	float:left;
}

#slider_nav li a.current { 
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}

/* Post Columns, Post Grid, Category List -------------- */
.post_columns h4, 
.post_grid h4, 
.category_list h4, 
#sidebar .widget h4, 
#author h4, 
#related h4{
	background:url(images/header_bg.gif) center repeat-x;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#cc6633;
	margin:0 0 30px 0;
}

.post_grid h4{ width:620px; }

#author h4, 
#related h4{ width:610px; }

.post_columns h4 span, 
.post_grid h4 span, 
.category_list h4 span, 
#sidebar .widget h4 span, 
#author h4 span, 
#related h4 span{
	background: url(images/body_bg.gif) repeat;
	padding:0 10px 0 10px;
	margin:0 0 0 19px;
}

.category_list h4{ margin:0 0 15px 0; }

.category_list h4 a{ color:#cc6633; }

.category_list h4 a:hover{ color:#444444; }

.post_columns .column{
	width:190px;
	float:left;
	margin:0 25px 40px 0;
	min-height: 400px;
}

.post_grid, .category_list, .tab{
	margin:0 0 28px 0;
	float:left;
}

.post_columns .column.last{ margin:0 0 40px 0; }

.post_columns .column .image a{
	width:184px;
	height:144px;
}

.category_list li .image a, 
.tab li .image a{
	width:45px;
	height:45px;
}

#author .image{
	width:80px;
	height:80px;
	float:left;
}

.category_list h5{ line-height:17px; }

.full_posts .image a{
	display:block;
	width:109px;
	height:109px;
}

.full_posts .image{ float:left; }

#related .column .image a{
	display:block;
	width:130px;
	height:94px;
	float:left;
}

#comments li .image a{
	float:left;
	width:61px;
	height:61px;
}

#comments li .image{
	float:left;
	width:61px;
	height:61px;
}

.category_list li .image, 
.full_posts .image{ margin:0 14px 0 0; }

.post_columns .column .image a, 
.post_grid li a, 
.category_list li .image a, 
.tab li .image a, 
.flickr div a, 
.full_posts .image a, 
#content img, 
#author .image, 
#related .column .image a, 
#comments li .image{
	padding:2px;
	border:1px solid #c6c6c6;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	margin:0 0 27px 0; 
	display:block;
}

.post_columns .column .image a:hover, 
.category_list li .image a:hover, 
.tab li .image a:hover, 
.full_posts .image a:hover, 
#related .column .image a:hover, 
#comments li .image a:hover{ border:1px solid #999; }


.post_columns .column h3, 
#related .column h3 a{
	display:block;
	color:#444444;
	font-size:14px;
	font-weight:normal;
	line-height:25px;
	margin: 0 0 15px 0;
	line-height:24px;
}

.post_columns h3 a{ color:#444444; }

.post_columns h3 a:hover, 
#related .column h3 a:hover{ color:#cc6633; }

.post_columns .column .date, 
.category_list li .details .date, 
.tab li .details .date, 
.full_posts .details .date{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:11px;
	color:#aaaaaa;
	margin: 0 0 15px 0;
}

.category_list li .details .date, 
.category_list li .details .date a, 
.tab li .details .date, 
.tab li .details .date a, 
.full_posts .details .date a{ margin:0; }

.post_columns .column .date a, 
.category_list li .details .date a, 
.tab li .details .date a, 
.full_posts .details .date a{ color:#aaaaaa; }

.post_columns .column .date a:hover, 
.category_list li .details .date a:hover, 
.tab li .details .date a:hover, 
.full_posts .details .date a:hover{ color:#444444; }

.post_columns .column .excerpt p{
	font-size:12px;
	line-height:20px;
}

.post_grid li{
	float:left;
	margin:0 12px 12px 0;
}

.category_list ul,
.post_grid ul, 
.tab ul{ float:left; }

.post_grid li a{
	width:61px;
	height:61px;
	margin:0;
}

.post_grid li.last{ margin:0 0 12px 0; }

.post_grid li a:hover, 
.flickr div a:hover{ border:1px solid #999; }

.category_list li, .tab li{
	float:left;
	border-bottom:1px solid #e2e2e2;
	padding:15px 0 15px 0;
}

.category_list li.last, 
.tab li.last{ border:none; }

.category_list li .image, 
.tab li .image{ float:left; }

.category_list li .image a, 
.tab li .image a{ margin:0; }

.category_list li .details{
	float:left;
	width:226px;
}

.category_list li .details h5 a, 
.tab li .details h5 a, 
.full_posts .details h5 a{
	font-size:12px;
	font-weight:normal;
	color:#444444;
}

.category_list li .details h5 a:hover, 
.tab li .details h5 a:hover, 
.full_posts .details h5 a:hover{ color:#cc6633; }

/* Footer -------------------------------------------------------------------- */
#footer_border{
	height:8px;
	border-bottom:1px solid #fff;
	/* IE fix */
	font-size:1px;
	width:100%;
	background:url(images/footer_border.gif) repeat;
	margin:20px 0 70px 0;
}

#footer{
	background:url(images/footer_bg.gif) repeat;
	color:#8c8989;
}

#footer_bottom{
	margin:35px 0 0 0;
	padding:25px 0 0 0;
	background:url(images/footer_bottom_bg.gif) repeat;
}

#footer #footer_bottom p{ font-size:11px; }

#footer h4{
	background:url(images/footer_header_bg.gif) center repeat-x;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#dddddd;
	margin:0 0 30px 0;
}

#footer h4 span{
	background:url(images/footer_bg.gif) repeat;
	padding:0 10px 0 10px;
	margin:0 0 0 19px;
}

#footer .widget{ margin:0 0 25px 0; }

#footer p, 
#footer .zilla-tweet-widget{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
	font-size:12px;
	margin:0 0 25px 0;
}

#footer .zilla-tweet-widget li{ padding-bottom:15px; }
	
#footer .zilla-tweet-widget{ margin: 0 0 20px 0; }

#sidebar .zilla-tweet-widget{ margin:0 0 25px 0; }
	
#sidebar .zilla-tweet-widget li{
	border-bottom:1px solid #ebebeb;
	border-top: 1px solid #fff;
	padding:10px 0;
	margin:0;
}

#sidebar .zilla-tweet-widget li.first{
	border-bottom:1px solid #ebebeb;
	border-top:none;
	padding:0 0 10px 0;
}

#sidebar .zilla-tweet-widget li:last-child{
	border-bottom:none;
	border-top: 1px solid #fff;
	padding:10px 0 25px 0;
}

#sidebar .zilla-tweet-widget a{
	color:#cc6633;
	border-bottom:1px solid #e2e2e2;
}

#sidebar .zilla-tweet-widget .twitter-time-stamp,
#footer .zilla-tweet-widget .twitter-time-stamp {
	border-bottom: none;
	color: #aaaaaa;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-style: italic;
}

#sidebar .zilla-tweet-widget .twitter-time-stamp:hover { 
	border-bottom: none; 
	color: #444444;
}

#footer .zilla-tweet-widget .twitter-time-stamp:hover { 
	border-bottom: none; 
	color: #ffffff;
}

#sidebar .zilla-tweet-widget a:hover { border-bottom:1px solid #f1cba5; }

#footer a{ color:#bfbfbf; }

#footer a:hover{ color:#fff; }

#footer li{
	padding:10px 0 12px;
	background: url(images/footer_bevel.gif) left bottom repeat-x;
	margin:0;
}

#footer li.first, 
#footer li:first-child{
	padding: 0 0 12px 0;
	margin:0;
}

#footer li:last-child{
	background: none;
	border-bottom:none;
}

/* Sidebar -------------------------------------------------------------------- */
#sidebar{
	float:left;
	width:300px;
}

#sidebar p{ margin:0 0 15px 0; }

#sidebar .widget{
	float:left;
	margin:0 0 35px 0;
	width:300px;
}

#sidebar .widget input{
	width:278px;
	margin:0;
}

#sidebar .widget .details{
	float:left;
	width:70px;
}

/* Twitter & RSS -------------- */
#sidebar .tz_rsstwitter_widget { margin: 0 0 25px 0; }

.rss_widget, 
.twitter_widget{ float:left; }

.rss_widget{ padding:0 25px 0 25px; }

.twitter_widget{ padding:0 25px 0 0; }

span.icon{
	float:left;
	margin:5px 10px 0 0;
}

span.count{
	float:left;
	font-size:21px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

a span.count{
	color:#444444;
	float:left;
}

span.desc{
	float:left;
	font-size: 11px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

a span.desc{
	color:#888888;
	float:left;
}

a:hover span.desc{ color:#444444; }

/* Advert -------------- */
#sidebar .advert li{
	float:left;
	margin:0 0 10px 0;
}

#sidebar .advert li a{
	width:125px;
	height:125px;
	display:block;
	background:url(images/header_advert_border.gif) repeat;
	padding:10px;
}

#sidebar .advert li a:hover{ background:url(images/header_advert_border_hover.gif) repeat; }

#sidebar .advert li.left{ margin:0 10px 10px 0; }

/* TABS -------------- */
.tz_tab_widget .tabs{
	float:left;
	background: url(images/header_advert_border.gif) repeat;
	padding:10px;
	border-radius:4px;
}

.tz_tab_widget .tab_wrap{
	background:#fff;
	border:1px solid #d2d2d2;
	border-radius:4px;
	float:left;
}

.tz_tab_widget .tabs ul.nav{
	float:left;
	background:url(images/nav_bg.gif) repeat;
	width:280px;
	height:43px;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.tz_tab_widget .tabs ul.nav li a{
	display:block;
	padding:12px 0 11px 0;
	text-align:center;
	background:url(images/tab_border.gif) repeat-y left;
}

.tz_tab_widget .tabs ul.nav li a:hover{ background:url(images/tab_border.gif) repeat-y left #fff; }

.tz_tab_widget .tabs ul.nav li{
	float:left;
	width:25%;
	border-bottom:1px solid #d9d9d9;
}

.tz_tab_widget .tabs ul.nav li.tab_nav_1{ width:25%; }

.tz_tab_widget .tabs ul.nav li.tab_nav_2{ width:25%; }

.tz_tab_widget .tabs ul.nav li.tab_nav_3{ width:30%; }

.tz_tab_widget .tabs ul.nav li.tab_nav_4{ width:20%; }

.tz_tab_widget .tabs ul.nav li.ui-tabs-selected,
.tz_tab_widget .tabs ul.nav li.ui-tabs-active{ border-bottom:none; }

.tz_tab_widget .tabs ul.nav li.ui-tabs-selected a,
.tz_tab_widget .tabs ul.nav li.ui-tabs-active a{ background:url(images/tab_border.gif) repeat-y left #fff; }

.tz_tab_widget .tabs ul.nav li.first a{
	background-image:none;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
}

.tz_tab_widget .tabs ul.nav li.first a:hover{ background-image:none; }

.tz_tab_widget .tabs ul.nav li.last a{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.tz_tab_widget .tabs .tab{
	float:left;
	padding:0;
	margin:0;
}

.tz_tab_widget .tab li{
	float:left;
	padding:12px 18px;
	width: 244px;
}

.tz_tab_widget .tab li:first-child { padding: 20px 18px 12px 18px; }

.tz_tab_widget .tabs .tab_tags { padding: 15px; }

.tz_tab_widget .tab_tags a{
	float:left;
	display:block;
	padding:3px 8px;
	background:#efefef;
	color:#444;
	margin: 0 4px 4px 0;
	border-radius: 3px;
}

.tz_tab_widget .tab_tags a:hover{
	background:#cc6633;
	color:#fff;
}

.tz_tab_widget .tab li .image{ float:left; }

.tz_tab_widget .tab li .details{
	float:left;
	margin:0 0 0 14px;
}

.tz_tab_widget .tab li .details h5, .tab li .details .date{
	float:left;
	width:175px;
}

.tz_tab_widget .tab li .details h5 a{
	float:left;
	cursor:pointer;
}

/* Search -------------- */
#sidebar .widget_search { margin: 0 0 25px 0; }

/* Video -------------- */
.video{
	padding:5px;
	background:url(images/header_advert_border.gif) repeat;
	float:left;
}

/* Flickr -------------- */
#sidebar .widget .flickr div{
	float:left;
	margin:0 10px 10px 0;
}

#sidebar .widget .flickr img{
	width:61px;
	height:61px;
}

#sidebar .flickr div.last{ margin:0 0px 10px 0px; }

#sidebar .flickr div a{
	float:left;
	display:block;
	width:61px;
	height:61px;
	margin:0;
}

#footer .widget .flickr div{
	float:left;
	margin:0 10px 10px 0;
}

#footer .widget .flickr img{
	width:60px;
	height:60px;
}

#footer .flickr div.last{ margin:0 0px 10px 0px; }

#footer .flickr div a{
	float:left;
	display:block;
	width:60px;
	height:60px;
	margin:0;
	padding:2px;
	border:1px solid #221e1e;
	background:url(images/footer_bg.gif) repeat;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.post_grid li a:hover, 
.flickr div a:hover{ border:1px solid #999; }

/* Half widgets -------------- */
.widget .half{
	width:140px;
	margin:0 20px 0 0;
	float:left;
}

.widget .half.last{ margin:0 0px 0 0; }

.widget .half .wrap{ margin:0 0px 25px 0; }

.sidebar_ad{ float:left; }

.sidebar_ad a{
	display:block;
	padding:10px;
	height:240px;
	float:left;
	background:url(images/header_advert_border.gif) repeat;
}

.sidebar_ad a:hover{ background:url(images/header_advert_border_hover.gif) repeat; }

.widget li a{ color:#444444; }

.widget li a:hover{ color:#cc6633; }

.widget li{ margin:0 0 5px 0; }

/* archive list -------------- */
.full_posts .details h5 a{ font-size:14px; }

.full_posts li{
	float:left;
	width:610px;
	border-top:1px solid #e2e2e2;
	padding:25px 0 25px 0;
}

.full_posts li.first{
	border-top:none;
	padding:5px 0 25px 0;
}


.full_posts li .image a{ margin:0; }

.full_posts .details h5{
	font-size:14px;
	margin:0 0 5px 0;
}

.full_posts .details{ float:left; }

.full_posts .details.no_thumb p{ width:610px; }

.full_posts .details p{
	margin:11px 0 0 0;
	padding:0;
	font-size:12px;
	line-height:20px;
	width:480px;
}

/* Pagination -------------- */
.pagination{
	width:620px;
	float:left;
	border-top:1px solid #e2e2e2;
	padding:45px 0 45px 0;
}

.pagination.comments{ border:none; }

.pagination span.pages{
	float:left;
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:12px;
	color:#666666;
	padding:3px 20px 0 0;
}

.pagination a, .pagination span.current{
	display:block;
	float:left;
	padding:3px 9px 2px 9px;
	border:1px solid #c6c6c6;
	color:#999;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	margin:0 6px 0 0;
}

.pagination a:hover{
	border:1px solid #999;
	color:#444444;
}

/* Breadcrumb -------------- */
.breadcrumb{
	padding:7px 15px 7px 15px;
	background:url(images/header_advert_border.gif) repeat;
	border-radius:3px;
	font-size:11px;
	color:#666;
	margin:0 0 25px 0;
}

.single .breadcrumb, 
.page .breadcrumb { width: 580px; }

#fullwidth .breadcrumb { width: 910px!important; }

.breadcrumb a{ color:#666; }

.breadcrumb a:hover{ color:#444444; }

.description.archive p{ width:620px; }

.description p, 
.description h1, 
.error p, 
.error h1{
	width:610px;
	float:left;
	font-size:12px;
	padding:0 0 25px 0;
	background:url(images/header_bg.gif) repeat-x bottom;
	margin:0 0 25px 0;
}

.error p, .error h1{
	background:none;
	margin:0;
}

.description h1, .error h1{
	font-size:22px;
	font-weight:normal;
	margin:0 0 18px 0;
	line-height:28px;
	width:100%;
}

.description{
	float:left;
	width:100%;
}

.single .description, 
.page .description { width: 610px; }

#fullwidth .description { width: 940px; }

.error input{
	width:350px;
	margin:0 0 25px 0;
}

/* meta -------------- */
.meta{
	float:left;
	width:610px;
	font-size:11px; font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#999;
	margin:0 0 18px 0;
}

.meta a{ color:#999; }

.meta a:hover{ color:#444444; }

/* Main Content -------------- */
.single #content, 
.page #content { width: 610px; }

#fullwidth #content { width: 940px; }

#content form{
	display:block;
	float:left;
	padding:25px 0 0 0;
}

#content form p{
	float:left;
	width:100%;
	margin:0 0 10px 0;
}

#content input{
	margin:0 18px 0 0;
	width:45%;
}

#content textarea{
	margin:0 0 0 0;
	width:585px;
	float:left;
}

#content label{
	width:100%;
	display:block;
	float:left;
	padding:0 0 5px 0;
}

#content button{
	background:url(images/button_bg.gif) repeat-x;
	border-radius:3px;
	float:left;
	cursor:pointer;
	width:auto;
	color:#666666;
	font-size:13px;
	font-weight:bold;
	border:1px solid #d5d5d5;
	padding:10px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#content button:hover{ background:#fff; }

label.error{
	color:#F00;
	font-style:italic;
	margin: 10px 0 0;
}

#content img{ margin: 0 0 30px 0; }

#content ul li{ list-style:inside disc; }

#content ul, 
#content ol{ margin:0 0 25px 30px; }

#content ul ul, 
#content ol ol{ margin:0 0 0 0; }

#content li li{ margin:0 0 0 15px; }

#content ol li{ list-style:inside decimal; }

#content p{
	font-size:12px;
	line-height:22px;
	margin:0 0 30px 0;
}

#content span.one_half{
	float:left;
	width:48%;
	padding:0 20px 25px 0;
}

#content span.one_third{
	float:left;
	width:31%;
	padding:0 20px 25px 0;
}

#content span.one_half.last, 
#content span.one_third.last{ padding:0 0 25px 0; }

#content a, 
#author a, 
.comment .details p a{
	color:#cc6633;
	border-bottom:1px solid #e2e2e2;
}

#content a:hover, 
#author a:hover, 
.comment .details p a:hover { border-bottom:1px solid #bbb; }

#content img.alignleft{
	float:left;
	margin:0 30px 25px 0;
}

#content img.alignright{
	float:right;
	margin:0 0 25px 30px;
}

#content .wp-caption img{
	float:left;
	margin:0;
}

#content .wp-caption p{
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:11px
}

#content .wp-caption.alignleft{
	float:left;
	margin:0 30px 25px 0;
}

#content .wp-caption.alignright{
	float:right;
	margin:0 0 25px 30px;
}

.alignright{
	float:right;
	margin:0 0px 25px 30px;
}

#content blockquote{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	line-height:22px;
	background:url(images/quote.png) no-repeat top left;
	padding:0 50px 0 50px;
	margin:0 0 30px 50px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
	margin:0 0 25px 0;
	font-weight: normal;
}

/* Author bio -------------- */
#author{ margin:30px 0 20px 0; }

#author p{
	padding:0 0 0 20px;
	float:left;
	width:510px;
	line-height:22px;
}

/* Related posts -------------- */
#related{ margin: 0 0 60px 0; }

#related .column{
	width:136px;
	margin:0 22px 0 0;
	float:left;
}

#related .column h3 a{
	font-size:12px;
	line-height:20px;
}

#related .column .image a{ margin:0px 0 15px 0; }

#related .column.last{ margin:0 0 0 0; }

/* Comments -------------- */
#comments{ margin:0 0 40px 0; }

#comments h3, #respond h3{
	font-weight:normal;
	font-size:16px;
	display:block;
	float:left;
	width:610px;
	padding:0 0 20px 0;
	background:url(images/header_bg.gif) repeat-x bottom;
	margin:0 0 0px 0;
}

#comments .image{ float:left; }

#comments ol{ margin:25px 0 0 0; }

#comments ol.pinglist li{
	padding:0;
	margin:0;
	border:none;
	width:100%;
}

#comments ol.pinglist li a{ font-weight:normal; }

#comments h3.pingheader{ margin:80px 0 0 0; }

#comments ol, #comments ul{
	width:610px;
	float:left;
}

#comments ol ul{
	width:510px;
	float:left;
	border-left:1px solid #e2e2e2;
	margin:15px 0 0 30px;
	padding:15px 0 0 50px
}


#comments ol ul ul{
	width:470px;
	margin:8px 0 0 30px;
}

#comments ol ul ul ul{ width:451px; }

#comments ol ul ul ul ul{ width:397px; }

#comments ol ul ul ul ul ul{ width:344px; }

#comments ol ul .line{
	width:30px;
	height:50px;
	position:absolute;
	border-bottom:1px solid #e2e2e2;
	margin:-10px 0 0 -50px;
}

#comments ol ul li{
	padding:17px 0px 17px 0px;
	border:none;
}

#comments ol ul .details {
	margin: 0 0 0 20px;
	float:left;
	width:415px;
}

#comments ol ul ul .details { width:325px; }

#comments ol ul ul ul .details { width:270px; }

#comments ol ul ul ul ul .details { width:240px; }

#comments ol ul ul ul ul .details { width:180px; }

#comments ol li{
	padding:27px 10px 27px 10px;
	border-bottom:1px solid #e2e2e2;
	float:left;
}

#comments ul li{ padding:27px 0 27px 0; }

#comments .details {
	margin: 0 0 0 20px;
	float:left;
	width:500px;
}

#comments .details .name span.date{
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#999;
	font-style:italic;
	padding-left: 5px;
}

#comments .details .name span.date a{ color:#999; }

#comments .details .name a{ font-size:12px; }

#comments .details .name{ margin:0 0 15px 0; }

#comments .details .name span.author a:hover, 
#comments .details .name span.date a:hover, 
#respond a:hover, ol.pinglist li a:hover{ color:#cc6633; }

#comments .details .name span.author a, #respond a, ol.pinglist li a{
	font-weight:bold;
	color:#444444;
}

/* respond -------------- */
#respond form{
	display:block;
	float:left;
	padding:25px 0 0 0;
}

#respond{
	float:left;
	width:610px;
	margin: 40px 0 0 0;
}

ul #respond, ul #respond h3{width:520px;}
ul #respond textarea{width:490px;}

ul ul #respond, ul ul #respond h3{width:370px;}
ul ul #respond textarea{width:340px;}

ul ul ul #respond, ul ul ul #respond h3{width:290px;}
ul ul ul #respond textarea{width:260px;}

#respond p{
	float:left;
	width:100%;
	margin:0 0 20px 0;
}

#respond input{
	margin:0 18px 0 0;
	width:45%;
	float: left;
}

#respond textarea{
	margin:0 0 0 0;
	width:585px;
	float:left;
}

#respond label, .cancel-comment-reply{
	display:block;
	float:left;
	padding:10px 0 0 0;
}

#respond input.btn{
	background:url(images/button_bg.gif) repeat-x;
	border-radius:3px;
	float:left;
	cursor:pointer;
	width:auto;
	color:#666666;
	font-size:13px;
	font-weight:bold;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #d5d5d5;
}

/* Mandatory styling for tabs */
.ui-tabs .ui-tabs-hide { display: none; }

.nav-next{ float:left; }

.nav-previous{ float:right; }

/* Columns */
.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_third { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 79.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.column-last {
	margin-right: 0!important;
	clear: right;
}

/* Buttons */
a.button {
	height: 20px;
	display: inline-block;
	margin: 0 5px 20px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	padding: 8px 10px 0 10px;
	border-radius: 3px;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
	   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
    		box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
}

a.button.large {
	height: 24px;
	padding: 11px 10px 0 10px;
	font-size: 14px;
	line-height: 14px;
}

a:hover.button { background-position: 0 -28px; }
a:hover.button.large { background-position: 0 -35px; }

a.button.white {
	background-image: url(images/shortcodes/buttons/button_white.png);
	border: 1px solid #d3d3d3 !important;
	color: #555555 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
}

a.button.large.white { background-image: url(images/shortcodes/buttons/button_white_large.png); }
a:hover.button.white { border: 1px solid #c4c4c4 !important; }

a.button.grey {
	background-image: url(images/shortcodes/buttons/button_grey.png);
	border: 1px solid #b5b5b5 !important;
	color: #555555 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.grey { background-image: url(images/shortcodes/buttons/button_grey_large.png); }
a:hover.button.grey { border: 1px solid #989898 !important; }

a.button.red {
	background-image: url(images/shortcodes/buttons/button_red.png);
	border: 1px solid #df6f8b !important;
	color: #913944 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.3);
}

a.button.large.red { background-image: url(images/shortcodes/buttons/button_red_large.png); }
a:hover.button.red { border: 1px solid #c36079 !important; }

a.button.orange {
	background-image: url(images/shortcodes/buttons/button_orange.png);
	border: 1px solid #f5b74e !important;
	color: #996633 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.orange { background-image: url(images/shortcodes/buttons/button_orange_large.png); }
a:hover.button.orange { border: 1px solid #d29a3a !important; }

a.button.green {
	background-image: url(images/shortcodes/buttons/button_green.png);
	border: 1px solid #adc671 !important;
	color: #5d7731 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.green { background-image: url(images/shortcodes/buttons/button_green_large.png); }
a:hover.button.green { border: 1px solid #8bb14d !important; }

a.button.teal {
	background-image: url(images/shortcodes/buttons/button_teal.png);
	border: 1px solid #90c6c8 !important;
	color: #437b7d !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.teal { background-image: url(images/shortcodes/buttons/button_teal_large.png); }
a:hover.button.teal { border: 1px solid #7db9bb !important; }

a.button.blue {
	background-image: url(images/shortcodes/buttons/button_blue.png);
	border: 1px solid #8dc5da !important;
	color: #42788e !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.blue { background-image: url(images/shortcodes/buttons/button_blue_large.png); }
a:hover.button.blue { border: 1px solid #7caec0 !important; }

a.button.navy {
	background-image: url(images/shortcodes/buttons/button_navy.png);
	border: 1px solid #a2afb8 !important;
	color: #515f6a !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.navy { background-image: url(images/shortcodes/buttons/button_navy_large.png); }
a:hover.button.navy { border: 1px solid #8996a0 !important; }

a.button.purple {
	background-image: url(images/shortcodes/buttons/button_purple.png);
	border: 1px solid #bc9db9 !important;
	color: #7b5777 !important;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.purple { background-image: url(images/shortcodes/buttons/button_purple_large.png); }
a:hover.button.purple { border: 1px solid #a482a0 !important; }

a.button.black {
	background-image: url(images/shortcodes/buttons/button_black.png);
	border: 1px solid #4c4c4c !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.4);
}

a.button.large.black { background-image: url(images/shortcodes/buttons/button_black_large.png); }
a:hover.button.black { border: 1px solid #2c2c2c !important; }

/* Alerts ------------------------------*/
.alert {
    padding: 12px 5% 12px 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    margin: 0 0 20px 0;
}

.alert.white {
    background: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    color: #444444;
}

.alert.red {
    background: #FFD7D8;
    border-top: 1px solid #f9bac7;
    border-bottom: 1px solid #f9bac7;
    color: #d54c4c;
}

.alert.orange {
    background: #FFCBA8;
    border-top: 1px solid #efd1b1;
    border-bottom: 1px solid #efd1b1;
    color: #cc6600;
}

.alert.green {
    background: #D5FFCA;
    border-top: 1px solid #cadba7;
    border-bottom: 1px solid #cadba7;
    color: #5f8b33;
}

/* Tabs ------------------------------*/
#content .ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

#content .tabs { margin: 0 0 20px 0; }

#content .tabs ul.nav {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	height: 31px;
}

#content .tabs ul.nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0;
	z-index: 10;
	list-style:  none;
	border-bottom: none !important;
}

#content .tabs ul.nav li a {
	border: 1px solid #EFEFEF;
	border-bottom: none !important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 25px;
	background: #FBFBFB;
	border-radius: 3px 3px 0 0;
}

#content .tabs ul.nav li a:hover { background:  none; }

#content .tabs ul.nav li.ui-tabs-selected a,
#content .tabs ul.nav li.ui-tabs-active a {
	height: 26px;
	background: #fff;
}

#content .tabs .tab {
	background: #fff;
	padding: 10px;
	border: 1px solid #EFEFEF;
	clear: left;
	width: 100%;
}

/* Toggle ------------------------------*/
.toggle { margin: 0 0 20px 0; }

.toggle h4 {
	font-size: 12px;
	padding: 10px; 
	background: #FBFBFB;
	border: 1px solid #EFEFEF;
	cursor: pointer;
	margin: 0 !important;
}

.toggle-inner {
	padding: 10px;
	background: #fff;
	border: 1px solid #EFEFEF;
	border-top: none;
}

.toggle .ui-icon {
	background: #F00;
	width: 10px;
	height: 10px;
	float: left;
	margin: 3px 10px 0 0;
}

.toggle .ui-icon {
    background: url(images/shortcodes/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    margin: 3px 10px 0 0;
}

.toggle .ui-state-active .ui-icon { background: url(images/shortcodes/toggles/toggle-open.png) no-repeat; }

.gallery {
	float: left;
	width: 100%;
}

.gallery-item {
	width: auto !important;
	float: left;
	margin:  10px 10px 0 0 !important;
}

.gallery-item img {
	margin: 0 !important;
	padding:  0 !important;
}

.gallery-item a {
	float: left;
	border: none !important;
	margin:  0 !important;
	padding: 0 !important;
}

.wp-caption-text {}

.sticky {}

.gallery-caption {}

.bypostauthor {}

.aligncenter {}