/* General styles for all menus */
.cbp-spmenu {
	background: #222;
	position: fixed;
	overflow: scroll;
}

.cbp-spmenu h3 {
	color: #999;
	font-size: 1.9em;
	padding: 10px 20px;
	margin: 0;
	font-weight: 300;
	background: #222;
	border-bottom: 1px solid #333;
}

.cbp-spmenu a {
	display: block;
	color: white;
	font-size: 1.1em;
	font-weight: normal;
}

.cbp-spmenu a small {
	color: #999;
}

.cbp-spmenu a:hover {
	background: #333;
}

.cbp-spmenu a:active {
	background: #333;
	color: #999;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 360px;
	height: 100%;
	top: 0;
	z-index: 110000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #333;
	padding: 1em;
	position: relative;
}

.cbp-spmenu-vertical .tenscores_category {
	position: absolute;
    top: 5px;
    font-size: 9px;
    text-transform: uppercase;
    right: 13px;
    color: #666;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -360px;
}

.cbp-spmenu-right {
	right: -360px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 360px;
}

.cbp-spmenu-push-toleft {
	left: -360px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	transition: all 0.7s ease;
}


/* Chris additions */

.right-menu-control {
	max-width: 65px;
	margin: auto;
	height: 5px;
	float: right;
  margin-right: 32px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.right-menu-control:hover {
	margin-right: 37px;
}
#showRightPush {
	position: fixed;
	margin-top: 100px;
	width: 40px;
	height:50px;
	z-index: 10;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	outline:none;
}
#showRightPush:hover {
	background: #fff;
}
#showRightPush i.icon-angle-left {
	transform:translateX(-5px);
	-webkit-transform:translateX(-5px);
}
.right-menu-control button.active {
	background:#fff;
	box-shadow: none;
	-webkit-box-shadow: none;
}

body.cbp-spmenu-push-toleft .flare-vertical,
body.cbp-spmenu-push-toleft #bottom-form {
	display:none;
}

.close-bar {
	display:none;
}

.cbp-spmenu-push-toleft .open-bar {
	display:none;
}
.cbp-spmenu-push-toleft .close-bar {
	display:inline;
}


/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

	#showRightPush {
		margin-top: 180px;
		width: 30px;
	}

	.right-menu-control {
		margin-right: 27px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 240px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -240px;
	}

	.cbp-spmenu-right {
		right: -240px;
	}

	.cbp-spmenu-push-toright {
		left: 240px;
	}
}
